.container-jerarquia {
  border: 1px solid #e4e3e3;
  padding-right: 12px;
  color: gray;
  background: #f9f9f9;
  max-width: 361px;
  // margin-left: 14px;
}

.container-jerarquia button {
  font-size: 11px;
  border: 1px solid #c3c2c2;
}