<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuario </h1>
      <span>formulario de ingreso</span>
    </div>
    <div class="col">
      <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="goBack()"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-card [classCardHeader]="'bg-secondary text-white'">
    <ng-container card-body>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="formUser">
            <div class="row" id="caja_formulario">
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.username" [label]="'Usuario Guia'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.rut" [label]="'Documento identidad'"></app-input>
                <!-- <input id="documento-input" name="documento-input" formControlName="rut" maxlength="15" minlength="10" placeholder="xx.xxx.xxx-x" class="form-control" type="text">  -->
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.nombres" [label]="'Nombres'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.apellidos" [label]="'Apellidos'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.email" [label]="'Email'"></app-input>
                <!-- <input id="email-input" name="email-input" formControlName="email" placeholder="XXX@XXX.cl" class="form-control" type="email"> -->
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <label for="">Celular</label>
                <p-inputMask id="celular-input" name="celular-input" formControlName="celular" styleClass="form-control" mask="(99) 9 9999 9999" unmask="true">
                </p-inputMask>
                <br>
              </div>


              <div class="col-xs-12 col-md-4">
                <label for="">Tipo</label>
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <div class="p-field-radiobutton">
                      <p-radioButton id="movistar" name="provider" formControlName="provider" value="false"></p-radioButton>
                      <label for="movistar">Movistar</label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-7">
                    <div class="p-field-radiobutton">
                      <p-radioButton id="proveedor" name="provider" formControlName="provider" value="true"></p-radioButton>
                      <label for="proveedor">Proveedor</label>
                    </div>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-xs-12 col-md-4" id="proveedor_id">
                <app-select [control]="formControls.proveedor_id" label="Proveedor">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione proveedor</option>
                    <ng-container *ngFor="let proveedor of providers$ | async">
                      <option [value]="proveedor.id">
                        {{ proveedor.nombre }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
                <br>
              </div>
              <div class="col-xs-12 col-md-4" id="area_id">
                <app-select [control]="formControls.area_id" label="Área">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione área</option>
                    <ng-container *ngFor="let area of areas$ | async">
                      <option [value]="area.id">
                        {{ area.nombre }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
                <br>
              </div>

            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </app-card>
</div>