<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuario </h1>
      <span>formulario de ingreso</span>
    </div>
    <div class="col">
      <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="goBack()"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-card [classCardHeader]="'bg-secondary text-white'">
    <ng-container card-body>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="formUser">
            <div class="row" id="caja_formulario">
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.username" [label]="'Usuario Guia'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.rut" [label]="'Documento identidad'"></app-input>
                <!-- <input id="documento-input" name="documento-input" formControlName="rut" maxlength="15" minlength="10" placeholder="xx.xxx.xxx-x" class="form-control" type="text">  -->
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.nombres" [label]="'Nombres'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.apellidos" [label]="'Apellidos'"></app-input>
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <app-input [control]="formControls.email" [label]="'Email'"></app-input>
                <!-- <input id="email-input" name="email-input" formControlName="email" placeholder="XXX@XXX.cl" class="form-control" type="email"> -->
                <br>
              </div>
              <div class="col-xs-12 col-md-4">
                <label for="">Celular</label>
                <p-inputMask id="celular-input" name="celular-input" formControlName="celular" styleClass="form-control" mask="(99) 9 9999 9999" unmask="true">
                </p-inputMask>
                <br>
              </div>


              <div class="col-xs-12 col-md-4">
                <label for="">Tipo</label>
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <div class="p-field-radiobutton">
                      <p-radioButton id="movistar" name="provider" formControlName="provider" value="movistar"></p-radioButton>
                      <label for="movistar">Movistar</label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-7">
                    <div class="p-field-radiobutton">
                      <p-radioButton id="proveedor" name="provider" formControlName="provider" value="contratista"></p-radioButton>
                      <label for="proveedor">Contratista</label>
                    </div>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-xs-12 col-md-4" id="proveedor_id">
                <app-select [control]="formControls.proveedor_id" label="Proveedor">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione proveedor</option>
                    <ng-container *ngFor="let proveedor of providers$ | async">
                      <option [value]="proveedor.id">
                        {{ proveedor.nombre }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
                <br>
              </div>
              <div class="col-xs-12 col-md-4" id="area_id">
                <app-select [control]="formControls.area_id" label="Área">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione área</option>
                    <ng-container *ngFor="let area of areas$ | async">
                      <option [value]="area.id">
                        {{ area.nombre }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
                <br>
              </div>

              <div class="col-12 mb-2" id="contratos_marco">
                <label for="">Contratos</label>
                <div>
                  <p-multiSelect id="contratos_marco_multi" name="contratos_marco_multi" [style]="{'width':'100%'}" placeholder="Seleccionar contratos..." [options]="contracts$|async" formControlName="contratos_marco" optionLabel="nombre" optionValue="id" [virtualScroll]="true" itemSize="30">
                  </p-multiSelect>
                </div>
              </div>

              <div class="col-12">
                <label for="">Perfiles</label>
                <button (click)="addPerfil();" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-outlined float-right"></button>
                <hr>
              </div>

              <ng-container formArrayName="perfiles">
                <div class="ol-xs-12 col-md-4 mb-1 container-jerarquia">
                  <div style="text-align: center; color:#1f658a"><label for="">Jerarquía de perfiles</label></div>
                  <ul style="padding-left: 25px;
                  font-size: 14px;">
                    <li style="margin-bottom:14px" *ngFor="let superior of getSuperiores()">{{superior}} <button (click)="showPermisos(superior)">permisos</button>
                      <ul>
                        <li style="margin-top:6px" *ngFor="let sub of getSub(superior)"> {{sub}} <button (click)="showPermisos(sub)">permisos</button>
                          <ul>
                            <li style="margin-top:6px" *ngFor="let subsub of getSubSub(superior,sub)">{{subsub}} <button (click)="showPermisos(subsub)">permisos</button>
                              <ul>
                                <li style="margin-top:6px" *ngFor="let subsubsub of getSubSubSub(superior,sub,subsub)">{{subsubsub}} <button (click)="showPermisos(subsubsub)">permisos</button>
                                  <ul>
                                    <li style="margin-top:6px" *ngFor="let subsubsubsub of getSubSubSubSub(superior,sub,subsub,subsubsub)">{{subsubsubsub}} <button (click)="showPermisos(subsubsubsub)">permisos</button></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-md-4 mb-1" *ngFor="let perfil of formUser.value.perfiles; let i=index;">
                  <div class="card m-auto" style="width: 18rem;">
                    <ng-container [formGroupName]="i">
                      <div class="card-body" id="perfil_id">
                        <h5 class="card-title mb-1">Perfil</h5>
                        <select id="perfil-{{i}}" name="perfil_id-{{i}}" [formControl]="formControls.perfiles.controls[i].controls.perfil_id" (change)="changePerfil(i);" class="form-control mb-1">
                          <option value="null" selected disabled>Seleccione perfil</option>
                          <option *ngFor="let profile of profiles$ | async" [value]="profile.id">{{profile.nombre}}
                          </option>
                        </select>
                        <!-- <app-select [control]="formControls.perfiles.controls[i].controls.perfil_id" label="Perfil">
                          <ng-container options>
                            <option value="null" selected disabled>Seleccione perfil</option>
                            <ng-container *ngFor="let perfil of profiles$ | async">
                              <option [value]="perfil.id">
                                {{ perfil.nombre }}
                              </option>
                            </ng-container>
                          </ng-container>
                        </app-select> -->

                        <!-- <app-select [control]="formControls.perfiles.controls[i].controls.perfil_id" label="Superior directo">
                            <ng-container options>
                              <option value="null" selected disabled>Seleccione jefatura</option>
                              <ng-container *ngFor="let perfil of profiles$ | async">
                                <option [value]="perfil.id">
                                  {{ perfil.nombre }}
                                </option>
                              </ng-container>
                            </ng-container>
                          </app-select> -->

                        <h6 class="card-subtitle mb-1 mt-2 text-muted ">Superior directo</h6>
                        <select [formControl]="formControls.perfiles.controls[i].controls.persona_a_cargo_id" class="form-control mb-3">
                          <option value="null" selected disabled>Seleccione jefatura</option>
                          <option *ngFor="let higher of listMandatory(formUser.value.perfiles[i].perfil_id)" [ngValue]="higher.id">
                            {{higher.nombres}} {{higher.apellidos}}
                          </option>
                        </select>
                        <a *ngIf="formUser.value.perfiles.length > 1" (click)="deletePerfil(i);" class="card-link text-danger">Eliminar</a>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </app-card>

  {{formUser.value|json}}
</div>


<app-modal [display]="DisplayPermisosModal" (CloseEvent)="DisplayPermisosModal=false">
  <ng-container modal-header-title>Lista de Permisos del perfil</ng-container>
  <ng-container modal-content>
    <div class="row">
      <div *ngFor="let item of ModalDataPermissions" class="col-xs-12 col-md-4 pt-2" id="permisos-modulo-{{item.module}}">
        <p-listbox [options]="item.permissions" optionLabel="nombre_corto" optionDisabled="inactive" [disabled]="true">
          <ng-template pTemplate="header">
            {{item.module}}
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>