:host ::ng-deep {
  .card {
    font-size: 0.76rem;
  }

  input {
    height: 30px;
  }

  select {
    height: 35px;
    font-size: 0.79rem;
  }

  .tipoEmpresa {
    border: 1px solid #cecece;
    padding: 8px;
    width: 321px;
    padding-left: 24px;
  }

  .p-multiselect {
    border-color: #ced4da;
    height: 35px;
  }

  .p-multiselect-items-wrapper>ul {
    font-size: 0.79rem;
  }
}