<form novalidate autocomplete="off" [formGroup]="form">
  <label for="">Observaciones</label>
  <textarea formControlName="observaciones" class="form-control" placeholder="..." name="observaciones" id="observaciones" cols="30" rows="2"></textarea>

  <br>
  <h5>Adjuntar evidencias</h5>
  <p-fileUpload name="demo[]" #filesform auto="true" (uploadHandler)="onUpload($event)" (onRemove)="onDeleteFile($event)" customUpload="true" multiple="multiple" accept="image/*" maxFileSize="1000000">

  </p-fileUpload>
</form>