.login-card-description {
  font-family: Inter-Regular, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #6795a5;
  font-size: 25px;
  // font-weight: normal;
  margin-bottom: 23px;
}

.login-btn {
  padding: 13px 20px 12px;
  background-color: #00a9e0;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}