:host ::ng-deep {
  .card {
    font-size: 0.83rem;
  }

  input {
    height: 30px;
  }

  select {
    height: 35px;
    font-size: 0.79rem;
  }

  button {
    font-size: 0.83rem;
  }

  .p-listbox,
  .p-listbox-header .p-listbox-filter,
  .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
    font-size: 0.83rem;
  }

  .p-listbox .p-listbox-list .p-listbox-item {
    color: #545454;
  }

  .p-listbox-list-wrapper {
    height: 300px;
  }

  .p-listbox-header {
    font-weight: 600;
    color: #00507a;
    justify-content: center;
    background: #f9f9f9;
  }

  label {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .card {
    margin-top: 16px;
  }

  .card-header .fa {
    transition: 0.3s transform ease-in-out;
  }

  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }

  li {
    border: 0 none;
  }


}