<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Perfil </h1>
      <span>formulario perfil</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/profile/list-pro']" pButton type="button" label="volver" icon="pi pi-arrow-left"
        class="p-button-sm mt-5 float-right p-button-outlined "></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-card [classCardHeader]="'bg-secondary text-white'">
    <ng-container card-header-title>
    </ng-container>
    <ng-container card-header-actions>
      <span class="badge badge-pill badge-info  float-right">{{(permissionsOriginal$ | async).length}} permisos</span>
    </ng-container>
    <ng-container card-body>
      <div class="row">

        <div [formGroup]="formProfile" class="col-xs-12 col-md-4 pt-2">
          <div class="row">
            <div class="col-12">
              <label for="">Nombre perfil</label>
              <input formControlName="nombre" type="text" class="form-control">
            </div>

            <div class="col-12">
              <label for="">Descripción perfil</label>
              <textarea formControlName="descripcion" name="" id="" class="form-control" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="col-12 text-right mt-2 p-0">
            <button (click)="cancelAction();" class="btn btn-light mr-2"><em
                class="pi pi-refresh mr-1"></em>Cancelar</button>
            <button (click)="saveProfile();" [disabled]="!formProfile.valid || selectedItems.length === 0"
              class="btn btn-primary"><em class="pi pi-save mr-1"></em>Guardar</button>
          </div>
        </div>

        <div *ngFor="let item of (permissions$ | async)" class="col-xs-12 col-md-4 pt-2">
          <p-listbox [options]="item.permissions" optionValue="id" [(ngModel)]="selectedItems" checkbox="checkbox"
            [multiple]="true" [filter]="true" optionLabel="nombre_corto">
            <ng-template pTemplate="header">
              {{item.module}}
            </ng-template>
          </p-listbox>
        </div>

      </div>
    </ng-container>
  </app-card>


</div>