.card {
  margin-top: 16px;
}
.card-header .fa {
  transition: 0.3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

li {
  border: 0 none;
}

:ng-deep .p-listbox-list-wrapper {
  max-height: 300px;
  height: 300px;
  overflow-y: auto;
  min-height: 300px;
}
