<!-- <pre>{{carrito$|async|json}}</pre> -->
<form class="carrito-container" [formGroup]="formTable" >
    <table>
        <thead>
          <tr>
            <th colspan="7">Servicios</th>
            <th colspan="7">Unidad Obra</th>
          </tr>
          <tr>
            <th>Cod</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total Servicio</th>
            <th></th>
    
            <th>Cód</th>
            <th>Descripción</th>
            <th>Actividad</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total UO</th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="table">
            <ng-container *ngFor="let item of carrito$|async;let i = index" >
                <ng-container *ngIf="item.unidad_obras.length===1">
                    <tr zwc-base-td 
                        [item]="item" 
                        [controlServicioCantidad]="getControlServiceCantidad(item.servicio_id)" 
                        [controlUOCantidad]="getControlUOCantidad(item.servicio_id,item.unidad_obras[0].uo_codigo)"
                        (deleteServicio)="deleteServicioFromCarrito($event)"
                    >
                    </tr>
                </ng-container>
                <ng-container *ngIf="item.unidad_obras.length>1">
                  <tr zwc-base-td 
                      [item]="item"
                      [controlServicioCantidad]="getControlServiceCantidad(item.servicio_id)" 
                      [controlUOCantidad]="getControlUOCantidad(item.servicio_id,item.unidad_obras[0].uo_codigo)"
                      (deleteServicio)="deleteServicioFromCarrito($event)"
                  >
                 </tr>
                  <ng-container *ngFor="let uo of item.unidad_obras| slice:1; let iuo= index">
                    <tr zwc-multi-td 
                        [uo]="uo"
                        [controlUOCantidad]="getControlUOCantidad(item.servicio_id,uo.uo_codigo)"
                        [servicio_id]="item.servicio_id"
                        (deleteUO)="deleteUOFromServicioFromCarrito($event)"
                    >
                    </tr>
                  </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>

    <pre>{{formTable.value|json}}</pre>
    
</form>
