<!-- <pre>{{carrito$|async|json}}</pre> -->
<form class="carrito-container" [formGroup]="formTable" >
    <table  >
        <thead>
          <tr>
            <th colspan="7">Servicios</th>
            <th colspan="7">Unidad Obra</th>
          </tr>
          <tr>
            <th>Cod</th>
            <th>Descripción</th>
            <th>Esp.</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total Servicio</th>
            <th></th>
    
            <th>Cód</th>
            <th>Descripción</th>
            <th>Actividad</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total UO</th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="table">
            <ng-container *ngFor="let item of carrito$|async;let i = index" >
                <ng-container *ngIf="item.unidad_obras.length===1">
                    <tr zwc-base-td [item]="item"></tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</form>
