<table>
  <tr>
    <td><strong>Direccion desde</strong></td>
    <td>{{(detalleCubicacion$|async)?.data_cubicacion[0].direccion_desde}}</td>
    <td><strong>Altura</strong> </td>
    <td>{{(detalleCubicacion$|async)?.data_cubicacion[0].altura_desde}}</td>
  </tr>
  <tr>
    <td><strong>Direccion Hasta</strong> </td>
    <td>{{(detalleCubicacion$|async)?.data_cubicacion[0].direccion_hasta}}</td>
    <td><strong>Altura</strong> </td>
    <td>{{(detalleCubicacion$|async)?.data_cubicacion[0].altura_hasta}}</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td><strong>Descripción</strong></td>
  </tr>
  <tr>
    <td>{{(detalleCubicacion$|async)?.data_cubicacion[0].descripcion}}</td>
  </tr>
</table>

<br>
<div class="table-carrito">
  <table style="width:100%">
    <thead>
      <tr>
        <th colspan="9">Servicios</th>
        <th colspan="9">Unidad Obra</th>
      </tr>
      <tr>
        <th>Cod</th>
        <th>Descripción</th>
        <th>Esp.</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Precio</th>
        <th>Total Servicio</th>
        <th>Tipo Moneda</th>
        <th></th>

        <th>Cód</th>
        <th>Descripción</th>
        <th>Actividad</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Precio</th>
        <th>Total UO</th>
        <th>Tipo Moneda</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of carrito$|async;let i = index">
        <ng-container *ngIf="item.unidades_obras.length===1">
          <tr>
            <td class="label-table">{{item.servicio_codigo}}</td>
            <td class="data-primaria">{{item.servicio_nombre}}</td>
            <td class="data-secundaria">{{item.tipo_servicio_descripcion|titlecase}}</td>
            <td>
              {{item.servicio_cantidad}}
            </td>
            <td>{{item.servicio_unidad_cod}}</td>
            <td class="data-secundaria">{{+item.servicio_precio_final/item.servicio_cantidad| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
            <td class="data-secundaria">{{+item.servicio_precio_final_clp | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td class="data-secundaria">{{item.servicio_tipo_moneda_codigo}}</td>
            <td>
            </td>

            <td class="label-table" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
            <td class="data-primaria">{{item.unidades_obras[0].uo_nombre}}</td>
            <td class="data-secundaria">{{item.actividad_descripcion|titlecase}}</td>
            <td class="data-secundaria">
              {{item.unidades_obras[0].uo_cantidad}}
            </td>
            <td>{{item.unidades_obras[0].uob_unidad_medida_cod}}</td>
            <td>{{item.unidades_obras[0].uo_precio_total_clp/+item.unidades_obras[0].uo_cantidad| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td>{{item.unidades_obras[0].uo_precio_total_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td class="data-secundaria">{{item.servicio_tipo_moneda_codigo}}</td>
            <td>
            </td>
          </tr>
        </ng-container>


        <ng-container *ngIf="item.unidades_obras.length>1">
          <tr>
            <td [attr.rowspan]="+item.unidades_obras.length" class="label-table">{{item.servicio_codigo}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length" class="data-primaria">{{item.servicio_nombre}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length" class="data-secundaria">{{item.tipo_servicio_descripcion|titlecase}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length">
              {{item.servicio_cantidad}}
            </td>
            <td [attr.rowspan]="+item.unidades_obras.length">{{item.servicio_unidad_cod}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length" class="data-secundaria">{{+item.servicio_precio_final/+item.servicio_cantidad| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length" class="data-secundaria">{{+item.servicio_precio_final_clp | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td [attr.rowspan]="+item.unidades_obras.length">{{item.servicio_tipo_moneda_codigo}}
            </td>
            <td [attr.rowspan]="+item.unidades_obras.length">
            </td>

            <td class="label-table" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
            <td class="data-primaria">{{item.unidades_obras[0].uo_nombre}}</td>
            <td class="data-secundaria">{{item.actividad_descripcion|titlecase}}</td>
            <td>
              {{item.unidades_obras[0].uo_cantidad}}
            </td>
            <td>{{item.unidades_obras[0].uob_unidad_medida_cod}}

            </td>
            <td>{{item.unidades_obras[0].uo_precio_total_clp/+item.unidades_obras[0].uo_cantidad| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td>{{item.unidades_obras[0].uo_precio_total_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td class="data-secundaria">{{item.servicio_tipo_moneda_codigo}}</td>
            <td>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="item.unidades_obras.length>1">
          <tr *ngFor="let uo of item.unidades_obras| slice:1; let iuo= index">
            <td class="label-table" style="background-color: #ff8e4e;">{{uo.uo_codigo}}</td>
            <td class="data-primaria">{{uo.uo_nombre}}</td>
            <td class="data-secundaria">{{item.actividad_descripcion|titlecase}}</td>
            <td>
              {{uo.uo_cantidad}}
            </td>
            <td>{{uo.uob_unidad_medida_cod}}</td>
            <td>{{uo.uo_precio_total_clp/uo.uo_cantidad| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td>{{uo.uo_precio_total_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td class="data-secundaria">{{item.servicio_tipo_moneda_codigo}}</td>
            <td>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- <div class="row" id="table-totales">
  <div class="col-9"></div>
  <div class="col-3">
    <table style="width: 100%;">
      <tr>
        <td>Total Servicios</td>
        <td>{{totalServicio| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td>Total Unidades Obra</td>
        <td>{{totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td style="background: #cccccc;
          font-size: 15px;">Total Cubicación</td>
        <td>{{totalServicio + totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
    </table>
  </div>
</div> -->