<!-- <p-confirmPopup></p-confirmPopup> -->
<div class="step-content">
    <p-card>
        <ng-template pTemplate="title">
            Configuración de orden de trabajo - Plan de proyecto
        </ng-template>
        <ng-template pTemplate="subtitle">
            Ingrese el plan de proyecto y el sitio
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="tipoot">Plan de proyecto</label>
                    <select name="tipoOT" id="tipoOT"  (change)="selectedPlan()"
                    [(ngModel)]="PlanInfomation.plandespliegue.plan_despliegue_id">
                        <option value=""></option>
                        <option *ngFor="let plan of PlanArr" value="{{plan.plandespliegue_id}}" >{{plan.plan}}</option>
                        <!-- <option value="321">LTE 700 - COMERCIAL</option>
                        <option value="384">SINGLE RAN - NEW</option> -->
                    </select>
                </div>
                <div class="p-field">
                    <label for="cubicacion">Sitio</label>
                    <select name="tipoOT" id="tipoOT" (change)="selectedSitio()"
                    [(ngModel)]="PlanInfomation.sitio.sitio_id">
                        <option value=""></option>
                        <option *ngFor="let sitio of SitiosArr" value="{{sitio.sitio_id}}" >{{sitio.nombre_sitio}}</option>
                    </select>     
                </div>

                <div class="ui info message" *ngIf="PlanInfomation.sitio.sitio_id!==''" >
                    <div class="header">
                      Detalles del plan de proyecto
                    </div>
                    <ul class="list">
                      <li>Codigo de proyecto: {{PlanInfomation.sitio.codigo}}</li>
                      <li>Nombre sitio:  {{PlanInfomation.sitio.nombre_sitio}}</li>
                      <li>Direcccion:  {{PlanInfomation.sitio.direccion}}</li>
                      <li>Latitud:  {{PlanInfomation.sitio.latitud}}</li>
                      <li>Longitud: {{PlanInfomation.sitio.longitud}} </li>
                    </ul>
                  </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <button class="ui green button" (click)="back()">Atras</button>
                <div  pTooltip="Debe ingresar todos los campos" tooltipPosition="top" ><button *ngIf="PlanInfomation.plandespliegue.plan_despliegue_id===''||PlanInfomation.sitio.sitio_id===''" class="ui blue button" disabled>Siguiente</button></div>
                <button class="ui blue button" *ngIf="PlanInfomation.plandespliegue.plan_despliegue_id!==''&&PlanInfomation.sitio.sitio_id!==''" (click) ="next()">Siguiente</button>
            </div>
        </ng-template>
    </p-card>
</div>

