<div [formGroup]="formCubicacion" class="row" id="box">
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-12 ">
        <label for="">Nombre</label>
        <div class="ng-autocomplete">
          <ng-autocomplete formControlName="nombre" [data]="autoSuggestData" [searchKeyword]="'name'" (selected)='NameSelectedDummy($event)' (inputChanged)='onChangeAutoSuggest($event)' (inputFocused)='onFocused($event)' (inputCleared)="inputCleared()" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <ng-container *ngIf="formCubicacion.controls['nombre'] as control">
          <ng-container *ngIf="control.invalid && control.errors.maxlength">
            <p-message severity="error" text="Debe tener a lo más {{ control.errors.maxlength.requiredLength }} caracteres de largo"></p-message>
          </ng-container>
        </ng-container>
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Contrato</label>
        <select formControlName="contrato_marco_id" class="form-control" name="" id="select-contratoMarco" name="select-contratoMarco">
          <option value="null" selected disabled>Seleccione contrato</option>
          <option *ngFor="let constract of contratosMarcos" [value]="constract.id">{{constract.nombre}}</option>
        </select>
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Proveedor</label>
        <select formControlName="subcontrato_id" [attr.disabled]="Providers ? Providers.length === 0 ? '' : null : null " class="form-control" name="" id="select-proveedor" name="select-proveedor">
          <option value="null" selected disabled>Seleccione proveedor</option>
          <option *ngFor="let provider of Providers" [value]="provider.subcontrato_id + '-' + provider.id">{{provider.nombre}}</option>
        </select>
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Región</label>
        <select formControlName="region_id" [attr.disabled]="Regions ? Regions.length === 0 ? '' : null : null" class="form-control" name="" id="select-region" name="select-region">
          <option value="null" selected disabled>Seleccione región</option>
          <option *ngFor="let region of Regions" [value]="region.id">{{region.nombre}}</option>
        </select>
        <br>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <label for="">Tipo Servicio</label>
    <select formControlName="tipo_servicio_id" [attr.disabled]="TypeServices ? TypeServices?.length === 0 ? '' : null : null" class="form-control mb-1" name="" id="select-tipoServicio" name="select-tipoServicio">
      <option value="null" selected disabled>Seleccione un tipo de servicio</option>
      <option *ngFor="let typeService of TypeServices" [value]="typeService.id">{{typeService.nombre}}
      </option>
    </select>

    <div style="height: 300px;max-height: 300px">
      <label for="">Servicios LPU</label>
      <p-listbox [metaKeySelection]="false" [options]="Services" [checkbox]="true" [filter]="true" formControlName="lpus" [multiple]="true" optionLabel="lpu_nombre" (onChange)="lpusSelectedDummy($event)" [listStyle]="{'max-height':'203px'}">
        <ng-template let-data pTemplate="item">
          <div class="country-item">
            <div>{{ data.lpu_nombre }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>


  <div class="col-12">
    <hr>

    <app-table [config]="ConfigTableResumen" #tableLpus [items]="lpusCarrito"></app-table>
    <span id="total"> <strong>Total:</strong> {{ total| currency : 'CLP' : '$':'.0-2':'es-CL' }}</span>

    <hr>

    <ng-container *ngIf="hasLPUWithZeroQuantity">
      <div class="text-right">
        <p-messages [(value)]="msgsLPUQuantityZero" [closable]="false"></p-messages>
      </div>
    </ng-container>
  </div>

  <div class="col-xs-12 col-md-12 text-right button-guardar-cubicacion">
    <ng-container *ngIf="lpusCarrito.length === 0">
      <span>
        <p-message severity="info" text="Al menos 1 LPU debe ser ingresada"></p-message>&nbsp;
      </span>
    </ng-container>
    <button (click)="cancelAction();" class="btn btn-light mr-2">Cancelar</button>
    <button (click)="saveAction();" [disabled]="!(formCubicacion.valid && lpusCarrito.length > 0 && !hasLPUWithZeroQuantity && tableValid)" class="btn btn-primary"><em class="pi pi-save mr-1" id="submit-user"></em>Guardar</button>
  </div>
</div>
