label {
  font-size: 16px;
  font-weight: 700;
}

select,
input {
  font-size: 0.9rem;
}
.ng-autocomplete{
  width: 100%;
}
.button-guardar-cubicacion {
  margin-top: 58px;
}
:host ::ng-deep {
  p-listbox > div {
    height: 93%;
    border-color: #ced4da;
  }

  .p-listbox .p-listbox-header .p-listbox-filter {
    border-color: #aaadaf;
  }

  #total {
    position: relative;
    top: 8px;
    left: 77%;
  }

  .autocomplete-container{
    box-shadow: none;
  }
  .autocomplete-container .input-container input{
    border: 1px solid #ced4da;
  }
}
