<div [formGroup]="formCubicacion" class="row">
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-12 ">
        <label for="">Nombre</label>
        <input formControlName="nombre" class="form-control" placeholder="" type="text" id="input-nombreCubicacion"
          name="input-nombreCubicacion">
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Contrato</label>
        <select formControlName="contrato_marco_id" class="form-control" name="" id="select-contratoMarco"
          name="select-contratoMarco">
          <option value="null" selected disabled>Seleccione contrato</option>
          <option *ngFor="let constract of constractMarco" [value]="constract.id">{{constract.nombre}}</option>
        </select>
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Proveedor</label>
        <select formControlName="proveedor_id"
          [attr.disabled]="subContractedProviders ? subContractedProviders.length === 0 ? '' : null : null "
          class="form-control" name="" id="select-proveedor" name="select-proveedor">
          <option value="null" selected disabled>Seleccione proveedor</option>
          <option *ngFor="let provider of subContractedProviders" [value]="provider.id">{{provider.nombre}}</option>
        </select>
        <br>
      </div>
      <div class="col-12 ">
        <label for="">Región</label>
        <select formControlName="region_id"
          [attr.disabled]="subContractedRegions ? subContractedRegions.length === 0 ? '' : null : null"
          class="form-control" name="" id="select-region" name="select-region">
          <option value="null" selected disabled>Seleccione región</option>
          <option *ngFor="let region of subContractedRegions" [value]="region.id">{{region.nombre}}</option>
        </select>
        <br>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <label for="">Tipo Servicio</label>
    <select formControlName="tipo_servicio_id"
      [attr.disabled]="subContractedTypeServices ? subContractedTypeServices?.length === 0 ? '' : null : null"
      class="form-control mb-1" name="" id="select-tipoServicio" name="select-tipoServicio">
      <option value="null" selected disabled>Seleccione un tipo de servicio</option>
      <option *ngFor="let typeService of subContractedTypeServices" [value]="typeService.id">{{typeService.nombre}}
      </option>
    </select>

    <div style="height: 300px;max-height: 300px">
      <label for="">Servicios LPU</label>
      <p-listbox [metaKeySelection]="false" [options]="subContractedServices" [checkbox]="true" [filter]="true"
        [multiple]="true" optionLabel="lpu_nombre" (onChange)="itemSelected($event)" [listStyle]="{'max-height':'203px'}" >
        <ng-template let-data pTemplate="item">
          <div class="country-item">
            <div>{{ data.lpu_nombre }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>


  <div class="col-12">
    <hr>
    <app-table [config]="configTable" [items]="lpuSelected"></app-table>
    <span id="total"> <strong>Total:</strong> {{ total| currency : 'CLP' : '$':'.0-2':'es-CL' }}</span>
  </div>

  <div class="col-xs-12 offset-md-7 col-md-5 text-right button-guardar-cubicacion">
    <button (click)="cancelAction();" class="btn btn-light mr-2"><em class="pi pi-refresh mr-1"></em>Cancelar</button>
    <button (click)="saveAction();" [disabled]="!formCubicacion.valid" class="btn btn-primary"><em
        class="pi pi-save mr-1"></em>Guardar</button>
  </div>

</div>
