<td style="background-color: #ff8e4e">
  {{ uo.uo_codigo }}
</td>
<td zwcColorPrecargado [condicion]="uo.precargado">
  {{ uo.uo_nombre }}
</td>

<ng-container *ngIf="uo.uo_codigo === '0'">
  <td colspan="6" align="center" zwcColorPrecargado [condicion]="uo.precargado">No Aplica</td>
</ng-container>
<ng-container *ngIf="uo.uo_codigo !== '0'">
  <td zwcColorPrecargado [condicion]="uo.precargado">
    {{ uo.actividad_descripcion | titlecase }}
  </td>
  <td zwcColorPrecargado [condicion]="uo.precargado">
    <div class="container-cantidad">
      <p-inputNumber [formControl]="controlUOCantidad" mode="decimal" [minFractionDigits]="2" inputId="locale-german"
        locale="de-DE"></p-inputNumber>
      <p [pTooltip]="uo.uob_unidad_medida_descripcion">{{uo.uob_unidad_medida_cod }}</p>
      <zwc-input-alert [control]="controlUOCantidad"></zwc-input-alert>
    </div>

  </td>
  <td zwcColorPrecargado [condicion]="uo.precargado">
    {{ uo.uo_precio_total_clp | currency: 'CLP':'$':'.0-2':'es-CL' }}
  </td>
  <td zwcColorPrecargado [condicion]="uo.precargado">
    {{
    uo.uo_precio_total_clp *
    +controlUOCantidad.value
    | currency: 'CLP':'$':'.0-2':'es-CL'
    }}
  </td>
  <td zwcColorPrecargado [condicion]="uo.precargado">
    <button (click)="callDeleteUOFromServicioFromCarrito(servicio_id, uo.uo_codigo)" class="ui button eliminar-color">
      <fa-icon [icon]="trashICon"></fa-icon>
    </button>
    <!-- <div class="ui icon buttons mini basic">
      <button
        *ngIf="uo.uo_codigo !== 0"
        (click)="showMateriales(uo.material_arr)"
        class="ui button generic-color"
      >
        Detalles
      </button>
      <ng-container
        *ngIf="uo.precargado === undefined || uo.precargado === false"
      >
       
      </ng-container>
      <ng-container *ngIf="uo.precargado">
        <div class="ui icon buttons mini basic">
          <button
            (click)="
              DisplayDeleteUOCarritoDefinitivo(
                item.servicio_id,
                uo.uo_codigo,
                uo.uo_rowid
              )
            "
            class="ui button eliminar-color"
          >
            <fa-icon [icon]="trashICon"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div> -->
  </td>
</ng-container>