<p-divider align="center">
    <span class="p-tag">Contrato Marco: FIJO</span>
</p-divider>

<form [formGroup]="form">
    <div class="card">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <zwc-pdropdown [control]="form.get('tipo_numero_interno_id')" Label="*Tipo de numero interno:"
                    dropdown_id="select-tipo-numero-interno" [data]="tiposNumeroInterno$|async"
                    Pplaceholder="Selecione un tipo de numero interno" [loading]="loadingTipoNumeroInterno$|async">
                </zwc-pdropdown>
            </div>
            <div class="field col-12 md:col-6 lg:col-6 xl:col-6">

            </div>


        </div>
    </div>
</form>