<div style="background-color: white;">
  <h1>OT <b>id:</b> {{(detalleOt$|async).id}} &nbsp; <b>nombre:</b> {{(detalleOt$|async).nombre}}</h1>
</div>
<ul>
  <li>
    <a href="" [routerLink]="['info-ot',ot_id]" [routerLinkActive]="['is-active']">
      <span class="icon pi pi-fw pi-info-circle"></span>
      <span class="tab-title">Información</span>
    </a>
  </li>
  <li>
    <a href="" [routerLink]="['costeo',ot_id]" [routerLinkActive]="['is-active']">
      <span class="icon pi pi-fw pi-dollar"></span>
      <span class="tab-title">Costeo</span>
    </a>
  </li>
  <li>
    <a href="" [routerLink]="['informe-avance',ot_id]" [routerLinkActive]="['is-active']">
      <span class="icon pi pi-fw pi-file"></span>
      <span class="tab-title">Informe de Avances</span>
    </a>
  </li>
  <li>
    <a href="" [routerLink]="['libro-obras',ot_id]" [routerLinkActive]="['is-active']">
      <span class="icon pi pi-fw pi-book"></span>
      <span class="tab-title">Libro de obras</span>
    </a>
  </li>
  <li>
    <a href="" [routerLink]="['anexos',ot_id]" [routerLinkActive]="['is-active']">
      <span class="icon pi pi-fw pi-paperclip"></span>
      <span class="tab-title">Anexos</span>
    </a>
  </li>
  <!-- <li>
    <a href="">
      <span class="icon pi pi-fw pi-file-o"></span>
      <span class="tab-title">Acta</span>
    </a>
  </li>
  <li>
    <a href="">
      <span class="icon pi pi-fw pi-briefcase"></span>
      <span class="tab-title">Bitácora</span>
    </a>
  </li> -->
</ul>

<router-outlet></router-outlet>