<!-- SERVICIO -->
<td [attr.rowspan]="+item.unidad_obras.length">
  {{ item.servicio_codigo }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length">
  {{ item.servicio_nombre }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length">
  {{ item.tipo_servicio_descripcion | titlecase }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length">
  TODO
</td>
<td [attr.rowspan]="+item.unidad_obras.length">
  {{ +item.servicio_precio_final_clp | currency: 'CLP':'$':'.0-2':'es-CL' }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length">
  TODO
</td>
<td [attr.rowspan]="+item.unidad_obras.length">

</td>

<!-- UNIDAD DE OBRA -->
<td style="background-color: #ff8e4e">
  {{ item.unidad_obras[0].uo_codigo }}
</td>
<td>
  {{ item.unidad_obras[0].uo_nombre }}
</td>

<ng-container *ngIf="item.unidad_obras[0].uo_codigo === '0'">
  <td colspan="6" align="center">No Aplica</td>
</ng-container>

<ng-container *ngIf="item.unidad_obras[0].uo_codigo !== '0'">
  <td>
    {{ item.unidad_obras[0].actividad_descripcion | titlecase }}
  </td>
  <td>
    TODO
  </td>
  <td>
    {{
    item.unidad_obras[0].uo_precio_total_clp
    | currency: 'CLP':'$':'.0-2':'es-CL'
    }}
  </td>
  <td>
    TODO
  </td>
  <td>

  </td>
</ng-container>