# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular-project/dist
/angular-project/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/angular-project/node_modules
/angular-project/package-lock.json
package-lock.json

# profiling files
/angular-project/chrome-profiler-events*.json
/angular-project/speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

**/*.swp

/angular-project/debug.log

robot_e2e/selenium-screenshot*
robot_e2e/report.html
robot_e2e/output.xml
robot_e2e/log.html

cypress/node_modules
