.container-crear-cubicacion {
    overflow: scroll;
    height: 100vh;
}
.crear-cubicacion-section {
    display: flex;
    height: 100vh;
}

.cubicacion-navbar {
    width: 7%;
    border-right: 1px solid #fff5f570;
    background: #11a4f5;
    box-shadow: 2px 2px #fbfbfb30;
}

.cubicacion-content {
    width: 93%;
    padding: 4px;
}

select{
    width: 100%;
    padding: 9px;
    border-radius: 7px;
    margin-bottom: 32px;
    margin-top: 4px;
}

.field label{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.title {
    text-align: center;
    font-weight: 700;
    color: #9b9b9b;
    font-size: 24px;
    letter-spacing: 7px;
    border-bottom: 1px solid #f1eaea;
    margin-bottom: 40px;
}

.form-content {
    margin-top: 22px;
    margin-left: 10px;
    display: flex;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    border:1px solid;
    font-size: 10px;
}
.product-list-detail {
    flex: 1 1 0;
}

.product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-category {
    vertical-align: middle;
    line-height: 1;
}

.ui.form {
    display: flex;
    /* justify-content: space-evenly; */
}

.left-form {
    width: 20%;
    margin-right: 28px;
    margin-left: 113px;
    margin-top: 73px;
}

.right-form{
    display: flex;
    flex-direction: column;
        margin-left: 113px;
}

.right-form .field{
    width: 100%;
}


.carro{
    margin-top: 20px;
    margin-left: 42px;
    /* border-top: 2px solid #e7e7e7; */
}

.title-carro{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #616060d9;;
    margin-bottom: 11px;
    border-bottom: 2px solid #616060d9;;
}

.table-carro{
    font-size: 14px;
    color: #979797;
}

.table-carro tr{
    border-bottom: 2px solid #616060d9;;
}