 <div class="container">
    <otec-navbar></otec-navbar>

    <div class="crear-cubicacion-container">
        <div class="cubicacion-navbar"></div>
        <div class="cubicacion-content">
            <div class="ui segment">
                <div class="title">Creación de cubicación</div>
                <div class="form-content">
                    
                    <div class="ui form">
                        <div class="left-form">
                            <div class="field">
                                <label>Contrato</label>
                                <select name="contrato" class="ui dropdown" id="contrato" (change)="selectedContrato()"
                                    [(ngModel)]="contratoId">
                                    <option *ngFor="let contrato of contratosArr" value="{{contrato.id}}">{{contrato.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="field" *ngIf="contratoId!==''">
                                <label>Proveedor</label>
                                <select name="proveedor" class="ui dropdown" id="proveedor" (change)="selectedProveedor()"
                                    [(ngModel)]="proveedorId">
                                    <option value=""> </option>
                                    <option *ngFor="let proveedor of proveedorArr" value="{{proveedor.id}}">{{proveedor.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="field" *ngIf="proveedorId!==''">
                                <label>Región</label>
                                <select name="region" class="ui dropdown" id="region" (change)="selectedRegion()"
                                    [(ngModel)]="regionId">
                                    <option value=""> </option>
                                    <option *ngFor="let region of regionArr" value="{{region.id}}">{{region.codigo}}
                                        {{region.nombre}}</option>
                                </select>
                            </div>
                            <div class="field" *ngIf="regionId!==''">
                                <label>Tipo de servicio</label>
                                <select name="tipodeservicio" class="ui dropdown" id="tipodeservicio"
                                    (change)="selectedTipoServicio()" [(ngModel)]="tipoServicioId">
                                    <option value=""> </option>
                                    <option *ngFor="let tiposervicio of tipoServicioArr" value="{{tiposervicio.id}}">
                                        {{tiposervicio.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="right-form">
                            <div class="carrito">
                                <p-pickList [source]="(sourceProducts$|async)!" [target]="targetProducts" sourceHeader="Available"
                                targetHeader="Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'300px', 'width':'501px'}"
                                [targetStyle]="{'height':'300px','width':'501px'}" filterBy="nombre" sourceFilterPlaceholder="Search by name"
                                targetFilterPlaceholder="Search by name" [metaKeySelection]="true" [showSourceControls]="false" [showTargetControls]="false">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-list-detail">
                                            <p>{{product.nombre}}</p>
                                        </div>
                                        <div class="product-list-action">
                                            <h6 class="p-mb-2">${{product.precio}}</h6>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                            </div>                            
                        </div>

                        <!-- <div class="field" *ngIf="tipoServicioId!==''">
                            <label>Servicio</label>
                            <select name="servicio" class="ui dropdown" id="servicio" (change)="selectedServicio()"
                                [(ngModel)]="servicioId">
                                <option value=""> </option>
                                <option *ngFor="let servicio of servicioArr" value="{{servicio.id}}">{{servicio.nombre}} -
                                    ${{servicio.precio}}</option>
                            </select>
                        </div> -->

                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        Footer
    </div>
 </div>
 