<otec-navbar></otec-navbar>

<div class="crear-cubicacion-container">
    <div class="cubicacion-navbar"></div>
    <div class="cubicacion-content">
        <div class="ui segment">
            <div class="title">Crear cubicacion</div>
            <div class="form-content">
                <div class="ui form">
                    <div class="field">
                        <label>Contrato</label>
                        <select name="contrato" class="ui dropdown" id="select" (change)="selectedContrato()" [(ngModel)]="contratoId">
                            <option *ngFor="let contrato of contratosArr" value="{{contrato.id}}">{{contrato.nombre}}</option>
                          </select>
                    </div>

                    <div class="field" *ngIf="contratoId!==''">
                        <label>Proveedor</label>
                        <select name="proveedor" class="ui dropdown" id="select" (change)="selectedContrato()" [(ngModel)]="proveedorId">
                            <option value="1">ERICSSON CHILE S.A.</option>
                            <option value="2">NOKIA SOLUTIONS AND NETWORKS CHILE LTDA</option>
                          </select>
                    </div>

                    <div class="field" *ngIf="proveedorId!==''">
                        <label>Región</label>
                        <select name="region" class="ui dropdown" id="select" (change)="selectedContrato()" [(ngModel)]="regionId">
                            <option value="1">Región Metropolitana de Santiago</option>
                            <option value="2">Región del Bíobío</option>
                          </select>
                    </div>

                    <div class="field" *ngIf="regionId!==''">
                        <label>Tipo de servicio</label>
                        <select name="tipodeservicio" class="ui dropdown" id="select" (change)="selectedContrato()" [(ngModel)]="tipoServicioId">
                            <option value="1">CD1</option>
                          </select>
                    </div>


                  </div>
            </div>
          </div>
    </div>
</div>
