<p-divider align="center">
    <span class="p-tag">Agregar Servicios</span>
</p-divider>
<div class="grid">
    <div class="field col-12 md:col-3 lg:col-3 xl:col-3">
        <zwc-form-agregar-servicios #agregarServiciosForm [reglasDeAgregacion]="reglasDeAgregacion"
            [informeAvance]="informeAvance">
        </zwc-form-agregar-servicios>
    </div>
    <div class="field col-12 md:col-9 lg:col-9 xl:col-9">
        <!-- <zwc-form-table-services #tableServicios></zwc-form-table-services> -->
        <zwc-table-servicios #tableServicios></zwc-table-servicios>
    </div>
</div>