<!-- <p-divider align="left">
    <span class="p-tag">Agregar Servicios</span>
</p-divider> -->

<form [formGroup]="formFilter" >
    <div class="card">
        <div class="formgrid grid">
            <div class="field col-12">
                <!-- <div class="field col-12 md:col-6 lg:col-6 xl:col-6"> -->
                <zwc-pdropdown 
                [control]="formFilterControls.actividad_id" 
                Label="Actividad" 
                dropdown_id="select-actividad" 
                [data]="actividadesContratoProveedor$|async" 
                Pplaceholder="Selecione una actividad"
                [loading]="loadingGetActividadesContratoProveedor$|async"></zwc-pdropdown>
            </div>
            <div class="field col-12 ">
                <zwc-pdropdown 
                [control]="formFilterControls.tipo_servicio_id" 
                Label="Tipo Servicio" 
                dropdown_id="select-tipo-servicio" 
                [data]="tipoServicioContrato$|async" 
                Pplaceholder="Selecione un tipo servicio"
                [loading]="loadingGetTipoServiciosContrato$|async"></zwc-pdropdown>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 ">
                <zwc-pdropdown 
                [control]="formFilterControls.servicio_cod" 
                Label="Servicio" 
                dropdown_id="select-servicio" 
                [data]="serviciosAgenciaContratoProveedor$|async" 
                Pplaceholder="Selecione un servicio"
                [loading]="loadingGetServiciosAgenciaContratoProveedor$|async"
                [Pfilter]="true" 
                PfilterBy="name" 
                [PshowClear]="true" ></zwc-pdropdown>
            </div>
            <div class="field col-12">
                <zwc-pdropdown 
                [control]="formFilterControls.unidad_obra_cod" 
                Label="Unidad de Obra" 
                dropdown_id="select-unidad-obra" 
                [data]="unidadesObraServicio$|async" 
                Pplaceholder="Selecione una unidad de obra"
                [loading]="loadingGetUnidadesObraServicio$|async"
                [Pfilter]="true" 
                PfilterBy="name" 
                [PshowClear]="true" ></zwc-pdropdown>
            </div>
        </div>

        <zwc-pbutton-sending 
        Pid="agregar-button"
        content="Agregar"
        Pclass="p-button-info p-button-sm mt-4 w-full"
        [Pdisabled]="!formFilter.valid && (loadingAgregarServicioCarrito$|async)===false"
        [sending]="loadingAgregarServicioCarrito$|async"
        (call)="agregarServicio()"
        ></zwc-pbutton-sending>

        <div class="message" id="alert-sevicio-existente" *ngIf="alertServicioExistenteCarrito$|async" >
            <p-message  severity="warn" text="El servicio ya fue agregado a la cubicación" styleClass="mr-2"  ></p-message>
        </div>
    </div>
</form>