<div class="container-acta">
    <h1>Validación de trabajos</h1>

    <p-divider align="center">
        <span class="p-tag">Servicios</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12" style="text-align: center">
                <span> <strong>Tipo pago:</strong> {{tipo_pago}}</span>
            </div>

            <div class="field col-12 table-autorizar-acta">
                <zwc-table-servicios mode_source="static" [data_source]="acta" [cantidad_editable]="false"
                    [column_acciones]="false">
                </zwc-table-servicios>
            </div>
        </div>
    </div>

    <p-divider align="center">
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined"
                    [routerLink]="['/ot']">
                    Atrás
                </button>
            </div>
            <div *ngIf="accionExist('OT_APROBACION_OPERACIONES')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="validar-acta-button" content="Aprobar trabajo" icon="ok"
                    Pclass="p-button-info p-button-sm mt-4 w-full" (click)="displayModalAprobacionOperaciones=true">
                </zwc-pbutton-sending>
            </div>
            <div *ngIf="accionExist('OT_APROBACION_OPERACIONES')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="rechazar-button" content="Rechazar trabajo" icon="nok"
                    Pclass="p-button-info p-button-sm mt-4 w-full bg-red-500 hover:bg-red-300"
                    (click)="displayModalRechazarActa()">
                </zwc-pbutton-sending>
            </div>
        </div>
    </div>
</div>


<!-- MODALS -->

<p-dialog header="Aceptación acta" [(visible)]="displayModalAprobacionOperaciones" [draggable]="false" [modal]="true">
    Order de trabajo ID: {{ot_id}}

    <zwc-view-confirmacion pregunta='¿Desea aprobar esta acta?' (cancelar)="displayModalAprobacionOperaciones=false"
        (confirmar)="aprobarActaOperaciones()" textConfirmar="Aprobar Acta">
    </zwc-view-confirmacion>
</p-dialog>

<p-dialog header="Rechazo de trabajos" [(visible)]="showModalRechazarActa" [draggable]="false" [modal]="true">
    <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" #rechazoActaForm></zwc-view-rechazo>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
            (click)="closeModalRechazarActa()">
            Cancelar
        </button>
        <button pButton type="button" id="button-confirmar" (click)="rechazarActa()"
            [disabled]="!rechazoActaForm.formRechazo.valid">
            Rechazar trabajos
        </button>
    </ng-template>
</p-dialog>