<form class="carrito-container">
  <table>
    <thead>
      <tr>
        <th [attr.colspan]="colSpan" style="background: var(--bg-th-servicios)">Servicios</th>
        <th [attr.colspan]="colSpan">Unidad Obra</th>
      </tr>
      <tr>
        <th style="background: var(--bg-th-servicios)">Cod</th>
        <th style="background: var(--bg-th-servicios)">Descripción</th>
        <th style="background: var(--bg-th-servicios)">Tipo</th>
        <th style="background: var(--bg-th-servicios)">Cantidad</th>
        <th style="background: var(--bg-th-servicios)" *ngIf="canSeePrices()">Precio Un.</th>
        <th style="background: var(--bg-th-servicios)" *ngIf="canSeePrices()">Total</th>
        <th style="background: var(--bg-th-servicios)" *ngIf="column_acciones">
          Acciones
          <ng-container *ngIf="accion_aprobacion_servicio_adic">
            <div style="display:flex;flex-direction: column;align-items: center;color:white;" [ngClass]="formAprobarTodos.get('all').value?'recha-color':'aprob-color'">
              {{formAprobarTodos.get('all').value?'Rechazada':'Aprobada'}}
              <p-inputSwitch [formControl]="formAprobarTodos.get('all')">
              </p-inputSwitch>
            </div>
          </ng-container>
        </th>

        <th>Cod</th>
        <th>Descripción</th>
        <th>Actividad</th>
        <th>Cantidad</th>
        <th *ngIf="canSeePrices()">Precio Un.</th>
        <th *ngIf="canSeePrices()">Total</th>
        <th *ngIf="column_acciones">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let servicio of data_carrito$|async;let i = index">
        <!-- TODOCOMENT: VER COMO MEJORAR ESTE WA PARA LA VISUALIZACIÓN RESPONSIVA DE LA TABLA CON UNA UO -->
        <tr style="height: 0.01rem;">
          <td [attr.rowspan]="+servicio.unidad_obras.length + 1">
            {{ servicio.numero_producto }}
          </td>
          <td [attr.rowspan]="+servicio.unidad_obras.length + 1">
            <ng-container *ngIf="servicio.adicional!=='ORIGINAL' && servicio.adicional!==undefined">
              <p-tag *ngIf="servicio.adicional==='PENDIENTE'" styleClass="pendiente" value="Adicional" severity="warning">
              </p-tag>
              <p-tag *ngIf="servicio.adicional==='ACEPTADO'" styleClass="aceptado" value="Adicional aprobado" severity="success">
              </p-tag>
              <p-tag *ngIf="servicio.adicional==='RECHAZADO'" styleClass="rechazado" value="Adicional rechazado">
              </p-tag>
            </ng-container>
            {{ servicio.servicio_nombre }}
          </td>
          <td [attr.rowspan]="+servicio.unidad_obras.length + 1">{{ servicio.tipo_servicio_descripcion }}</td>

          <ng-container *ngIf="!servicio?.servicios_adicional_dummy">
            <td [attr.rowspan]="+servicio.unidad_obras.length + 1">
              <div class="container-cantidad">
                <ng-container *ngIf="cantidad_editable;else cantidad_no_editable">
                  <p-inputNumber [formControl]="getControlServiceCantidad(servicio.servicio_id)" mode="decimal" inputId="locale-german" locale="de-DE" [minFractionDigits]="2">
                  </p-inputNumber>
                  <p [pTooltip]="servicio.servicio_unidad_descripcion">
                    {{servicio.servicio_unidad_cod}}
                  </p>
                  <zwc-input-alert [control]="getControlServiceCantidad(servicio.servicio_id)">
                  </zwc-input-alert>
                </ng-container>

                <ng-template #cantidad_no_editable>
                  {{servicio.servicio_cantidad| number}}
                  <p [pTooltip]="servicio.servicio_unidad_descripcion">
                    {{servicio.servicio_unidad_cod}}
                  </p>
                </ng-template>

              </div>
            </td>
            <td [attr.rowspan]="+servicio.unidad_obras.length + 1" *ngIf="canSeePrices()">
              {{ +servicio.servicio_precio_final_clp |
                            currency: 'CLP':'$':'.0-2':'es-CL' }}
            </td>
            <td [attr.rowspan]="+servicio.unidad_obras.length + 1" *ngIf="canSeePrices()">
              {{+servicio.servicio_precio_final_clp*+getControlServiceCantidad(servicio.servicio_id).value
                            |
                            currency : 'CLP' :
                            '$':'.0-2':'es-CL'}}
            </td>
          </ng-container>

          <ng-container *ngIf="servicio?.servicios_adicional_dummy">
            <td [attr.rowspan]="+servicio.unidad_obras.length + 1" [attr.colspan]="canSeePrices()?3:1">
              {{accion_aprobacion_servicio_adic || !column_acciones? 'Se le han agregado uos adicionales a
                            este servicio
                            existente en la cubicación' : 'Su cantidad se debe modificar desde el informe de avance'}}
            </td>
          </ng-container>

          <td *ngIf="column_acciones" [attr.rowspan]="+servicio.unidad_obras.length + 1">
            <button *ngIf="accion_delete" (click)="deleteServicioFromCarrito(servicio)" class="ui button eliminar-button">
              <fa-icon [icon]="trashICon"></fa-icon>
            </button>

            <ng-container *ngIf="accion_aprobacion_servicio_adic">
              <div style="display:flex;flex-direction: column;align-items: center;color:white;" [ngClass]="getControlService(servicio.servicio_id,'validar_adicional').value?'recha-color':'aprob-color'">
                {{getControlService(servicio.servicio_id,'validar_adicional').value?'Rechazada':'Aprobada'}}
                <p-inputSwitch [formControl]="getControlService(servicio.servicio_id,'validar_adicional')">
                </p-inputSwitch>
              </div>
            </ng-container>
          </td>
        </tr>
        <ng-container *ngFor="let uo of servicio.unidad_obras; let iuo= index">
          <tr>
            <td>{{ uo.uo_codigo }}</td>
            <td>
              <ng-container *ngIf="uo.adicional_existente_ia">
                <p-tag value="Adicional" severity="warning" styleClass="pendiente"> </p-tag>
              </ng-container>
              {{ uo.uo_nombre }}
            </td>
            <td>{{ uo.actividad_descripcion }}</td>
            <!-- SIN UO -->
            <ng-container *ngIf="uo.uo_codigo === '0'">
              <td colspan="5" align="center">No Aplica</td>
            </ng-container>
            <!-- CON UO -->
            <ng-container *ngIf="uo.uo_codigo !== '0'">
              <td>
                <div class="container-cantidad">
                  <ng-container *ngIf="cantidad_editable;else cantidad_no_editable">
                    <p-inputNumber [formControl]="getControlUOCantidad(servicio.servicio_id,uo.uo_codigo)" mode="decimal" inputId="locale-german" locale="de-DE" [minFractionDigits]="2">
                    </p-inputNumber>
                    <p [pTooltip]="servicio.unidad_obras[0].uob_unidad_medida_descripcion">
                      {{uo.uob_unidad_medida_cod }}
                    </p>
                    <zwc-input-alert [control]="getControlUOCantidad(servicio.servicio_id,uo.uo_codigo)">
                    </zwc-input-alert>
                  </ng-container>
                  <ng-template #cantidad_no_editable>
                    {{uo.uo_cantidad| number}}
                    <p [pTooltip]="servicio.unidad_obras[0].uob_unidad_medida_descripcion">
                      {{uo.uob_unidad_medida_cod }}
                    </p>
                  </ng-template>
                </div>
              </td>
              <td *ngIf="canSeePrices()">
                {{ uo.uo_precio_total_clp | currency: 'CLP':'$':'.0-2':'es-CL' }}
              </td>
              <td *ngIf="canSeePrices()">
                {{uo.uo_precio_total_clp*+getControlUOCantidad(servicio.servicio_id,uo.uo_codigo).value|
                                currency : 'CLP' : '$':'.0-2':'es-CL'}}
              </td>
              <td *ngIf="column_acciones">
                <ng-container *ngIf="servicio.unidad_obras.length>1 && accion_delete">
                  <button (click)="deleteUOFromServicioFromCarrito(servicio, uo)" class="ui button eliminar-button">
                    <fa-icon [icon]="trashICon"></fa-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="accion_detalle_uo">
                  <button (click)="viewDetallesUOFromServicioFromCarrito(servicio, uo)" class="ui button generic-color">Detalles</button>
                </ng-container>

                <!-- <div class="ui icon buttons mini basic">
                                    <button *ngIf="servicio.unidades_obras[0].uo_codigo!==0" (click)="showMateriales(servicio.unidades_obras[0].material_arr)" class="ui button generic-color">Detalles </button>
                                  </div> -->
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
    <tfoot *ngIf="canSeePrices()">
      <tr>
        <td></td>
        <td *ngIf="column_acciones"></td>
        <td>Total Servicios</td>
        <td colspan="2" id="total-servicio-monto">{{totalServicios| currency : 'CLP' :
                    '$':'.0-2':'es-CL'}}</td>
        <td>Total Unidades Obra</td>
        <td colspan="2" id="total-uo-monto">{{totalUOs| currency : 'CLP' :
                    '$':'.0-2':'es-CL'}}</td>
        <td></td>

        <td>Total:</td>
        <td colspan="2" id="total-cubicacion-monto">{{totalServicios+totalUOs|
                    currency :
                    'CLP' : '$':'.0-2':'es-CL'}}</td>
        <td *ngIf="column_acciones"></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</form>

<div class="message" id="alert-carrito-vacio" *ngIf="(data_carrito$|async).length === 0 && mode_source!=='agregar-adicionales-informe-avance' && !accion_aprobacion_servicio_adic">
  <p-message severity="error" text="Al menos 1 servicio debe ser ingresado" styleClass="mr-2"></p-message>
</div>
