<div class="perfil-select-container">
    <p class="sigo-color-dark-light perfil-select-titulo" > Perfil</p>

    <div> 
        <p-dropdown [options]="perfilesUsuarioDropdown$|async"  optionLabel="name" placeholder="Selecione un perfil"></p-dropdown>
        <i class="pi pi-spin pi-spinner left-12rem " style="font-size: 1rem;
            top: -2rem;
            position: relative;"></i>
    </div>

    <zwc-pbutton-sending 
        Pid="login-button"
        content="Seleccionar"
        Pclass="p-button-info p-button-sm mt-4 w-full"
        
        ></zwc-pbutton-sending>

    <span class=" mt-7 sigo-color-dark-light text-xs" >¿Desea acceder con otro usuario? <a  href="" id="recuperar-guia"> Logout</a> </span>   

</div>