<zwc-content-layout>
  <div content>
    <div class="grid">
      <div class="field col-12 md:col-9 lg:col-9 xl:col-9">
        <h1>Edición de una gerencia</h1>
      </div>
      <div class="field col-12 md:col-3 lg:col-3 xl:col-3">
        <button (click)="goBack()" pButton type="button" label="volver" icon="pi pi-arrow-left"
          class="p-button-sm mt-5 float-right p-button-outlined " id="volver-button"></button>
      </div>
    </div>

    <form [formGroup]="formArea">
      <div class="formgrid grid">
        <div class="field col-12 md:col-6 lg:col-6 xl:col-6">

          <div class="card">
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <zwc-input-text Label="*Nombre" [control]="formControls.nombre" name_input="nombre-area">
                </zwc-input-text>
                <div class="mt-4"></div>

                <label>Descripción :</label>
                <textarea [formControl]="formControls.descripcion" class="form-control" id="input-descripcion"
                  placeholder="Agregue una descripción" cols="30" rows="4"></textarea>
                <zwc-input-alert [control]="formControls.descripcion"> </zwc-input-alert>
                <div class="mt-4"></div>

              </div>
            </div>
          </div>

        </div>
        <div class="field col-12 md:col-6 lg:col-6 xl:col-6">

          <div class="card">
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <label for="">Tipo de Gerencia</label>
                <div class="tipoArea">
                  <div class="row" style="margin-top:10px;margin-left: 19%;">
                    <div class="col-xs-12 col-md-5">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="tipo-interno" name="interno" formControlName="interno" value="interno">
                        </p-radioButton>
                        <label for="movistar" style="margin-left: 5px;">Movistar</label>
                      </div>
                    </div>
                    <div class="mt-2"></div>
                    <div class="col-xs-12 col-md-7">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="tipo-externo" name="interno" formControlName="interno" value="externo">
                        </p-radioButton>
                        <label for="proveedor" style="margin-left: 5px;">Contratista</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4"></div>

          <div class="card">
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <div class="tipoActivo">
                  <label for="">Estado</label>
                  <div class="row" style="margin-left: 19%;">
                    <div class="col-xs-12 col-md-5">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="estado-activo" name="activa" formControlName="activa" value="activa">
                        </p-radioButton>
                        <label for="movistar" style="margin-left: 5px;">Activo</label>
                      </div>
                    </div>
                    <div class="mt-2"></div>
                    <div class="col-xs-12 col-md-7">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="estado-inactivo" name="activa" formControlName="activa" value="inactiva">
                        </p-radioButton>
                        <label for="proveedor" style="margin-left: 5px;">Inactivo</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6 lg:col-6 xl:col-6">

          <p-button label="Guardar" (click)="save()" [disabled]="!formArea.valid" slyle="font-size: 0.83rem;"
            icon="pi pi-save" styleClass="p-button-raised p-button-sm"></p-button>
        </div>
      </div>

    </form>
  </div>
</zwc-content-layout>