<div [class]="toggle" id="wrapper">
  <div class="bg-primary toggled" id="sidebar-wrapper">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <img src="./assets/logo-movistar.png" alt="Logo empresa">
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="">
              <a [routerLink]="['']">
                <i class="pi pi-home"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="header-menu">
              <span>MODULOS</span>
            </li>
            <li *ngxPermissionsOnly="['OT_LISTAR']" routerLinkActive="active" id="menu-ot">
              <a href="#otSub" data-toggle="collapse" aria-expanded="false">
                <i class="pi pi-briefcase"></i>
                <span>OT</span>
                <em class="pi pi-angle-down float-right icon-angle-bottom"></em>
              </a>
              <ul class="collapse show list-unstyled" id="otSub">
                <li *ngxPermissionsOnly="['OT_LISTAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/ot/list-ot']">Listar OTs</a>
                </li>
                <li *ngxPermissionsOnly="['OT_CREAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/ot/form-ot']">Crear OT</a>
                </li>
              </ul>
            </li>
            <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" routerLinkActive="active" id="menu-cubicacion">
              <a href="#cubSub" data-toggle="collapse" aria-expanded="false">
                <i class="pi pi-shopping-cart"></i>
                <span>Cubicación</span>
                <em class="pi pi-angle-down float-right icon-angle-bottom"></em>
              </a>
              <ul class="collapse list-unstyled" id="cubSub">
                <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/cubicacion/list-cub']">Listar Cubicaciones</a>
                </li>
                <li *ngxPermissionsOnly="['CUBICACION_CREAR']" class="pl-5" routerLinkActive="active-item" id="listarCubSubMenu">
                  <a [routerLink]="['/app/cubicacion/form-cub']">Crear Cubicación</a>
                </li>
              </ul>
            </li>
            <li class="header-menu" *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']">
              <span>ADMINISTRACION</span>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-perfil">
              <a [routerLink]="['/app/profile']">
                <i class="pi pi-id-card"></i>
                <span>Perfiles</span>
              </a>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-usuario">
              <a [routerLink]="['/app/user']">
                <i class="pi pi-users"></i>
                <span>Usuarios</span>
              </a>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-components">
              <a [routerLink]="['/app/kitui']">
                <i class="far fa-gem"></i>
                <span>Components</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">

      <button class="btn" style="border-color: rgba(0, 0, 0, 0.1)" (click)="toggleState = !toggleState;toggleAction();">
        <i class="pi" [ngClass]="toggleIcon"></i>
      </button>

      <div class="left-bar">
        <div *ngIf="(loginAuth$ | async) && (loginAuth$ | async).name" class="user-info" style="    margin-right: 8px;color: #666565;">
          <span class="user-name" id="user-name">
            {{(loginAuth$ | async).name | titlecase}}
            <strong>{{(loginAuth$ |async).perfil}}</strong></span>
        </div>
      </div>
      <i *ngIf="(total_nuevas_notificaciones$|async)?.data.total_nuevos>0" (click)="openNotificacionesModal()" class="pi pi-bell p-text-secondary " severity="danger" pBadge style="    font-size: 1.4rem;
        font-weight: 100;
        cursor: pointer;
        margin-right: 13px;cursor: pointer;" [value]="(total_nuevas_notificaciones$|async)?.data.total_nuevos"></i>
      <i *ngIf="(total_nuevas_notificaciones$|async)?.data.total_nuevos===0" (click)="openNotificacionesModal()" class="pi pi-bell p-text-secondary " severity="danger" style="    font-size: 1.4rem;
      font-weight: 100;
      cursor: pointer;
      margin-right: 13px;;cursor: pointer"></i>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="background-color: #5c9bbf !important;">
          <!-- <li class="nav-item">
                <a class="nav-link text-white" href="#">Noticicaciones <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Perfil</a>
              </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi Cuenta
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item">Action</a>
                  <a class="dropdown-item">Action 1</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Salir</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0" style="height: 100vh;overflow: scroll;background:#5c9bbf21">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<p-dialog header="Notificaciones" [(visible)]="displayNotificacionesModal" (onHide)="closeNotificacionesModal()" position="top-right" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ul class="list-group">
    <li class="list-group-item list-group-item-secondary" *ngFor="let nuevos of (total_nuevas_notificaciones$|async)?.data.registros_nuevos">{{nuevos.mensaje}}</li>
    <li class="list-group-item" *ngFor="let vistos of (total_nuevas_notificaciones$|async)?.data.registros_vistos">{{vistos.mensaje}}</li>
  </ul>
</p-dialog>