<div [class]="toggle" id="wrapper">
  <div class="bg-primary toggled" id="sidebar-wrapper">
    <nav id="sidebar" class="sidebar-wrapper" style="color:white">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <img width="70%" src="./assets/logo-movistar.png" alt="Logo empresa">
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
          </div>
          <div *ngIf="(loginAuth$ | async) && (loginAuth$ | async).name" class="user-info">
            <span class="user-name" id="user-name" style="width: 140px">{{(loginAuth$ | async).name | titlecase}}
            </span>
            <span class="user-role" id="user-role">{{(loginAuth$ |async).perfil}}</span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="">
              <a [routerLink]="['']">
                <i class="pi pi-home"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="header-menu">
              <span>MODULOS</span>
            </li>
            <li *ngxPermissionsOnly="['OT_LISTAR']" routerLinkActive="active" id="menu-ot">
              <a href="#otSub" data-toggle="collapse" aria-expanded="false">
                <i class="pi pi-briefcase"></i>
                <span>OT</span>
                <em class="pi pi-angle-down float-right icon-angle-bottom"></em>
              </a>
              <ul class="collapse show list-unstyled" id="otSub">
                <li *ngxPermissionsOnly="['OT_LISTAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/ot/list-ot']">Listar OTs</a>
                </li>
                <li *ngxPermissionsOnly="['OT_CREAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/ot/form-ot']">Crear OT</a>
                </li>
              </ul>
            </li>
            <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" routerLinkActive="active" id="menu-cubicacion">
              <a href="#cubSub" data-toggle="collapse" aria-expanded="false">
                <i class="pi pi-shopping-cart"></i>
                <span>Cubicación</span>
                <em class="pi pi-angle-down float-right icon-angle-bottom"></em>
              </a>
              <ul class="collapse list-unstyled" id="cubSub">
                <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" class="pl-5" routerLinkActive="active-item">
                  <a [routerLink]="['/app/cubicacion/list-cub']">Listar Cubicaciones</a>
                </li>
                <li *ngxPermissionsOnly="['CUBICACION_CREAR']" class="pl-5" routerLinkActive="active-item" id="listarCubSubMenu">
                  <a [routerLink]="['/app/cubicacion/form-cub']">Crear Cubicación</a>
                </li>
              </ul>
            </li>
            <li class="header-menu" *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']">
              <span>ADMINISTRACION</span>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-perfil">
              <a [routerLink]="['/app/profile']">
                <i class="pi pi-id-card"></i>
                <span>Perfiles</span>
              </a>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-usuario">
              <a [routerLink]="['/app/user']">
                <i class="pi pi-users"></i>
                <span>Usuarios</span>
              </a>
            </li>
            <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-components">
              <a [routerLink]="['/app/kitui']">
                <i class="far fa-gem"></i>
                <span>Components</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="page-content-wrapper" style="height: 98vh;border-radius: 20px;">

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary border-bottom sticky-top" style="background-color:#fff !important">
      <button class="btn" (click)="toggleState = !toggleState;toggleAction();">
        <i class="navbar-toggler-icon"></i>
      </button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="background-color: #5c9bbf !important;">
          <!-- <li class="nav-item">
            <a class="nav-link text-white" href="#">Noticicaciones <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Perfil</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi Cuenta
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Action 1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Salir</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <app-progress-bar *ngIf="loading"></app-progress-bar>

    <div class="container-fluid p-0" style="height: 100vh;overflow: scroll;background:#5c9bbf21">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>