<div class="sidebar-menu">
    <ul>
      <li class="">
        <a [routerLink]="['']" class="menuprincipal-a">
          <fa-icon [icon]="faHouse"  ></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="header-module">
        <span>MODULOS</span>
      </li>
      <li *ngxPermissionsOnly="['OT_LISTAR']" routerLinkActive="active" id="menu-ot" class="titulo-menu">
        <div  class="header-menu">
          <fa-icon [icon]="faOT" style="    margin-left: -4px;
          margin-right: 3px;"></fa-icon>
          <span>OT</span>
        </div>
        
        <ul class="collapse show list-unstyled" id="otSub">
          <li *ngxPermissionsOnly="['OT_LISTAR']"  routerLinkActive="active-item">
            <a [routerLink]="['/app/ot/list-ot']" class="submenu-a">Listar OTs</a>
          </li>
          <li *ngxPermissionsOnly="['OT_CREAR']" routerLinkActive="active-item">
            <a [routerLink]="['/app/ot/form-ot']" class="submenu-a">Crear OT</a>
          </li>
        </ul>
      </li>
      <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" routerLinkActive="active" id="menu-cubicacion" class="titulo-menu">
       <div  class="header-menu">
          <fa-icon [icon]="faCub" style="    margin-left: -4px;
          margin-right: 3px;"></fa-icon>
          <span>Cubicación</span>
       </div>
        <ul class="collapse list-unstyled" id="cubSub">
          <li *ngxPermissionsOnly="['CUBICACION_LISTAR']" routerLinkActive="active-item">
            <a [routerLink]="['/app/cubicacion/list-cub']" class="submenu-a">Listar Cubicaciones</a>
          </li>
          <li *ngxPermissionsOnly="['CUBICACION_CREAR']"  routerLinkActive="active-item" id="listarCubSubMenu">
            <a [routerLink]="['/app/cubicacion/form-cub']" class="submenu-a">Crear Cubicación</a>
          </li>
        </ul>
      </li>
      <li class="header-menu" *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']">
        <span>ADMINISTRACION</span>
      </li>
      <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-perfil">
        <a [routerLink]="['/app/profile']">
          <i class="pi pi-id-card"></i>
          <span>Perfiles</span>
        </a>
      </li>
      <li *ngxPermissionsOnly="['PERFIL_LISTAR','PERFIL_CREAR']" routerLinkActive="active" id="menu-usuario">
        <a [routerLink]="['/app/user']">
          <i class="pi pi-users"></i>
          <span>Usuarios</span>
        </a>
      </li>
      <li *ngxPermissionsOnly="['PERFIL_LISTAR']" routerLinkActive="active" id="menu-area">
        <a [routerLink]="['/app/area']">
          <i class="pi pi-globe"></i>
          <span>Area</span>
        </a>
      </li>

      <li *ngxPermissionsOnly="['PERFIL_LISTAR']" routerLinkActive="active" id="menu-contratos">
        <a [routerLink]="['/app/contratos']">
          <i class="pi pi-briefcase"></i>
          <span>Contratos</span>
        </a>
      </li>
    </ul>
  </div>