img{
    width: 141px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 31px;
    background: #11a4f5;
}

.title-otec{
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 0px;
    letter-spacing: 0.44em;
    text-transform: lowercase;
    margin-left: 76px;
    color: #ffffff;
}

ul{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
}

li{
    display:inline;
    margin-left: 25px;
    cursor:pointer;
}

li:hover{
    background-color: #ffffff;
}

.section-usuario{
    display: flex;
    flex-direction: column;
}

.usuario{
    font-size: 12px;
}

.rol{
    align-self: center;
}