.container-component {
    padding: 10px;

    h1 span {
        font-size: 1.5rem;
    }

    table td {
        font-size: var(--size-text-sigo);
    }

    .table-info tr>td:nth-child(1) {
        border: 0;
        border-width: 0;
        padding: 0.275rem;
        background-color: #dedcdc;
        font-weight: 600;
        text-align: right;
        padding-right: 10px;
        width: 28%;
        border-right: 1px solid #bdbbbb
    }

    .table-info tr>td:nth-child(2) {
        font-weight: 400;
        padding-left: 5px;
        background-color: rgb(244, 243, 243);
    }

    #table-num-internos {
        th {
            background-color: #dedcdc;
        }

        td {
            background-color: rgb(244, 243, 243);
            padding-left: 10px;
        }
    }

    #table-usuarios-involucrados {
        th {
            background-color: #dedcdc;
        }

        td {
            background-color: rgb(244, 243, 243);
            padding-left: 10px;
        }
    }
}