<!-- SERVICIO -->
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado">
  {{ item.servicio_codigo }}
  <!-- TODO: CAMBIAR POR numero_producto -->
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado">
  {{ item.servicio_nombre }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado">
  {{ item.tipo_servicio_descripcion | titlecase }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado">
  <div class="container-cantidad">
    <p-inputNumber [formControl]="controlServicioCantidad" mode="decimal" inputId="locale-german" locale="de-DE"
      [minFractionDigits]="2">
    </p-inputNumber>
    <p [pTooltip]="item.servicio_unidad_descripcion">{{item.servicio_unidad_cod}}</p>
    <zwc-input-alert [control]="controlServicioCantidad"></zwc-input-alert>
  </div>
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado"
  *ngIf="sessionData.rol!=='Trabajador (EECC)'">
  {{ +item.servicio_precio_final_clp | currency: 'CLP':'$':'.0-2':'es-CL' }}
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado"
  *ngIf="sessionData.rol!=='Trabajador (EECC)'">
  {{+item.servicio_precio_final_clp*+controlServicioCantidad.value | currency : 'CLP' : '$':'.0-2':'es-CL'}}
</td>
<td [attr.rowspan]="+item.unidad_obras.length" zwcColorPrecargado [condicion]="item.precargado" *ngIf="showDelete">
  <!-- <ng-container *ngIf="item.precargado === undefined || item.precargado === false; else existente"> -->
  <button (click)="callDeleteServicioFromCarrito(item)" class="ui button eliminar-color">
    <fa-icon [icon]="trashICon"></fa-icon>
  </button>
  <!-- </ng-container> -->
  <!-- <ng-template #existente>
    <button (click)="callShowModalConfirmacion(item.servicio_id,item.servicio_rowid)" class="ui button eliminar-color">
      <fa-icon [icon]="trashICon"></fa-icon>
    </button>
  </ng-template> -->

  <!-- <ng-container *ngIf="item.precargado">
        <div class="ui icon buttons mini basic">
          <button (click)="DisplayDeleteServicioCarritoDefinitivo(item.servicio_id,item.servicio_rowid)" class="ui button eliminar-color">
            <fa-icon [icon]="trashICon"></fa-icon>
          </button>
        </div>
      </ng-container> -->
</td>

<!-- UNIDAD DE OBRA -->
<td style="background-color: #ff8e4e">
  {{ item.unidad_obras[0].uo_codigo }}
</td>
<td zwcColorPrecargado [condicion]="item.precargado">
  {{ item.unidad_obras[0].uo_nombre }}
</td>
<td zwcColorPrecargado [condicion]="item.precargado">
  {{ item.unidad_obras[0].actividad_descripcion | titlecase }}
</td>

<ng-container *ngIf="item.unidad_obras[0].uo_codigo === '0'">
  <td colspan="5" align="center" zwcColorPrecargado [condicion]="item.precargado">No Aplica</td>
</ng-container>

<ng-container *ngIf="item.unidad_obras[0].uo_codigo !== '0'">

  <td zwcColorPrecargado [condicion]="item.precargado">
    <div class="container-cantidad">
      <p-inputNumber [formControl]="controlUOCantidad" mode="decimal" inputId="locale-german" locale="de-DE"
        [minFractionDigits]="2"></p-inputNumber>
      <p [pTooltip]="item.unidad_obras[0].uob_unidad_medida_descripcion">{{item.unidad_obras[0].uob_unidad_medida_cod }}
      </p>
      <zwc-input-alert [control]="controlUOCantidad"></zwc-input-alert>
    </div>
  </td>
  <td zwcColorPrecargado [condicion]="item.precargado" *ngIf="sessionData.rol!=='Trabajador (EECC)'">
    {{
    item.unidad_obras[0].uo_precio_total_clp
    | currency: 'CLP':'$':'.0-2':'es-CL'
    }}
  </td>
  <td zwcColorPrecargado [condicion]="item.precargado" *ngIf="sessionData.rol!=='Trabajador (EECC)'">
    {{item.unidad_obras[0].uo_precio_total_clp*+controlUOCantidad.value| currency : 'CLP' : '$':'.0-2':'es-CL'}}
  </td>
  <td zwcColorPrecargado [condicion]="item.precargado" *ngIf="showDelete">

    <ng-container *ngIf="item.unidad_obras.length>1">
      <!-- <ng-container *ngIf="item.precargado === undefined || item.precargado === false"> -->
      <button (click)="callDeleteUOFromServicioFromCarrito(item, item.unidad_obras[0])"
        class="ui button eliminar-color">
        <fa-icon [icon]="trashICon"></fa-icon>
      </button>
      <!-- </ng-container> -->
      <!-- <ng-template #existente>
        <button (click)="show(item.servicio_id, item.unidad_obras[0].uo_codigo)"
          class="ui button eliminar-color">
          <fa-icon [icon]="trashICon"></fa-icon>
        </button>
      </ng-template> -->
    </ng-container>

    <!-- <div class="ui icon buttons mini basic">
          <button *ngIf="item.unidades_obras[0].uo_codigo!==0" (click)="showMateriales(item.unidades_obras[0].material_arr)" class="ui button generic-color">Detalles </button>
        </div> -->
  </td>
</ng-container>