<!-- <pre>
{{(detalleActa$|async).unidades_obra|json}}
</pre> -->

<div class="row">
  <ng-container *ngIf="(detalleActa$|async).servicios as servicios">
    <div class="col-xs-12 col-md-12">
      <app-card [classCardHeader]="'bg-info'">
        <ng-container card-header-title>Detalle servicios</ng-container>
        <ng-container card-body>
          <table style="width:100%">
            <thead>
              <tr>
                <th>Cod.</th>
                <th>Descripción</th>
                <th style="text-align: right">Cantidad a Enviar</th>
                <th>Precio Un.</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="(detalleActa$|async).unidades_obra as unidadesObra">
                <ng-container *ngFor="let servicio of servicios">
                  <tr>
                    <td class="label-table">{{ servicio.servicio_codigo }}</td>
                    <td class="data-secundaria">{{ servicio.servicio_descripcion |titlecase}}</td>
                    <td style="text-align: right">{{ servicio.faltante_cantidad }}</td>
                    <td class="data-secundaria">{{ +servicio.valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                    <td class="data-secundaria">{{ +servicio.valor_unitario_clp*+servicio.faltante_cantidad | currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                  </tr>
                  <ng-container *ngFor="let uo of unidadesObra">
                    <tr *ngIf="+uo.informe_has_servicio_id===+servicio.id">
                      <td class="label-table" style="background-color:#ff8e4e ;
                          padding-left: 22px !important;">{{ uo.unidad_obra_cod }}</td>
                      <td class="data-secundaria">{{ uo.unidad_obra_desc|titlecase }}</td>
                      <td style="text-align: right">{{ uo.faltante_cantidad }}</td>
                      <td class="data-secundaria">{{ +uo.valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                      <td class="data-secundaria">{{ +uo.valor_unitario_clp *uo.faltante_cantidad | currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </app-card>
    </div>
  </ng-container>
</div>

<div class="row" id="table-totales">
  <div class="col-md-4 col-xs-12"></div>
  <div class="col-md-4 col-xs-12">
    <table style="width: 100%;">
      <tr>
        <td>Total Servicios</td>
        <td>{{totalServicios| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td>Total Unidades Obra</td>
        <td>{{totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 col-xs-12"></div>
</div>

<form [formGroup]="formComentario">
  <div class="col-12" id="control_observaciones">
    <br>
    <label for="">Comentarios trabajos terminados</label>
    <textarea formControlName="comentarios" class="form-control" placeholder="..." name="comentarios" id="comentarios" cols="30" rows="2"></textarea>
    <br>
  </div>
</form>


<div class="row" id="table-totales">
  <div class="col-md-4 col-xs-12"></div>
  <div class="col-md-4 col-xs-12">
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Total a Pagar</ng-container>
      <ng-container card-body>
        <span class="total-pagar"> {{totalServicios + totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}} </span>
      </ng-container>
    </app-card>
  </div>
  <div class="ccol-md-4 col-xs-12"></div>
</div>


<div class="col-xs-12 col-md-12">
  <div style="text-align: right">
    <button class="btn btn-primary" (click)="enviarActa()" [class.disabled]="!formComentario.valid">
      <em class="pi pi-send mr-1"></em>Enviar
    </button>
  </div>
</div>