<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Perfiles del usuario {{(perfilesUser$|async)[0]?.nombreUser}} </h1>
      <span>listado de perfiles</span>
    </div>
    <div class="col">

      <button pButton [routerLink]="['/app/user/list-user']" type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined"></button>
      <button pButton (click)="openModalAddPerfilUser()" type="button" label="Agregar nuevo Perfil" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-perfil-user-button" style="margin-right: 10px;"></button>

    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <app-table [config]="configTable" [items]="(perfilesUser$ | async)"></app-table>
</div>

<app-modal [display]="displayModalPerfilesUser$|async" (CloseEvent)="closeAddPerfil()" [style]="{width: '50vw'}">
  <ng-container modal-header-title></ng-container>
  <ng-container modal-content>
    <div class="row">
      <div class="col">
        <p *ngIf="addMode" style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">Nuevo perfil</p>
        <p *ngIf="!addMode" style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">Editar superior</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">
              <form [formGroup]="formAddPerfil">
                <div id="perfil-usuario-form">
                  <app-select [control]="formAddControls.perfil_id" label="Perfil">
                    <ng-container options>
                      <option value="null" selected disabled>Seleccione perfil</option>
                      <ng-container *ngFor="let perfil of allPerfiles$ | async">
                        <option [value]="perfil.id">
                          {{ perfil.nombre}}
                        </option>
                      </ng-container>
                    </ng-container>
                  </app-select>
                </div>


                <br>

                <div id="superior-perfil-form">
                  <app-select [control]="formAddControls.superior_proxy_id" label="Superior directo">
                    <ng-container options>
                      <option value="null" selected disabled>Seleccione persona</option>
                      <option value="null">No posee superior directo</option>
                      <ng-container *ngFor="let superior of posiblesSuperiores$ | async">
                        <option [value]="superior.proxy_id">
                          {{ superior.usuario_nombre }} ({{ superior.perfil_nombre }})
                        </option>
                      </ng-container>
                    </ng-container>
                  </app-select>
                </div>

              </form>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" *ngIf="addMode" [disabled]="!formAddPerfil.valid" (click)="AgregarPerfil()" label="Agregar Perfil" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-perfil-button"></button>
              <button pButton type="button" *ngIf="!addMode" [disabled]="!formAddPerfil.valid" (click)="EditarSuperiorPerfil()" label="Editar Superior" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-perfil-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>

<app-modal [display]="displayModalEliminarPerfilUsuario" (CloseEvent)="closeModalEliminarPerfilUsuario()" [style]="{width: '50vw'}">
  <ng-container modal-header-title></ng-container>
  <ng-container modal-content>

    <div class="row">
      <div class="col">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea eliminar este perfil al usuario?</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">

            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" (click)="EliminarPerfilUsuario()" label="Si, confirmo" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="delete-perfil-user-button"></button>
              <button pButton type="button" (click)="closeModalEliminarPerfilUsuario()" label="No" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="delete-user-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>