<otec-navbar></otec-navbar>
<div class="section">
    <div class="left-navbar"></div>
    <div class="content ui segment">
        <div class="title">Creación de una orden de trabajo</div>

        
        <div class="form-content">
            <h2 class="etapa">Etapa 1</h2>
            <div class="form-etapa">
                <div class="field">
                    <label>Nombre*</label>
                    <input type="text" class="nombre-cubicacion" [(ngModel)]="nombreOT">
                </div>
                <div class="field">
                    <label>Tipo OT*</label>
                        <select name="tipoOT" id="tipoOT"  [(ngModel)]="tipoOT">
                            <option value="OT">OT</option>
                            <option value="AP">AP</option>
                        </select>
                </div>
                <div class="field">
                    <label>Cubicación (costeo)*</label>
                        <select name="cubicacion" id="cubicacion" (change)="selectedCubicacion()" [(ngModel)]="cubicacionId">
                            <option value=""> </option>
                            <option *ngFor="let cubicacion of cubicacionesArr" value="{{cubicacion.cubicacion_id}}">
                                {{cubicacion.nombre}}
                            </option>
                        </select>
                </div>
                
            </div>
        </div>

    </div>
</div>