/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box;
    -webkit-appearance: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0.87deg, #019DF4 1.07%, #019DF4 59.08%, rgba(1, 157, 244, 0.296875) 99.59%);
    /* height: 100vh; */
    margin:0;
    /* overflow: hidden; */
}

.section {
    display: flex;
    height: 100vh;
}

.left-navbar {
    width: 7%;
    border-right: 1px solid #fff5f570;
    background: #11a4f5;
    box-shadow: 2px 2px #fbfbfb30;
}

.content {
    width: 92%;
    margin-top: 3px;
    margin-left: 2px;
}

.title {
    text-align: center;
    font-weight: 700;
    color: #9b9b9b;
    font-size: 24px;
    letter-spacing: 5px;
    border-bottom: 1px solid #f1eaea;
    margin-bottom: 40px;
}