<zwc-content-layout [navbarHeader]="navbarHeader">
  <div content>
    <div class="card">
      <!-- 100 TODO: Agregar lazy loading cuando se tenga paginación desde el endpoint
        [lazy]="true" 
        [loading]="getCubicacioneSending$|async" 
        [totalRecords]="(cubicaciones$|async).length" -->
      <form [formGroup]="formFilter">
        <p-table #dt [columns]="['cubicacion_nombre']" [value]="cubicaciones$|async" dataKey="id"
          styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll" [paginator]="true" [rows]="10"
          scrollDirection="both" [scrollable]="true" [globalFilterFields]="['cubicacion_nombre']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0"></h5>
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <!-- FILTERS -->
            <!--
            <tr>
              <th pFrozenColumn style="width:80px">
                <fa-icon [icon]="filterIcon"></fa-icon>
                <input type="number" style="width: 100%;" formControlName="cubicacion_id">
              </th>
              <th style="width:200px">
                <fa-icon [icon]="filterIcon"></fa-icon>
                <input type="text" style="width: 100%;" formControlName="nombre" name="filter-nombre-cubicacion">
              </th>
              <th style="width:200px"></th>
              <th style="width:140px">
                <fa-icon [icon]="filterIcon"></fa-icon>
                <select name="" id="" formControlName="tipo_cubicacion" style="width:100% ;">
                  <option value=""></option>
                  <ng-container *ngFor="let item of tipo_cubicacion_filter">
                    <option [value]="item">{{item}}</option>
                  </ng-container>
                </select>
              </th>
              <th style="width:180px">
                <fa-icon [icon]="filterIcon"></fa-icon>
                <select name="" id="" formControlName="contrato_marco" style="width:100% ;">
                  <option value=""></option>
                  <ng-container *ngFor="let item of contratos_marcos_filter">
                    <option [value]="item">{{item}}</option>
                  </ng-container>
                </select>
              </th>
              <th style="width:180px">
                <fa-icon [icon]="filterIcon"></fa-icon>
                <select name="" id="" formControlName="agencia" style="width:100% ;">
                  <option value=""></option>
                  <ng-container *ngFor="let item of agencias_filter">
                    <option [value]="item">{{item}}</option>
                  </ng-container>
                </select>
              </th>
              <th style="width:200px"></th>
              <th style="width:140px"></th>
              <th style="width:100px"></th>
              <th style="width:300px"></th>
            </tr>
            -->
            <!-- HEADERS -->
            <tr>
              <th style="width:80px" pSortableColumn="cubicacion_id" pFrozenColumn>ID <p-sortIcon field="cubicacion_id">
                </p-sortIcon>
              </th>
              <th style="width:200px" pSortableColumn="cubicacion_nombre">Nombre <p-sortIcon field="cubicacion_nombre">
                </p-sortIcon>
              </th>
              <th style="width:200px">Descripcion</th>
              <th style="width:140px" pSortableColumn="tipo_cubicacion_descripcion">Tipo Cubicación
                <p-sortIcon field="tipo_cubicacion_descripcion"></p-sortIcon>
              </th>
              <th style="width:180px" pSortableColumn="contrato_marco_nombre">Contrato Marco <p-sortIcon
                  field="contrato_marco_nombre"></p-sortIcon>
              </th>
              <th style="width:180px" pSortableColumn="agencia_nombre">Agencia <p-sortIcon field="agencia_nombre">
                </p-sortIcon>
              </th>
              <th style="width:200px" pSortableColumn="creador_usuario_nombre">Creado Por <p-sortIcon
                  field="creador_usuario_nombre"></p-sortIcon>
              </th>
              <th style="width:140px" pSortableColumn="cubicacion_fecha_creacion">Fecha creación
                <p-sortIcon field="cubicacion_fecha_creacion"></p-sortIcon>
              </th>
              <th style="width:100px" pSortableColumn="total">Total <p-sortIcon field="total">
                </p-sortIcon>
              </th>
              <th style="width:300px">Operaciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td style="width:80px" pFrozenColumn>{{item.cubicacion_id}}</td>
              <td style="width:200px">{{item.cubicacion_nombre}}</td>
              <td style="width:200px">{{item.cubicacion_descripcion}}</td>
              <td style="width:140px">{{item.tipo_cubicacion_descripcion}}</td>
              <td style="width:180px">{{item.contrato_marco_nombre}}</td>
              <td style="width:180px">{{item.agencia_nombre}}</td>
              <td style="width:200px">{{item.creador_usuario_nombre}}</td>
              <td style="width:140px">{{item.cubicacion_fecha_creacion| date: 'dd/MM/yyyy'}}</td>
              <td style="width:100px">{{item.total| currency: 'CLP':'$':'.0-2':'es-CL'}}</td>
              <td style="width:300px">
                <div class="buttons-operaciones ">
                  <button (click)="showDetalleCubicacion(item)" id="button-detalle-cubicacion">
                    <fa-icon [icon]="infoIcon"></fa-icon> Detalles
                  </button>
                  <button (click)="showClonarCubicacion(item.cubicacion_id)" id="button-clonar-cubicacion">
                    <fa-icon [icon]="cloneIcon"></fa-icon> Clonar
                  </button>
                  <ng-container *ngIf="item.asignado; else noAsignado">
                    <button id="button-editar-cubicacion" class="disabled">
                      <fa-icon [icon]="editIcon"></fa-icon> Editar
                    </button>
                    <button style="background-color: #d32f2f;" id="button-eliminar-cubicacion" class="disabled">
                      <fa-icon [icon]="trashICon"></fa-icon>Eliminar
                    </button>
                  </ng-container>
                  <ng-template #noAsignado>
                    <button [routerLink]="['/cubicacion/form-cub',item.cubicacion_id]" id="button-editar-cubicacion">
                      <fa-icon [icon]="editIcon"></fa-icon> Editar
                    </button>
                    <button style="background-color: #d32f2f;" (click)="showEliminarCubicacion(item.cubicacion_id)"
                      id="button-eliminar-cubicacion">
                      <fa-icon [icon]="trashICon"></fa-icon>Eliminar
                    </button>
                  </ng-template>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              En total hay {{(cubicaciones$|async) ? (cubicaciones$|async).length : 0 }} elementos.
            </div>
          </ng-template>
        </p-table>
      </form>
    </div>

  </div>
</zwc-content-layout>

<p-dialog header="Detalles de Cubicación" [(visible)]="displayModalDetalleCubicacion" [draggable]="false" [modal]="true"
  (onHide)="closeModalDetalleCubicacion()">
  <ng-container>
    <div class="loading-modal-content" *ngIf="loagingGetDetalleCubicacion$|async  ; else content">
      <p>Loading...</p>
    </div>
  </ng-container>
  <ng-template #content>
    <!-- 101 TODO: NECESITO OBTENER EL TIPO CONTRATO  -->
    <div class="grid">
      <div class="col" *ngIf="cubicacionSelected?.contrato_marco_tipo_nombre==='Bucle'">
        <p-divider align="left">
          <span class="p-tag">Detales de dirección</span>
        </p-divider>
        <table class="info-bucle-direccion">
          <tr>
            <td style="background: #efefef;"><strong>Direccion desde</strong></td>
            <td>{{detalleCubicacion?.direccion_desde}}</td>
            <td style="background: #efefef;"><strong>Altura</strong> </td>
            <td>{{detalleCubicacion?.altura_desde}}</td>
          </tr>
          <tr>
            <td style="background: #efefef;"><strong>Direccion Hasta</strong> </td>
            <td>{{detalleCubicacion?.direccion_hasta}}</td>
            <td style="background: #efefef;"><strong>Altura</strong> </td>
            <td>{{detalleCubicacion?.altura_hasta}}</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <p-divider align="left">
          <span class="p-tag">Detales de la cubicación </span>
        </p-divider>
        <table class="info-bucle-direccion">
          <tr>
            <td style="background: #efefef;"><strong>Código</strong></td>
            <td>{{cubicacionSelected?.codigo_acuerdo}}</td>
          </tr>
          <tr>
            <td style="background: #efefef;"><strong>Agencia</strong> </td>
            <td>{{cubicacionSelected?.agencia_nombre}}</td>
          </tr>
          <tr>
            <td style="background: #efefef;"><strong>Agencia Región</strong> </td>
            <td>{{cubicacionSelected?.agencia_region_nombre}}</td>
          </tr>
          <tr>
            <td style="background: #efefef;"><strong>Contrato</strong> </td>
            <td>{{cubicacionSelected?.contrato_marco_nombre}}</td>
          </tr>
        </table>
      </div>
    </div>



    <p-divider align="center">
      <span class="p-tag">Cubicación</span>
    </p-divider>
    <!-- <zwc-view-table-services></zwc-view-table-services> -->
    <zwc-table-servicios mode_source="static" [data_source]="servicios" [cantidad_editable]="false"
      [column_acciones]="false">
    </zwc-table-servicios>
  </ng-template>
</p-dialog>


<p-dialog header="Clonar Cubicación" [(visible)]="displayModalClonarCubicacion" [draggable]="false" [modal]="true"
  (onHide)="closeModalClonarCubicacion()">
  <ng-container>
    <div class="loading-modal-content" *ngIf="loagingGetDetalleCubicacion$|async  ; else contentClonar">
      <p>Loading...</p>
    </div>
  </ng-container>
  <ng-template #contentClonar>
    <zwc-clonador-cubicacion [detalleCubicacion]="detalleCubicacion"
      (closeModalDetalleCubicacionEmit)="closeModalClonarCubicacion()"></zwc-clonador-cubicacion>
  </ng-template>
</p-dialog>

<p-dialog header="Eliminar Cubicación" [(visible)]="displayModalEliminarCubicacion" [draggable]="false" [modal]="true">
  <zwc-view-confirmacion [pregunta]='mensajeConfirmacion' (cancelar)="closeModalEliminarCubicacion()"
    (confirmar)="confirmarEliminarCubicacion()"></zwc-view-confirmacion>
</p-dialog>