<div class="container-box">
    <h1>Resultado ingeniería</h1>

    <p-divider align="center">
        <span class="p-tag"> Ingeniería</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12 table-autorizar-adicionales">
                <zwc-table-servicios #tableServiciosAutorizarAdicionales mode_source="static"
                    [data_source]="dataCubicacionIngenieria" [contratoMarco]="contrato" [cantidad_editable]="false"
                    [column_acciones]="false">
                </zwc-table-servicios>
            </div>
        </div>
    </div>
</div>