<div class="step-content">
    <p-card>
        <ng-template pTemplate="title">
            Configuración de orden de trabajo  - PEP2
        </ng-template>
        <ng-template pTemplate="subtitle">
            Ingrese Pep2
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="tipoot">id PMO</label>
                    <select name="tipoOT" id="tipoOT" >
                        <option value="OT">OT</option>
                        <option value="AP">AP</option>
                    </select>
                </div>
                <div class="p-field">
                    <label for="cubicacion">Línea presupuestaría</label>
                    <!-- <input #cubicacion="ngModel" id="cubicacion" type="text" required  [(ngModel)]="cubicacionProyecto.cubicacion">  -->
                    <select name="tipoOT" id="tipoOT" >
                        <option value="OT">OT</option>
                        <option value="AP">AP</option>
                    </select>     
                </div>
                <div class="p-field">
                    <label for="cubicacion">Pep2</label>
                    <!-- <input #cubicacion="ngModel" id="cubicacion" type="text" required  [(ngModel)]="cubicacionProyecto.cubicacion">  -->
                    <select name="tipoOT" id="tipoOT" >
                        <option value="OT">OT</option>
                        <option value="AP">AP</option>
                    </select>     
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <button class="ui green button" (click)="back()">Atras</button>
                <button class="ui blue button" (click) ="next()">Siguiente</button>
            </div>
        </ng-template>
    </p-card>
</div>
