<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Perfiles </h1>
      <span>listado de perfiles en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/profile/form-pro']" pButton type="button" label="Nuevo Perfil"
        icon="pi pi-plus" class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-table [config]="configTable" [items]="(items$ | async)"></app-table>
  <app-modal [display]="DisplayModal" (CloseEvent)="DisplayModal=false" >
    <ng-container modal-header-title >Lista de Permisos del perfil</ng-container >
    <ng-container modal-content >
      <div *ngFor="let item of ModalDataPermissions" class="col-xs-12 col-md-4 pt-2">
        <p-listbox [options]="item.permissions" optionLabel="nombre_corto" optionDisabled="inactive" [disabled]="true">
          <ng-template pTemplate="header">
            {{item.module}}
          </ng-template>
        </p-listbox>
      </div>
      <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of ModalDataPermissions"> <strong>{{item.nombre_corto}}</strong>  : {{item.descripcion}}</li>
      </ul> -->
    </ng-container >
    <ng-container modal-footer ></ng-container >
    </app-modal>
</div>