<app-card [classCardHeader]="'bg-info'">
  <ng-container card-header-title>Detalle Cubicación</ng-container>
  <ng-container card-body>
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <td><strong>Tipo Contrato</strong></td>
          <td>{{ cubicacion ? ': ' + cubicacion.contrato_marco_tipo_nombre : ' ---' }}</td>
        </tr>
        <tr>
          <td><strong>Contrato</strong></td>
          <td>{{ cubicacion ? ': ' + cubicacion.contrato_marco_nombre : ' ---' }}</td>
        </tr>
        <tr>
          <td><strong>Proveedor</strong></td>
          <td>{{ cubicacion ? ': ' + cubicacion.proveedor_nombre : ' ---' }}</td>
        </tr>
        <tr>
          <td><strong>Región</strong></td>
          <td>{{ cubicacion ? ': ' + cubicacion.region_nombre : ' ---' }}</td>
        </tr>
        <tr *ngxPermissionsOnly="['OT_VER_VALOR_LPU']">
          <td><strong>Total</strong></td>
          <td>{{ cubicacion ? ': ' + (cubicacion.total|currency : cubicacion.total_tipo_moneda : cubicacion.total_tipo_moneda===''?'':cubicacion.total_tipo_moneda + ' $':'.0-2':'es-CL') : ' ---' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-card>