<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Cubicaciones </h1>
      <span>listado de cubicaciones en sistema</span>
    </div>
    <div class="col">
      <button *ngxPermissionsOnly="['CUBICACION_CREAR']" [routerLink]="['/app/cubicacion/form-cub']" pButton type="button" label="Nueva Cubicación" icon="pi pi-plus" class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <!-- <app-table [config]="configTable" [items]="(cubicaciones$ | async)"></app-table> -->

  <app-modal [display]="DisplayModalDetalleCubicacion" (CloseEvent)="DisplayModalDetalleCubicacion=false">
    <ng-container modal-header-title>Detalles de a cubicación</ng-container>
    <ng-container modal-content>
      <app-detalle-cubicacion-table></app-detalle-cubicacion-table>
      <!-- <span id="total"> <strong>Total:</strong> {{ total| currency : 'CLP' : '$':'.0-2':'es-CL' }}</span> -->
    </ng-container>
    <ng-container modal-footer></ng-container>
  </app-modal>
</div>

<app-modal [display]="displayClonatedCubageNameModal" (CloseEvent)="displayClonatedCubageNameModal=false" [style]="{ width: '50vw' }">
  <ng-container modal-header-title>Clonar Cubicación</ng-container>
  <ng-container modal-content>
    <app-clone-cubage-form #cloneCubageForm></app-clone-cubage-form>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="displayClonatedCubageNameModal=false">Cancelar</button>
    <button class="btn btn-primary" (click)="cloneCubabeFormSubmit()">
      <em class="pi pi-save mr-1"></em>Guardar
    </button>
  </ng-container>
</app-modal>