<nav class="navbar-container">
    <button pButton pRipple class="p-button-text" id="toggle" (click)="toggleInt()">
        <fa-icon [icon]="faBars"></fa-icon>
        <p class="titulo">SIGO</p>
    </button>

    <div class="buttons-principales-container">
        <div class="button-menu" *ngxPermissionsOnly="['CUBICACION_LISTAR','CUBICACION_CREAR']">
            <span>
                <fa-icon [icon]="faCub"></fa-icon> Costeo
            </span>
            <button *ngxPermissionsOnly="['CUBICACION_LISTAR']" [routerLink]="['cubicacion']"
                id="navbar-list-cub">Listar</button>
            <button *ngxPermissionsOnly="['CUBICACION_CREAR']" [routerLink]="['/cubicacion/form-cub']"
                id="navbar-create-cub">Crear</button>
        </div>
        <div class="button-menu" *ngxPermissionsOnly="['OT_LISTAR','OT_CREAR']">
            <span>
                <fa-icon [icon]="faOT"></fa-icon>OT
            </span>
            <button *ngxPermissionsOnly="['OT_LISTAR']" [routerLink]="['/ot']" id="navbar-list-ot">Listar</button>
            <button *ngxPermissionsOnly="['OT_CREAR']" [routerLink]="['/ot/form-ot']"
                id="navbar-create-ot">Crear</button>
        </div>
    </div>

    <div class="menu">
        <li class="notification" (click)="onToggleNotificationes($event);" #notificationes>

            <span class="span-notification">
                <fa-icon [icon]="faBell"></fa-icon>
                <span *ngIf="Notificationes?.length>0" class="span-new-notice"></span>
            </span>
            <div *ngIf="NotificationesOpen" class="dropdown-container dropdown-position-bottomright" #dropdownmenu>
                <div class="dropdown-toolbar">
                    <div class="row">
                        <div class="col-sm-6" style="float:left;">
                            <div class="h3 dropdown-toolbar-title"><span>Notificaciones</span>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>

                <ul *ngIf="Notificationes?.length==0" class="dropdown-menu notifications">
                    <li class="empty">
                        <span>No Notificaciones</span>
                    </li>
                </ul>
                <ul *ngFor="let item of Notificationes" class="dropdown-menu notifications"
                    (click)="onMessageRead($event)">
                    <li data-id="{{item?.id}}" class="empty">
                        <span class="message">{{item?.mensaje}}</span>
                        <span class="description">{{item?.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    </li>
                </ul>
            </div>
        </li>
        <button pButton pRipple class="p-button-text" (click)="changePerfilInt()" id="cambiar-perfil">
            Cambiar perfil
        </button>
        <button pButton pRipple class="p-button-text" (click)="logoutInt()" id="logout">
            Logout
        </button>
    </div>

</nav>