<nav class="navbar-container">
    <button pButton pRipple class="p-button-text" id="toggle" (click)="toggleInt()">
        <fa-icon [icon]="faBars"></fa-icon>
        <p class="titulo">SIGO</p>
    </button>

    <div class="buttons-principales-container">
        <div class="button-menu" *ngxPermissionsOnly="['CUBICACION_LISTAR','CUBICACION_CREAR']">
            <span>
                <fa-icon [icon]="faCub"></fa-icon> Costeo
            </span>
            <button *ngxPermissionsOnly="['CUBICACION_LISTAR']" [routerLink]="['cubicacion']">Listar</button>
            <button *ngxPermissionsOnly="['CUBICACION_CREAR']" [routerLink]="['/cubicacion/form-cub']">Crear</button>
        </div>
        <div class="button-menu" *ngxPermissionsOnly="['OT_LISTAR','OT_CREAR']">
            <span>
                <fa-icon [icon]="faOT"></fa-icon>OT
            </span>
            <button *ngxPermissionsOnly="['OT_LISTAR']" [routerLink]="['/ot']">Listar</button>
            <button *ngxPermissionsOnly="['OT_CREAR']" [routerLink]="['/ot/form-ot']">Crear</button>
        </div>
    </div>

    <div class="menu">
        <button pButton pRipple class="p-button-text" (click)="changePerfilInt()" id="cambiar-perfil">
            Cambiar perfil
        </button>
        <button pButton pRipple class="p-button-text" (click)="logoutInt()" id="logout">
            Logout
        </button>
    </div>

</nav>