<nav class="navbar-container">
    <button pButton pRipple class="p-button-text" id="toggle" (click)="toggleInt()">
        <fa-icon [icon]="faBars"></fa-icon>
        <p class="titulo">SIGO</p>
    </button>

    <div class="buttons-principales-container">
        <div class="button-menu" *ngxPermissionsOnly="['CUBICACION_LISTAR','CUBICACION_CREAR']">
            <span>
                <fa-icon [icon]="faCub"></fa-icon> Costeo
            </span>
            <button *ngxPermissionsOnly="['CUBICACION_LISTAR']" [routerLink]="['cubicacion']"
                id="navbar-list-cub">Listar</button>
            <button *ngxPermissionsOnly="['CUBICACION_CREAR']" [routerLink]="['/cubicacion/form-cub']"
                id="navbar-create-cub">Crear</button>
        </div>
        <div class="button-menu" *ngxPermissionsOnly="['OT_LISTAR','OT_CREAR']">
            <span>
                <fa-icon [icon]="faOT"></fa-icon>OT
            </span>
            <button *ngxPermissionsOnly="['OT_LISTAR']" [routerLink]="['/ot']" id="navbar-list-ot">Listar</button>
            <button *ngxPermissionsOnly="['OT_CREAR']" [routerLink]="['/ot/form-ot']"
                id="navbar-create-ot">Crear</button>
        </div>
    </div>

    <div class="menu">
        <div #costeopanel class="mobile-container">
            <li class="menu-item" *ngxPermissionsOnly="['CUBICACION_LISTAR','CUBICACION_CREAR']"
                (click)="onToggleCosteoPanel($event);">
                <span class="span-menu-item">
                    <fa-icon [icon]="faCub"></fa-icon>
                </span>
            </li>
            <div *ngIf="costeoPanelOpen"
                class="dropdown-principales-container dropdown-position-bottomright costeopanel">
                <div class="dropdown-toolbar">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="span-title">
                                <fa-icon [icon]="faCub"></fa-icon>
                                Costeo
                            </span>
                            <span class="span-back">
                                <fa-icon [icon]="faArrowLeft" (click)="OnGoBackCosteoPanel();"></fa-icon>
                                Costeo
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="dropdown-menu" (click)="costeoPanelOpen = false;">
                    <li class="p-button-text" *ngxPermissionsOnly="['CUBICACION_LISTAR']" [routerLink]="['cubicacion']"
                        id="navbar-list-cub">Listar</li>
                    <li class="p-button-text" *ngxPermissionsOnly="['CUBICACION_CREAR']"
                        [routerLink]="['/cubicacion/form-cub']" id="navbar-create-cub">Crear</li>
                </ul>
            </div>
        </div>
        <div #otpanel class="mobile-container">
            <li class="menu-item" *ngxPermissionsOnly="['OT_LISTAR','OT_CREAR']" (click)="onToggleOTPanel($event);">
                <span class="span-menu-item">
                    <fa-icon [icon]="faOT"></fa-icon>
                </span>
            </li>
            <div *ngIf="otPanelOpen" class="dropdown-principales-container dropdown-position-bottomright otpanel">
                <div class="dropdown-toolbar">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="span-title">
                                <fa-icon [icon]="faOT"></fa-icon>
                                OT
                            </span>
                            <span class="span-back">
                                <fa-icon [icon]="faArrowLeft" (click)="OnGoBackOtPanel();"></fa-icon>
                                OT
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="dropdown-menu" (click)="otPanelOpen = false;">
                    <li class="p-button-text" *ngxPermissionsOnly="['OT_LISTAR']" [routerLink]="['/ot']"
                        id="navbar-list-ot">Listar
                    </li>
                    <li class="p-button-text" *ngxPermissionsOnly="['OT_CREAR']" [routerLink]="['/ot/form-ot']"
                        id="navbar-create-ot">Crear
                    </li>
                </ul>
            </div>
        </div>
        <div #dropdownmenu>
            <li class="menu-item" (click)="onToggleNotificationes($event);">
                <span class="span-menu-item">
                    <fa-icon [icon]="faBell"></fa-icon>
                    <span *ngIf="Notificationes?.length>0" class="span-new-notice"></span>
                </span>
            </li>

            <div *ngIf="NotificationesOpen" class="dropdown-container dropdown-position-bottomright notifications">
                <div class="dropdown-toolbar">
                    <div class="row">
                        <div class="col-sm-12" style="float:left;">
                            <span class="span-title">
                                <fa-icon [icon]="faBell"></fa-icon>
                                Notificaciones
                            </span>
                            <span class="span-back">
                                <fa-icon [icon]="faArrowLeft" (click)="OnGoBackNotifications();"></fa-icon>
                                Notificaciones
                            </span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu">
                    <ul *ngIf="Notificationes?.length==0">
                        <li class="empty">
                            <span>No Notificaciones</span>
                        </li>
                    </ul>
                    <ul *ngFor="let item of Notificationes" (click)="onMessageRead($event)">
                        <li data-id="{{item?.id}}" class="empty">
                            <span class="message">{{item?.mensaje}}</span>
                            <span class="description">{{item?.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div #userpanel class="mobile-container">
            <li class="menu-item" (click)="onToggleUserPanel($event);">
                <span class="span-menu-item">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
            </li>
            <div *ngIf="userPanelOpen" class="dropdown-principales-container dropdown-position-bottomright userpanel">
                <div class="dropdown-toolbar">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="span-title">
                                <fa-icon [icon]="faUser"></fa-icon>
                                Nombre completo
                            </span>
                            <span class="span-back">
                                <fa-icon [icon]="faArrowLeft" (click)="OnGoBackUserPanel();"></fa-icon>
                                Nombre completo
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="dropdown-menu">
                    <li class="p-button-text" (click)="changePerfilInt()" id="cambiar-perfil">
                        Cambiar perfil
                    </li>
                    <li class="p-button-text" (click)="logoutInt()" id="logout">
                        Logout
                    </li>
                </ul>
            </div>
        </div>
        <div class="button-user-container">
            <button class="p-button" (click)="changePerfilInt()" id="cambiar-perfil">
                Cambiar perfil</button>

            <button class="p-button" (click)="logoutInt()" id="logout">
                Logout</button>
        </div>
    </div>

</nav>