<zwc-content-layout [navbarHeader]="navbarHeader" >
    <div content>
        <zwc-formulario></zwc-formulario>
        <p-divider align="center">
            <span class="p-tag">Agregar Servicios</span>
        </p-divider>
        <div class="grid">
            <div class="field col-12 md:col-3 lg:col-3 xl:col-3">
                <zwc-agregar-servicios-form></zwc-agregar-servicios-form>
            </div>
            <div class="field col-12 md:col-9 lg:col-9 xl:col-9"></div>
        </div>
    </div> 
</zwc-content-layout>