<!-- <pre>{{carrito$|async|json}}</pre> -->
<form class="carrito-container" [formGroup]="formTable">
  <table>
    <thead>
      <tr>
        <th [attr.colspan]="colSpanCalculate()">Servicios</th>
        <th [attr.colspan]="colSpanCalculate()">Unidad Obra</th>
      </tr>
      <tr>
        <th>Cod</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th *ngIf="sessionData.rol!=='Trabajador (EECC)'">Precio</th>
        <th *ngIf="sessionData.rol!=='Trabajador (EECC)'">Total Servicio</th>
        <th *ngIf="showDelete"></th>

        <th>Cód</th>
        <th>Descripción</th>
        <th>Actividad</th>
        <th>Cantidad</th>
        <th *ngIf="sessionData.rol!=='Trabajador (EECC)'">Precio</th>
        <th *ngIf="sessionData.rol!=='Trabajador (EECC)'">Total UO</th>
        <th *ngIf="showDelete"></th>
      </tr>
    </thead>
    <tbody formArrayName="table">
      <ng-container *ngFor="let item of carrito$|async;let i = index">
        <ng-container *ngIf="item.unidad_obras.length===1">
          <tr zwc-base-td [item]="item" [controlServicioCantidad]="getControlServiceCantidad(item.servicio_id)"
            [controlUOCantidad]="getControlUOCantidad(item.servicio_id,item.unidad_obras[0].uo_codigo)"
            (deleteServicio)="deleteServicioFromCarrito($event)" (deleteUO)="deleteUOFromServicioFromCarrito($event)"
            [showDelete]="showDelete">
          </tr>
        </ng-container>
        <ng-container *ngIf="item.unidad_obras.length>1">
          <tr zwc-base-td [item]="item" [controlServicioCantidad]="getControlServiceCantidad(item.servicio_id)"
            [controlUOCantidad]="getControlUOCantidad(item.servicio_id,item.unidad_obras[0].uo_codigo)"
            (deleteServicio)="deleteServicioFromCarrito($event)" (deleteUO)="deleteUOFromServicioFromCarrito($event)"
            [showDelete]="showDelete">
          </tr>
          <ng-container *ngFor="let uo of item.unidad_obras| slice:1; let iuo= index">
            <tr zwc-multi-td [uo]="uo" [controlUOCantidad]="getControlUOCantidad(item.servicio_id,uo.uo_codigo)"
              [servicio]="item" (deleteUO)="deleteUOFromServicioFromCarrito($event)" [showDelete]="showDelete">
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
      <tr>
        <td colspan="14"></td>
      </tr>
      <ng-container *ngIf="sessionData.rol!=='Trabajador (EECC)'">
        <tr>
          <td colspan="5" style="background-color: #efefef;">Total Servicios</td>
          <td style="background-color: #efefef;" class="total-servicio-monto">{{totalServicios| currency : 'CLP' :
            '$':'.0-2':'es-CL'}}</td>
          <td style="background-color: #efefef;" colspan="6">Total Unidades Obra</td>
          <td style="background-color: #efefef;" class="total-uo-monto">{{totalUOs| currency : 'CLP' :
            '$':'.0-2':'es-CL'}}</td>
          <td style="background-color: #efefef;"></td>
        </tr>
        <tr>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td style="background-color: #efefef;" colspan="4"></td>
          <td style="background-color: #efefef;">Total Cubicación</td>
          <td style="background-color: #efefef;" class="total-cubicacion-monto">{{totalServicios+totalUOs| currency :
            'CLP' : '$':'.0-2':'es-CL'}}</td>
          <td style="background-color: #efefef;" colspan="8"></td>
        </tr>
      </ng-container>

    </tbody>
  </table>

  <div class="message" id="alert-carrito-vacio" *ngIf="(carrito$|async).length === 0">
    <p-message severity="error" text="Al menos 1 servicio debe ser ingresado" styleClass="mr-2"></p-message>
  </div>

  <!-- <pre>{{formTable.value|json}}</pre> -->

</form>


<!-- <p-dialog header="Eliminar Servicio existente" [(visible)]="displayModalConfirmacionEliminar" [draggable]="false"
  [modal]="true">
  <zwc-view-confirmacion [pregunta]='mensajeConfirmacion' (cancelar)="closeModalElimarServicio()"
    (confirmar)="eliminarServicioCarrito()"></zwc-view-confirmacion>
</p-dialog> -->