<div class="reportes-container">
  <span>Reportes</span>
</div>

<div class="sidebar-menu">
  <ul>
    <ng-container *ngxPermissionsOnly="['REPORTE_BASE']">
      <li routerLinkActive="active" id="reportes-ot">
        <a [routerLink]="['/reportes/ot']">
          <span><small>OTs Asignadas</small></span>
        </a>
      </li>
    </ng-container>

    <ng-container *ngxPermissionsOnly="['REPORTE_ACTIVOS']">
      <li routerLinkActive="active" id="reportes-activos">
        <a [routerLink]="['/reportes/activos']">
          <span><small>Activos Fijos</small></span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
