<div class="row" [formGroup]="form">
  <div class="col-xs-12 col-md-6">
    <label class="mr-1" for="">Fecha inicio</label>
    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="form-control d-block" formControlName="fecha_inicio" id="fecha-inicio-ot" name="fecha-inicio-ot"></p-calendar>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Fecha termino</label>
    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="form-control d-block" formControlName="fecha_fin" id="fecha-termino-ot" name="fecha-termino-ot"></p-calendar>
  </div>

  <ng-container *ngIf="invalidDates">
    <div class="col-12">
      <p-messages [(value)]="msgsWrongDates" [closable]="false"></p-messages>
    </div>
  </ng-container>

  <div class="col-xs-12 col-md-6">
    <br>
    <app-select [control]="form.get('proyecto_id')" label="Proyecto" ID="proyecto-ot">
      <ng-container options>
        <option value="null" selected disabled>Seleccione Proyecto</option>
        <ng-container *ngFor="let proyecto of proyectos$|async">
          <option [value]="proyecto.id">{{proyecto.nombre}}</option>
        </ng-container>
      </ng-container>

    </app-select>
    <br>
  </div>

  <div class="col-12">
    <br>
    <label for="">Observaciones</label>
    <textarea formControlName="observaciones" class="form-control" placeholder="..." name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
    <br>
  </div>
</div>
