<div class="container-box">
    <h1>Resultado ingeniería</h1>

    <p-divider align="center">
        <span class="p-tag">Servicios Cubicados</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12 table-informe-avance">
                <zwc-table-servicios mode_source="static" [data_source]="dataCubicacion" [cantidad_editable]="false"
                    [column_acciones]="false"
                    [contratoMarco]="dataOT?.model_cubicacion_id?.model_contrato_id?.model_tipo_contrato_id?.nombre">
                </zwc-table-servicios>
            </div>

        </div>
    </div>

    <p-divider align="center">
        <span class="p-tag">Ingenierías</span>
    </p-divider>

    <div class="card" *ngIf="rol==='TRABAJADOR'">
        <div class=" grid">
            <div class="field col-12 table-agregar-servicios-adicionales">
                <p-divider align="center">
                    <span class="p-tag">Agregar Servicios</span>
                </p-divider>
                <div class="grid">
                    <div class="field col-12 md:col-3 lg:col-3 xl:col-3">
                        <zwc-form-agregar-servicios #agregarServiciosForm reglasDeAgregacion="ServiciosAdicionales"
                            [informeAvance]="dataCubicacion">
                        </zwc-form-agregar-servicios>
                    </div>
                    <div class="field col-12 md:col-9 lg:col-9 xl:col-9 table-adicionales">
                        <zwc-table-servicios mode_source="agregar-adicionales-informe-avance"
                            [informe_avance]="dataCubicacion" [contratoMarco]="contrato" #tableServicios>
                        </zwc-table-servicios>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="rol==='ADM_EECC'">
        <div class=" grid">
            <div class="field col-12 table-informe-avance">
                <zwc-table-servicios mode_source="static" [data_source]="dataCubicacionIngenieria"
                    [cantidad_editable]="false" [column_acciones]="false"
                    [contratoMarco]="dataOT?.model_cubicacion_id?.model_contrato_id?.model_tipo_contrato_id?.nombre">
                </zwc-table-servicios>
            </div>

        </div>
    </div>

    <div class="card" *ngIf="canSeePrices()">
        <div class=" grid">
            <div class="field col-12 table-agregar-servicios-adicionales">
                <p-divider align="center">
                    <span class="p-tag">Total</span>
                </p-divider>
                <div class="grid">
                    <div class="field col-12 md:col-3 lg:col-3 xl:col-3 total-final-ia">
                        {{totalFinalInformeAvance|
                        currency : 'CLP' : '$':'.0-2':'es-CL'}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-divider align="center">
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined"
                    [routerLink]="['/ot']">
                    Atrás
                </button>
            </div>
            <zwc-pbutton-sending Pid="editar-cubicacion" content="Guardar cambios"
                *ngIf="tableServicios && rol==='TRABAJADOR'" Pclass="p-button-info p-button-sm mt-4 w-full"
                [sending]="sendingSaveCubicacion$|async"
                [Pdisabled]="!tableServicios.valid || (sendingSaveCubicacion$|async)===true || (carrito$|async).length===0"
                (call)="editarCubicacion()"></zwc-pbutton-sending>

            <zwc-pbutton-sending Pid="enviar" content="Enviar Resultado" *ngIf="rol==='ADM_EECC'"
                Pclass="p-button-info p-button-sm mt-4 w-full" (call)="displayModalEnvioResultadoIngenieria=true">
            </zwc-pbutton-sending>
        </div>
    </div>
</div>
<p-dialog header="Confirmar envío del resultado de ingeniería" [(visible)]="displayModalEnvioResultadoIngenieria"
    [draggable]="false" [modal]="true">
    Order de trabajo ID: {{ot_id}}
    <zwc-view-confirmacion pregunta='¿Desea confirmar el envío del resultado de ingeniería?'
        (cancelar)="displayModalEnvioResultadoIngenieria=false" (confirmar)="enviarResultadoIngenieria()"
        textConfirmar="Enviar">
    </zwc-view-confirmacion>
</p-dialog>