<app-card [classCardHeader]="'bg-info'">
  <ng-container card-header-title>Detalle Cubicación</ng-container>
  <ng-container card-body>
    <ol>
      <li>Contrato: {{cubage ? cubage.contrato_marco_nombre : ' ---'}}</li>
      <li>Proveedor: {{cubage ? cubage.proveedor_nombre : ' ---'}}</li>
      <li>Región:{{cubage ? cubage.region_nombre : ' ---'}}</li>
      <li>Total: ${{cubage ? cubage.total : ' ---'}}</li>
    </ol>
  </ng-container>
</app-card>

<app-card [classCard]="'mt-3'" [classCardHeader]="'bg-info'">
  <ng-container card-header-title>Plan de proyecto</ng-container>
  <ng-container card-body>
    <ol>
      <li>Plan:{{formOt.cubicacion_id}}</li>
      <li>Código proyecto:{{formOt.cubicacion_id}}</li>
      <li>Nombre sitio:{{formOt.cubicacion_id}}</li>
      <li>Dirección:{{formOt.cubicacion_id}} </li>
      <li>Latitud: {{formOt.cubicacion_id}}</li>
      <li>Longitud:{{formOt.cubicacion_id}} </li>
    </ol>
  </ng-container>
</app-card>