<div class="row" style="padding: 15px">
  <ng-container *ngIf="form">
    <div class="col-xs-12 col-md-12">
      {{ values | json }}
      <form [formGroup]="form">
        <app-select [control]="form.get('tipo_pago')" label="Tipo de pago">
          <ng-container options>
            <option value="" selected disabled>Seleccione</option>
            <ng-container *ngFor="let tipoPago of tiposPago$ | async">
              <option [value]="tipoPago.descripcion">{{ tipoPago.descripcion }}</option>
            </ng-container>
          </ng-container>
        </app-select>
      </form>
    </div>
  </ng-container>
</div>
