.container-acta {
    padding: 10px;

    h1 span {
        font-size: 1.5rem;
    }

    ul.actas-list {
        width: 95%;
        margin-left: auto;

        li {
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 5px 10px 5px 10px;
            padding: 5px 10px 5px 10px;
        }

        .acta-invalida {
            background-color: #ff9696;
        }

        .acta-valida {
            background-color: #81db81;
        }

        .acta-pendiente {
            background-color: #cacaca;
        }

        li:hover {
            background-color: #a3a2a2;
            cursor: pointer;
        }
    }

    div.p-button {
        display: block;
        float: right;
        width: 135px;
        height: 35px;
        font-size: 13px;
        text-align: center;
        background-color: #015682;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
    }

    div.p-button:hover {
        background-color: #066b9e;
    }

    img.download-pdf-icon {
        height: 100%;
        margin-right: 5px;
        float: left;
    }

    .download-label {
        background-color: inherit;
        border-width: 0px;
        width: auto;
        height: 100%;
        color: white;
        cursor: pointer;
    }

    div.content-detail {
        width: 100%;
        padding: 0px 5px 5px 5px;

        div.item-group {
            width: 100%;
            margin-bottom: 20px;
        }

        .item-row {
            padding: 5px 10px 5px 5px;
            border-bottom: solid 1px #8a8989;
            margin-bottom: 10px;
        }

        .grid-container {
            display: grid;
            grid-auto-flow: column;
        }

        td:even {
            padding-left: 30px;
        }

        .item-tab {
            display: block;
            padding: 10px 10px 0px 10px;
        }

        .item-descript {
            display: block;
            font-style: italic;
            font-weight: bold;
            padding: 0px 10px 0px 10px;
        }

        .item-metadata {
            padding: 0px 10px 0px 10px;
        }
    }


}