.container-acta {
    padding: 10px;

    h1 span {
        font-size: 1.5rem;
    }

    ul.actas-list {        
        width: 95%;
        margin-left: auto; 

        li {
            list-style-type: none;
            background-color: #dedcdc;
            border: solid 1px #8a8989;
            margin: 5px 10px 5px 10px;
            padding: 5px 10px 5px 10px;            
        }

        li:hover {
            background-color: #a3a2a2;            
            cursor: pointer;
        }
    }    

    input.p-button{
        display: block;
        float: right;
    }

    div.content-detail{
        width:100%;
        padding: 0px 5px 5px 5px;        
        
        div.item-group {
            width:100%;  
            margin-bottom: 20px;                     
        }
        
        .item-row{
            padding: 5px 10px 5px 5px;
            border-bottom: solid 1px #8a8989;
            margin-bottom: 10px;            
        }
        .grid-container{
            display: grid;
            grid-auto-flow: column;
        }
        td:even{
            padding-left: 30px;
        }
        .item-tab{
            display: block;
            padding:10px 10px 0px 10px;
        }
        .item-descript{
            display: block;
            font-style: italic;
            font-weight: bold;
            padding: 0px 10px 0px 10px;
        }
    }

    
}