<div class="container-acta">
    <h1>Acta</h1>
    <div class="card">
        <div class="formgrid grid info-base">

            <div class="field col-12 md:col-3 lg:col-3 xl:col-3">
                <p-divider align="center">
                    <span class="p-tag">Actas</span>
                </p-divider>

                <ul *ngFor="let acta of registrosListActas" class="actas-list">
                    <li id={{acta.id}} (click)="OnDetallActa(acta.id)">
                        {{acta.created_at | date:'yyyy-MM-dd hh:mm:ss'}}
                    </li>
                </ul>
            </div>
            <div class="field col-12 md:col-9 lg:col-9 xl:col-9">
                <p-divider align="center">
                    <span class="p-tag">Detalle Actas</span>
                </p-divider>
                <div *ngIf="registrosDetallActa?.pdf_acta?.size>0" class="p-button">
                    <img src="https://img.icons8.com/ios/2x/export-pdf-2.png" class="download-pdf-icon">
                    <a [href]="API_URL + registrosDetallActa?.pdf_acta?.url"
                        [download]="registrosDetallActa?.pdf_acta?.nombre_original">Descargar</a>
                </div>
                <div class="content-detail">
                    <div class="content-head">
                        <div class="item-group">
                            <h4>Fechas</h4>
                            <div class="item-row grid-container">
                                <span>Fechas Creación:</span>
                                <label>{{registrosDetallActa?.acta?.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</label>
                                <span>Fechas Termino Estimada:</span>
                                <label>{{registrosDetallActa?.acta?.validacion_fecha | date:'yyyy-MM-dd
                                    hh:mm:ss'}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-body" *ngFor="let it of registrosDetallActa?.data?.items">
                        <div class="item-group">
                            <h4>{{titleArray[it.evento]}}</h4>
                            <div class="item-row">
                                <span class="item-tab">{{it.mensaje}}</span>
                                <label class="item-metadata">{{it.observacion}}</label>
                                <label class="item-descript">por: {{registrosDetallActa?.acta?.autorizacion_estado}} en
                                    {{it?.created_at | date:'yyyy-MM-dd hh:mm:ss a'}}</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>