<!-- <app-card [classCard]="'mt-3'" [classCardHeader]="'bg-info'">
  <ng-container card-header-title>Plan de proyecto</ng-container>
  <ng-container card-body>
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <td><strong>Plan</strong></td>
          <td>
            {{ nombrePlan ? ': ' + nombrePlan : ' ---' }}
          </td>
        </tr>
        <tr>
          <td><strong>Código</strong></td>
          <td>{{ sitio && sitio.codigo ? ': ' + sitio.codigo : ' ---' }}</td>
        </tr>
        <tr>
          <td><strong>Nombre sitio</strong></td>
          <td>{{ sitio && sitio.nombre ? ': ' + sitio.nombre : ' ---' }}</td>
        <tr>
          <td><strong>Dirección</strong></td>
          <td>{{ sitio && sitio.direccion ? ': ' + sitio.direccion: ' ---' }}</td>
        <tr>
          <td><strong>Latitud </strong></td>
          <td>{{ sitio && sitio.geo_lat ? ': ' + sitio.geo_lat : ' ---' }}</td>
        <tr>
          <td><strong>Longitud</strong></td>
          <td>{{ sitio && sitio.geo_lon ? ': ' + sitio.geo_lon : ' ---' }} </td>
      </tbody>
    </table>
  </ng-container>
</app-card> -->