<ng-container *ngIf="error; else noError">
  Ha ocurrido un error al obtener el informe
</ng-container>
<ng-template #noError>
  <ng-container *ngIf="detalle">
    <div class="table-carrito">
      <table style="width:100%">
        <thead>
          <tr>
            <th colspan="5">Servicios</th>
            <th colspan="6">Unidad Obra</th>
          </tr>
          <tr>
            <th>Cod</th>
            <th>Descripción</th>
            <!-- <th>Esp.</th> -->
            <th>Cantidad</th>
            <th>Unidad</th>
            <th *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">Precio Un.</th>
            <th *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">Total Servicio</th>
            <!-- <th>Tipo Moneda</th> -->

            <th>Cód</th>
            <th>Descripción</th>
            <th>Actividad</th>
            <th>Cantidad</th>
            <!-- <th>Unidad</th> -->
            <th *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">Precio Un.</th>
            <th *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">Total UO</th>
            <!-- <th>Tipo Moneda</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="detalle.many_informe_has_servicio.length > 0; else noData">
            <ng-container *ngFor="let servicio of detalle.many_informe_has_servicio; let servicioIndex = index">
              <ng-container *ngIf="servicio.many_informe_has_uob.length === 1">
                <tr>
                  <td class="label-table">{{ servicio.numero_producto }}</td>
                  <td class="data-primaria">{{servicio.adicional_aceptacion_estado!=='ORIGINAL'?'SERVICIO ADICIONAL - ':''}} {{ servicio.model_servicio_id.descripcion }}</td>
                  <td>{{ servicio.cantidad }}</td>
                  <td>{{ servicio.model_unidad_id.codigo }}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.valor_unitario_clp * +servicio.cantidad | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>


                  <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                  <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                  <!-- <td class="data-secundaria"> -- </td> -->
                  <td class="data-secundaria">{{ servicio.many_informe_has_uob[0].cantidad }}</td>
                  <td >{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.many_informe_has_uob[0].valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.many_informe_has_uob[0].valor_unitario_clp * servicio.many_informe_has_uob[0].cantidad | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                <tr>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="label-table">{{ servicio.numero_producto }}</td>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="data-primaria">{{servicio.adicional_aceptacion_estado!=='ORIGINAL'?'SERVICIO ADICIONAL - ':''}}{{ servicio.model_servicio_id.descripcion }}</td>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length">{{ servicio.cantidad }}</td>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length">{{ servicio.model_unidad_id.codigo }}</td>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length" *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td [attr.rowspan]="+servicio.many_informe_has_uob.length" *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.valor_unitario_clp * +servicio.cantidad| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>



                  <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                  <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                  <!-- <td class="data-secundaria"> -- </td> -->
                  <td class="data-secundaria">{{ servicio.many_informe_has_uob[0].cantidad }}</td>
                  <td>{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.many_informe_has_uob[0].valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.many_informe_has_uob[0].valor_unitario_clp * servicio.many_informe_has_uob[0].cantidad | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                <ng-container *ngFor="let uo of servicio.many_informe_has_uob | slice:1; let uoIndex = index">
                  <tr>
                    <td class="label-table">{{ uo.unidad_obra_cod }}</td>
                    <td class="data-primaria">{{ uo.model_unidad_obra_cod.descripcion }}</td>
                    <!-- <td class="data-secundaria"> -- </td> -->
                    <td class="data-secundaria">{{ uo.cantidad }}</td>
                    <td>{{ uo.model_unidad_id.codigo }}</td>
                    <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +servicio.many_informe_has_uob[0].valor_unitario_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">{{ +uo.valor_unitario_clp * uo.cantidad | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #noData>
            <tr colspan="11">No hay datos</tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <div class="row" id="table-totales" *ngIf="(sessionData$|async)?.nombre_perfil_select==='Administrador EECC'">
      <div class="col-9"></div>
      <div class="col-3">
        <table style="width: 100%;">
          <tr>
            <td>Total Servicios</td>
            <td>{{totalServicios| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
          </tr>
          <tr>
            <td>Total Unidades Obra</td>
            <td>{{totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
          </tr>
          <tr>
            <td style="background: #cccccc;
                font-size: 15px;">Total Informe de avance</td>
            <td>{{totalServicios + totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            <td>{{detalle.valor_total_clp| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!--
  <pre>{{ detalle | json }}</pre>
  -->
  </ng-container>
</ng-template>
