<div class="container-component">
    <h1>Libro de Obras</h1>
    <ng-container *ngFor="let registro of registrosLibroDeObras">
        <!-- <p-panel>
                <ng-template pTemplate="header" *ngIf="registro.tipo_item==='ENTRADA_LIBRO_OBRA'">
                    <strong>Autor:</strong>
                    <span class="nombre-usuario-registro">{{registro.usuario_nombre}}</span>
                    <strong style="margin-left: 10px;">Perfil: </strong>
                    <span class="perfil-registro">{{registro.perfil_nombre}}</span>
                    <strong style="margin-left: 10px;">Fecha:</strong> {{registro.created_at| date:'medium'}}
                </ng-template>
                <ng-container *ngIf="registro.tipo_item==='ENTRADA_LIBRO_OBRA'">
                    <div class="row">
                        <div class="col-7 obervacion-registro"
                            style="border-right: 3px solid #dde8ea;color: #666565;white-space: pre-line;">
                            {{registro.observaciones}}
                        </div>
                        <div class="col-5" style="display: flex;flex-direction: column;">
                            <u>Adjuntos</u>
                            <span *ngIf="registro.archivos.length===0" class="download-link">No existen adjuntos</span>
                            <span style="margin-top:5px;" *ngFor="let adjunto of registro.archivos">
                                <a [href]="getUrl(adjunto.url)" class="download-link">
                                    <i class="pi" [ngClass]="icons[adjunto.extension]"
                                        [ngStyle]="{color:getColor(adjunto.extension)}"></i>
                                    {{adjunto.nombre_original}} ({{adjunto.human_size}}) (Tipo:
                                    <strong>{{adjunto.categoria_nombre}}</strong> )
                                </a>
                            </span>
                            <span *ngIf="registro.archivos.length>0">
                                <p-message severity="info"
                                    text="Por seguridad los enlaces tienen un tiempo de caducidad. Actualice esta página si los enlaces caducan">
                                </p-message>&nbsp;
                            </span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="registro.tipo_item==='BITACORA'">

                    {{registro.created_at| date:'medium'}} - <strong>Status:</strong> <span
                        class="nivel-registro">{{registro.nivel}}</span> <strong style="margin-left: 10px;">Evento:
                    </strong> <span class="evento-registro">{{registro.evento}}</span> <strong
                        style="margin-left: 10px;">mensaje:</strong> <span
                        class="mensaje-registro">{{getMetadata(registro.evento,registro.metadata)}}</span>
                </ng-container>
            </p-panel> -->

        <ng-container *ngIf="registro.tipo_item==='BITACORA'">
            <div class="registro"
                [ngClass]="registro.evento==='CAMBIO_ESTADO'?'registro-cambio-estado':'registro-accion'">
                <!-- TITULOS -->
                <span class="titulo-registro" *ngIf="registro.evento==='CAMBIO_ESTADO'">
                    <fa-icon [icon]="playIcon"></fa-icon>
                    Registro de Evento
                </span>
                <span class="titulo-registro" *ngIf="registro.evento==='ACEPTACION_INICIAL'">
                    <fa-icon [icon]="inboxIcon"></fa-icon>
                    Aprobación Incial de OT
                </span>
                <span class="titulo-registro" *ngIf="registro.evento==='ANULACION_INICIAL_OT'">
                    <fa-icon [icon]="banIcon"></fa-icon>
                    Anulación de la OT
                </span>
                <span class="titulo-registro" *ngIf="registro.evento==='ACEPTACION_EECC'">
                    <fa-icon [icon]="inboxIcon"></fa-icon>
                    Aprobación de la OT por Proveedor (Pendiente back retorne en metadata el estado y la observacion
                    como lo hacen en rechazo/aprobacion inicial)
                </span>

                <br>
                <span style="margin-right: 10px;"> {{registro.created_at| date:'medium'}}</span>

                <!-- MENSAJES -->
                <ng-container *ngIf="registro.evento==='CAMBIO_ESTADO'">
                    <span>{{getText(registro.evento,registro.metadata)}}</span>
                </ng-container>

                <ng-container *ngIf="registro.evento==='ACEPTACION_INICIAL'">
                    <!-- <pre>{{getMetadata(registro.metadata)|json}}</pre> -->
                    <fa-icon [icon]="getMetadata(registro.metadata).values.estado==='RECHAZADO'?xmark:okmark"
                        [ngClass]="getMetadata(registro.metadata).values.estado==='RECHAZADO'?'iconRechazo':'iconAprobado'">
                    </fa-icon>
                    <span *ngIf="getMetadata(registro.metadata).values.estado==='RECHAZADO'">Se ha rechazado la OT con
                        la siguiente observación:</span>
                    <span *ngIf="getMetadata(registro.metadata).values.estado==='ACEPTADO'">Se ha aceptado la orden de
                        trabajo</span>
                    <br>
                    <q>{{getMetadata(registro.metadata).values.observacion}}</q>
                </ng-container>

                <ng-container *ngIf="registro.evento==='ANULACION_INICIAL_OT'">
                    <!-- <pre>{{getMetadata(registro.metadata)|json}}</pre> -->
                    <fa-icon [icon]="banIcon"></fa-icon>
                    <span>{{registro.mensaje}}</span>
                </ng-container>

                <!-- <ng-container *ngIf="registro.evento==='ACEPTACION_EECC'">
                    <fa-icon [icon]="getMetadata(registro.metadata).values.estado==='RECHAZADO'?xmark:okmark"
                        [ngClass]="getMetadata(registro.metadata).values.estado==='RECHAZADO'?'iconRechazo':'iconAprobado'">
                    </fa-icon>
                    <span *ngIf="getMetadata(registro.metadata).values.estado==='RECHAZADO'">Se ha rechazado la OT con
                        la siguiente observación:</span>
                    <span *ngIf="getMetadata(registro.metadata).values.estado==='ACEPTADO'">Se ha aceptado la orden de
                        trabajo</span>
                    <br>
                    <q>{{getMetadata(registro.metadata).values.observacion}}</q>
                </ng-container> -->
            </div>
        </ng-container>
    </ng-container>
</div>