:host ::ng-deep {
    .container-component {
        padding: 10px;
    }

    .registro {
        min-height: 50px;
        padding: 4px;
        padding-left: 10px;
        border-radius: 6px;
        margin-bottom: 10px;

        span.titulo-registro {
            font-size: 0.8rem;
            font-weight: 700;
            color: rgb(12, 12, 12);
        }

        span {
            font-size: 0.7rem;
            margin-left: 10px;
        }

        fa-icon {
            font-size: 0.7rem;
        }

        .iconRechazo {
            color: red;
            font-size: 1rem;
        }

        .iconAprobado {
            color: green;
            font-size: 1rem;
        }

        q {
            font-size: 0.7rem;
        }
    }

    .registro-cambio-estado {
        background-color: #eeeded;
    }

    .registro-accion {
        background-color: white;
    }
}