<div class="container-component">
    <h1>Libro de Obras</h1>
    <ng-container *ngFor="let registro of registrosLibroDeObras">

        <ng-container *ngIf="registro.tipo_item==='ENTRADA_LIBRO_OBRA'">
            <div class="container-libro-obras">
                <div class="header-libro-obras">
                    <strong>Autor:</strong>
                    <span class="nombre-usuario-registro">{{registro.usuario_nombre}}</span>
                    <strong style="margin-left: 10px;">Perfil: </strong>
                    <span class="perfil-registro">{{registro.perfil_nombre}}</span>
                    <strong style="margin-left: 10px;">Fecha:</strong> {{registro.created_at| date:'medium'}}
                </div>

                <div class="grid" style="margin-top:10px">
                    <div class="col">
                        <div class="obervacion-registro"
                            style="border-right: 3px solid #dde8ea;color: #666565;white-space: pre-line; height: 100%;padding-right: 15px;">
                            {{registro.observaciones}}
                        </div>
                    </div>
                    <div class="col" style="display: flex;flex-direction: column;">
                        <u style="margin-bottom: 5px;">Adjuntos</u>
                        <br>
                        <span *ngIf="registro.archivos.length===0" class="download-link">No existen adjuntos</span>
                        <span style="margin-top:5px;" *ngFor="let adjunto of registro.archivos">
                            <a [href]="getUrl(adjunto.url)" class="download-link">
                                <i class="pi" [ngClass]="icons[adjunto.extension]"
                                    [ngStyle]="{color:getColor(adjunto.extension)}"></i>
                                {{adjunto.nombre_original}} {{adjunto.human_size}} Tipo:
                                <strong>{{adjunto.categoria_nombre}}</strong>
                            </a>
                        </span>
                        <br>
                        <span *ngIf="registro.archivos.length>0">
                            <p-message severity="info"
                                text="Por seguridad los enlaces tienen un tiempo de caducidad. Actualice esta página si los enlaces caducan">
                            </p-message>&nbsp;
                        </span>
                    </div>
                </div>
            </div>

        </ng-container>

        <ng-container
            *ngIf="registro.tipo_item==='BITACORA' && registro.evento!=='SOLICITUD_SERVICIOS_ADICIONALES' && registro.evento!=='APROBACION/RECHAZO_SERVICIOS_ADICIONALES'">
            <div class="registro"
                [ngClass]="registro.evento==='CAMBIO_ESTADO'?'registro-cambio-estado':'registro-accion'">
                <!-- TITULOS -->
                <span class="titulo-registro">
                    <fa-icon [icon]="titleArray[registro.evento]?.icon?titleArray[registro.evento].icon:banIcon">
                    </fa-icon>
                    {{reginsto.id}} - {{titleArray[registro.evento]?.text?titleArray[registro.evento].text:'evento no
                    definido'}}
                </span>

                <br>
                <span style="margin-right: 10px;"> {{registro.created_at| date:'medium'}}</span>

                <!-- MENSAJES -->
                <ng-container *ngIf="registro.evento==='CAMBIO_ESTADO'">
                    <span>{{getText(registro.evento,registro.metadata)}}</span>
                </ng-container>

                <ng-container *ngIf="registro.evento==='ACEPTACION_INICIAL'|| 
                                     registro.evento==='ACEPTACION_EECC'">
                    <fa-icon [icon]="getMetadata(registro.metadata).estado==='RECHAZADO'?xmark:okmark"
                        [ngClass]="getMetadata(registro.metadata).estado==='RECHAZADO'?'iconRechazo':'iconAprobado'">
                    </fa-icon>
                    <span *ngIf="getMetadata(registro.metadata).estado==='RECHAZADO'">Se ha rechazado la OT con
                        la siguiente observación:</span>
                    <span *ngIf="getMetadata(registro.metadata).estado==='ACEPTADO'">Se ha aceptado la orden de
                        trabajo</span>
                    <br>
                    <q>{{getMetadata(registro.metadata).observacion}}</q>
                </ng-container>

                <ng-container *ngIf="registro.evento==='ANULACION_INICIAL_OT'|| 
                                     registro.evento==='ANULACION_PROVEEDOR_OT'">
                    <fa-icon [icon]="banIcon"></fa-icon>
                    <span>{{registro.mensaje}}</span>
                </ng-container>

                <ng-container *ngIf="registro.evento==='ENVIAR_INFORME_AVANCE'">
                    <fa-icon [icon]="fileIcon"></fa-icon>
                    <span>{{registro.mensaje}}</span>
                </ng-container>

                <ng-container *ngIf="registro.evento==='CONFIRMAR_RECHAZO_OPERACIONES'">
                    <span>{{registro.mensaje}}</span>
                </ng-container>

                <ng-container *ngIf="registro.evento==='APROBACION_INFORME_AVANCE'">
                    <fa-icon [icon]="getMetadata(registro.metadata).estado==='RECHAZADO'?xmark:okmark"
                        [ngClass]="getMetadata(registro.metadata).estado==='RECHAZADO'?'iconRechazo':'iconAprobado'">
                    </fa-icon>
                    <span *ngIf="getMetadata(registro.metadata).estado==='RECHAZADO'">Se ha rechazado el informe de
                        avance con
                        la siguiente observación:</span>
                    <span *ngIf="getMetadata(registro.metadata).estado==='ACEPTADO'">Se ha aceptado el informe de
                        avance</span>
                    <br>
                    <q>{{getMetadata(registro.metadata).observacion}}</q>
                </ng-container>

                <ng-container *ngIf="registro.evento==='APROBACION_OPERACIONES'">
                    <fa-icon [icon]="getMetadata(registro.metadata).estado==='RECHAZAR'?xmark:okmark"
                        [ngClass]="getMetadata(registro.metadata).estado==='RECHAZAR'?'iconRechazo':'iconAprobado'">
                    </fa-icon>
                    <span *ngIf="getMetadata(registro.metadata).estado==='RECHAZAR'">Se ha rechazado la OT con
                        la siguiente observación:</span>
                    <span *ngIf="getMetadata(registro.metadata).estado==='ACEPTAR'">Se ha aceptado la orden de
                        trabajo</span>
                    <br>
                    <q>{{getMetadata(registro.metadata).observacion}}</q>
                </ng-container>

            </div>
        </ng-container>
    </ng-container>
</div>