<div class="container-informe-avance">
    <p-divider align="center">
        <span class="p-tag">Informe de avance</span>
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 table-informe-avance">
                <zwc-form-table-services [StaticData]="dataServicios"></zwc-form-table-services>
            </div>

        </div>
    </div>

    <p-divider align="center">
        <span class="p-tag">Servicios Adicionales</span>
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 table-agregar-servicios-adicionales">
                <zwc-table-agregar-servicios #tableAgregarServiciosAdicionales reglasDeAgregacion="ServiciosAdicionales"
                    [informeAvance]="dataServicios">
                </zwc-table-agregar-servicios>
            </div>
        </div>
    </div>

    <p-divider align="center">
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined">
                    Atrás
                </button>
            </div>
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending *ngIf="accionExist('OT_EDITAR_INFORME_AVANCE')" Pid="guardar-borrador-button"
                    content="Guardar borrador" Pclass="p-button-info p-button-sm mt-4 w-full"
                    (click)="guardarBorrador()"></zwc-pbutton-sending>
            </div>

            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending *ngIf="accionExist('OT_ENVIAR_INFORME_AVANCE')" Pid="enviar-button"
                    content="Enviar informe de avance" Pclass="p-button-info p-button-sm mt-4 w-full">
                </zwc-pbutton-sending>
            </div>
        </div>
    </div>