<nav>
    <div class="icon">
        <!-- <div class="container-logo-movistar desktop"> -->
            <img src="../../../assets/images/logo-movistar.png" alt="cover" />
          <!-- </div> -->
      
          <div class="title-otec">otec V0.2.0</div>
    </div>
    <div class="menu">
        <ul>
            <li *ngFor='let item of Menu'>
                {{item}}
            </li>
        </ul>
    </div>
    <div class="section-usuario">
        <span class="usuario">{{nombreUsuario}}</span>
        <span class="rol"><strong>{{rol}}</strong></span>
        <button class="mini ui grey button" (click)="logout()" id="logout-button">Cerrar session</button>
    </div>
</nav>


