<p-confirmPopup></p-confirmPopup>
<div class="section">
    <div class="left-navbar"></div>
    <div class="content ui segment">
        <p-table [value]="cubicaciones">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20px;text-align: center;">ID</th>
                    <th style="width:289px;text-align: center;">Nombre</th>
                    <th style="width: 177px;
                text-align: center;">Fecha creación</th>
                    <th style="text-align: center;">Region</th>
                    <th style="text-align: center;">Contrato marco</th>
                    <th style="text-align: center;">Proveedor</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;width: 223px;">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cub>
                <tr>
                    <td class="center">{{cub.cubicacion_id}}</td>
                    <td class="center">{{cub.nombre}}</td>
                    <td class="center">{{cub.fecha}}</td>
                    <td style="text-align: center;">{{cub.region}}</td>
                    <td class="center" style="text-align: center;">{{cub.contrato_marco}}</td>
                    <td class="center" style="text-align: center;">{{cub.proveedor}}</td>
                    <td class="center" style="text-align: center;">${{cub.total| number: '1.0-0':'es-CL'}}</td>
                    <td style="text-align: center;">
                        <button id="buttonDetalles-{{cub.cubicacion_id}}" class="circular ui icon button"
                            pTooltip="Ver detalles" tooltipPosition="top" placeholder="Top"
                            (click)="displayModalDetaillesCubicacion(cub.cubicacion_id)">
                            <i class="eye icon"></i>
                        </button>
                        <button id="buttonCopiar-{{cub.cubicacion_id}}" class="circular ui icon button"
                            pTooltip="Crear copia" tooltipPosition="top" placeholder="Top"
                            (click)="clonar(cub.cubicacion_id)">
                            <i class="clone icon"></i>
                        </button>
                        <button id="buttonEditar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button" pTooltip="Editar" tooltipPosition="top" placeholder="Top"
                            (click)="editar(cub.cubicacion_id)">
                            <i class="edit icon"></i>
                        </button>
                        <button id="buttonEliminar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button red" pTooltip="Eliminar"
                            (click)="confirmEliminacion($event,cub.cubicacion_id)" tooltipPosition="top"
                            placeholder="Top">
                            <i class="trash icon"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Detalle de la cubicación ( {{cubicacionSelected.nombre}} )" [(visible)]="showModalDetalleCubicacion"
    [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ot-detalle-cubicacion [cubicacionSelected]="cubicacionSelected"
        [detallesCubicacionSelected]="detallesCubicacionSelected"></ot-detalle-cubicacion>
</p-dialog>


<p-dialog header="Editar cubicación {{cubicacionSelected.nombre}}" [(visible)]="showModalEditarCubicacion"
    [modal]="true" [style]="{width: '99vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <!-- <div class="content ui segment">
        <form [formGroup]="form">
            <div class="form-content">
                <div class="left-form">
                    <div class="field">
                        <label>Nombre*</label>
                        <input type="text" class="nombre-cubicacion" [formControlName]="'nombre'" name="nombre"
                            id="nombre">
                    </div>
                    <div class="field">
                        <label>Contrato*</label>
                        <div (click)="confirm($event,'contratoId')">
                            <select [formControlName]="'contratoId'" name="contratoId" id="contratoId"
                                (change)="selectedContrato()">
                                <option value="">Seleccione un contrato...</option>
                                <option *ngFor="let contrato of contratosArr" value="{{contrato.id}}">
                                    {{contrato.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Proveedor*</label>
                        <div (click)="confirm($event,'proveedorId')">
                            <select name="proveedorId" id="proveedorId" (change)="selectedProveedor()"
                                [formControlName]="'proveedorId'">
                                <option value="">Seleccione un proveedor.... </option>
                                <option *ngFor="let proveedor of proveedorArr" value="{{proveedor.id}}">
                                    {{proveedor.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Región*</label>
                        <div (click)="confirm($event,'regionId')">
                            <select name="regionId" id="regionId" (change)="selectedRegion()"
                                [formControlName]="'regionId'">
                                <option value="">Seleccione una región...</option>
                                <option *ngFor="let region of regionArr" value="{{region.id}}">{{region.codigo}}
                                    {{region.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="right-form">
                    <div class="field">
                        <label>Tipo de servicio*</label>
                        <select name="tiposervicioId" id="tiposervicioId" (change)="selectedTipoServicio()"
                            [formControlName]="'tiposervicioId'">
                            <option value="">Seleccione un tipo de servicio....</option>
                            <option *ngFor="let tiposervicio of tipoServicioArr" value="{{tiposervicio.id}}">
                                {{tiposervicio.nombre}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Servicios*</label>
                        <p-listbox (click)="getTotal()" [options]="(sourceProducts$|async)!" [(ngModel)]="selectedServicios" [ngModelOptions]="{standalone: true}"
                            [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                            optionLabel="nombre" [listStyle]="{'max-height':'250px'}"
                            [style]="{'width':'56rem','height':'285px'}">
                            <ng-template let-servicio pTemplate="item">
                                <div class="country-item">
                                    <div>{{servicio.nombre}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
            <div class="carro">
                <div class="title-carro">
                    Resumen de Servicios
                    <div class="buttons-carro">
                        <div class="ui buttons">
                            <button class="ui button" (click)="limpiarCarro($event)">Limpiar selecciones</button>
                            <div class="or"></div>
                            <div pTooltip="Debe escoger servicios y llenar todos los campos" tooltipPosition="top">
                                <button *ngIf="!valid" class="ui positive button active" disabled>Finalizar
                                    Cubicación</button></div>
                            <button *ngIf="valid" class="ui positive button active" (click)="save()" id="guardarCubicacion">Finalizar
                                Cubicación</button>
                        </div>
                    </div>
                </div>
                <table class="table-carro">
                    <tr>
                        <th style="width: 318px"> Descripcion</th>
                        <th style="width: 269px">Región</th>
                        <th style="width: 140px">Tipo Servicio</th>
                        <th style="width: 102px">Cantidad</th>
                        <th style="width:125px">Unidad</th>
                        <th style="width:125px">Precio</th>
                        <th style="width:125px">Sub Total</th>
                        <th style="width:125px">Opciones</th>
                    </tr>
    
                    <tr *ngFor="let itemC of selectedServicios; let i = index">
                        <td> <span>{{itemC.nombre}}</span></td>
                        <td class="center">{{itemC.region}}</td>
                        <td class="center">{{itemC.tiposervicio}}</td>
                        <td class="center">
                            <select (change)="getTotal()" name="cantidad-{{itemC.id_lpu}}" id="cantidad-{{itemC.id_lpu}}"
                                [(ngModel)]="selectedServicios[i].cantidad" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let numero of counter(5) ;let j = index" value="{{j+1}}">
                                    {{j+1}}</option>
                            </select>
                        </td>
                        <td class="center">UNIDAD</td>
                        <td class="center">${{itemC.precio| number: '1.0-0':'es-CL'}}</td>
                        <td class="center">${{itemC.precio * itemC.cantidad|number: '1.0-0':'es-CL'}}</td>
                        <td class="center"><button  (click)="elimnarLPU(i)" class=" ui icon button red"  pTooltip="Eliminar LPU" tooltipPosition="top" placeholder="Top">
                            <i class="trash icon"></i>
                          </button></td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: right">
                            <span style="    
                                    margin-right: 31px;"><strong>Total</strong>: {{total| number: '1.0-0':'es-CL'}}</span>
                        </td>
                    </tr>
                </table>


            </div>
        </form>
    </div> -->
    <div class="cubicacion-content ui segment">
        <div class="form-content">
            <div class="left-form">
                <div class="field">
                    <label>Nombre*</label>
                    <input type="text" class="nombre-cubicacion" [(ngModel)]="nombreCubicacion">
                </div>
                <div class="field">
                    <label>Contrato*</label>
                    <!-- <div (click)="confirm($event,'contrato')"> -->
                        <select name="contrato" id="contrato" (change)="selectedContrato()" [(ngModel)]="contratoId"
                            >
                            <option *ngFor="let contrato of contratosArr" value="{{contrato.id}}">
                                {{contrato.nombre}}
                            </option>
                        </select>
                    <!-- </div> -->
                </div>
                <div class="field">
                    <label>Proveedor* </label>
                    <!-- <div (click)="confirm($event,'proveedor')"> -->
                        <select name="proveedor" id="proveedor" (change)="selectedProveedor()" [(ngModel)]="proveedorId"
                        >
                            <option *ngFor="let proveedor of proveedorArr" value="{{proveedor.id}}">
                                {{proveedor.nombre}}
                            </option>
                        </select>
                    <!-- </div> -->
                </div>
                <div class="field">
                    <label>Región* </label>
                    <!-- <div (click)="confirm($event,'region')"> -->
                        <select name="region" id="region" (change)="selectedRegion()" [(ngModel)]="regionId"
                        >
                            <option *ngFor="let region of regionArr" value="{{region.id}}">{{region.codigo}}
                                {{region.nombre}}</option>
                        </select>
                    <!-- </div> -->
                </div>
            </div>
            <div class="right-form">
                <div class="field">
                    <label>Tipo de servicio*</label>
                    <select name="tipodeservicio" id="tipodeservicio" (change)="selectedTipoServicio()"
                        [(ngModel)]="tipoServicioId" >
                        <option value=""> </option>
                        <option *ngFor="let tiposervicio of tipoServicioArr" value="{{tiposervicio.id}}">
                            {{tiposervicio.nombre}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Servicios*</label>
                    <p-listbox (click)="getTotal()" [options]="(sourceProducts$|async)!" [(ngModel)]="selectedServicios"
                        [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" dataKey="id_lpu"
                        optionLabel="nombre" [listStyle]="{'max-height':'250px'}"
                        [style]="{'width':'56rem','height':'285px'}">
                        <ng-template let-servicio pTemplate="item">
                            <div class="country-item">
                                <div>{{servicio.nombre}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </div>
        <div class="carro">
            <div class="title-carro">
                Resumen de Servicios
                <div class="buttons-carro">
                    <div class="ui buttons">
                        <button class="ui button" (click)="limpiarCarro($event)">Limpiar selecciones</button>
                        <div class="or"></div>
                        <div  pTooltip="Debe escoger servicios y llenar todos los campos" tooltipPosition="top" ><button *ngIf="selectedServicios.length===0||nombreCubicacion===''"class="ui positive button active" disabled>Finalizar Cubicación</button></div>
                        <button *ngIf="selectedServicios.length>0 && nombreCubicacion!==''" class="ui positive button active" (click)="save()">Finalizar Cubicación</button>
                    </div>
                </div>
            </div>

            <table class="table-carro">
                <tr>
                    <th style="width: 318px"> Descripcion</th>
                    <th style="width: 269px">Región</th>
                    <th style="width: 140px">Tipo Servicio</th>
                    <th style="width: 102px">Cantidad</th>
                    <th style="width:125px">Unidad</th>
                    <th style="width:125px">Precio</th>
                    <th style="width:125px">Sub Total</th>
                    <th style="width:125px">Opciones</th>
                </tr>

                <tr *ngFor="let itemC of selectedServicios; let i = index">
                    <td> <span>{{itemC.nombre}}</span></td>
                    <td class="center">{{itemC.region}}</td>
                    <td class="center">{{itemC.tiposervicio}}</td>
                    <td class="center">
                        <select (change)="getTotal()" name="cantidad-{{itemC.id_lpu}}" id="cantidad-{{itemC.id_lpu}}"
                            [(ngModel)]="selectedServicios[i].cantidad">
                            <option *ngFor="let numero of counter(5) ;let j = index" value="{{j+1}}">
                                {{j+1}}</option>
                        </select>
                    </td>
                    <td class="center">UNIDAD</td>
                    <td class="center">${{itemC.precio| number: '1.0-0':'es-CL'}}</td>
                    <td class="center">${{itemC.precio * itemC.cantidad|number: '1.0-0':'es-CL'}}</td>
                    <td class="center"><button  (click)="elimnarLPU(i)" class=" ui icon button red"  pTooltip="Eliminar LPU" tooltipPosition="top" placeholder="Top">
                        <i class="trash icon"></i>
                      </button></td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right">
                        <span style="    
                                margin-right: 31px;"><strong>Total</strong>: ${{total| number: '1.0-0':'es-CL'}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</p-dialog>