<div class="section">
    <div class="left-navbar"></div>
    <div class="content">
        <p-table [value]="cubicaciones">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20px;text-align: center;">ID</th>
                    <th style="width:289px;text-align: center;">Nombre</th>
                    <th style="width: 177px;
                text-align: center;">Fecha creación</th>
                    <th style="text-align: center;">Region</th>
                    <th style="text-align: center;">Contrato marco</th>
                    <th style="text-align: center;">Proveedor</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;width: 223px;">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cub>
                <tr>
                    <td class="center">{{cub.cubicacion_id}}</td>
                    <td class="center">{{cub.nombre}}</td>
                    <td class="center">{{cub.fecha}}</td>
                    <td style="text-align: center;">{{cub.region}}</td>
                    <td class="center" style="text-align: center;">{{cub.contrato_marco}}</td>
                    <td class="center" style="text-align: center;">{{cub.proveedor}}</td>
                    <td class="center" style="text-align: center;">${{cub.total| number: '1.0-0':'es-CL'}}</td>
                    <td style="text-align: center;">
                        <button id="buttonDetalles-{{cub.cubicacion_id}}" class="circular ui icon button"
                            pTooltip="Ver detalles" tooltipPosition="top" placeholder="Top"
                            (click)="displayModalDetaillesCubicacion(cub.cubicacion_id)">
                            <i class="eye icon"></i>
                        </button>
                        <!-- <button id="buttonCopiar-{{cub.cubicacion_id}}" class="circular ui icon button"
                            pTooltip="Crear copia" tooltipPosition="top" placeholder="Top"
                            (click)="clonar(cub.cubicacion_id,cub.nombre,cub.total,cub.region_id,cub.region,cub.contrato_marco,cub.proveedor,cub.subcontrato_id)">
                            <i class="clone icon"></i>
                        </button>
                        <button id="buttonEditar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button" pTooltip="Editar" tooltipPosition="top" placeholder="Top"
                            (click)="editar(cub.nombre,cub.contrato_marco,cub.proveedor_id,cub.region,cub.region_id,cub.cubicacion_id)">
                            <i class="edit icon"></i>
                        </button>
                        <button id="buttonEliminar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button red" pTooltip="Eliminar"
                            (click)="confirmEliminacion($event,cub.cubicacion_id)" tooltipPosition="top"
                            placeholder="Top">
                            <i class="trash icon"></i>
                        </button> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Detalle de la cubicación << {{cubicacionSelected.nombre}} >>" [(visible)]="showModalDetaillesCubicacion" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ot-detalle-cubicacion  [cubicacionSelected]="cubicacionSelected" [detallesCubicacionSelected]="detallesCubicacionSelected"></ot-detalle-cubicacion>
</p-dialog>