{{form.value|json}}

<p-card>
  <p-tabView>
    <p-tabPanel header="LPUs">
      <form [formGroup]="form">
        <table>
          <thead>
            <tr>
              <th colspan="14" style="background: #00507a;
                      color: white;
                      text-align: center;">Mano de obra/Lpus</th>
            </tr>
            <tr>
              <th rowspan="2">Cor</th>
              <th rowspan="2">Plano</th>
              <th rowspan="2">Direccion</th>
              <th rowspan="2">Clave</th>
              <th rowspan="2">Código</th>
              <th rowspan="2">Descrición</th>
              <th rowspan="2">U.M</th>
              <th colspan="5" style="background: #dfdfdf;
                      text-align: center;">
                Cantidad
              </th>
              <th colspan="2" style="background: #dfdfdf;
                text-align: center;">
                Costos
              </th>
            </tr>
            <tr>
              <th rowspan="2">Cub.</th>
              <th rowspan="2">Apr. hist.</th>
              <th rowspan="2">Pend.</th>
              <th rowspan="2">Inf.</th>
              <th rowspan="2">Apr.</th>

              <th>P. unidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody formArrayName="table">
            <tr *ngFor="let car of detalleCubicacion$|async; let i = index" [formGroupName]="i">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{car.lpu_id}}</td>
              <td>{{car.lpu_nombre}}</td>
              <td></td>
              <!-- Cub. -->
              <td>{{car.lpu_cantidad}}</td>
              <!-- Apr. hist -->
              <td>0</td>
              <!-- Pend. -->
              <td>{{car.lpu_cantidad}}</td>
              <!-- inf. -->
              <td>{{car.lpu_cantidad}}</td>
              <!-- Apr. -->
              <td>
                <input [formControl]="formCntl(i)" min="0" type="number" style="width: 37px;">
                <div *ngIf="formCntl(i).invalid && (formCntl(i).dirty || formCntl(i).touched)">
                  <p-message severity="error" text="{{ errorMessageFn(formCntl(i).errors) }}"></p-message>
                </div>
              </td>
              <td style="text-align: right;">{{car.lpu_precio| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
              <td style="text-align: right;">{{car.lpu_precio * formCntl(i).value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
            </tr>
          </tbody>
        </table>
      </form>
      Total:{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}
    </p-tabPanel>
    <p-tabPanel header="Unidades de Obra">
      <form>
        <table>
          <thead>
            <tr>
              <th colspan="13" style="background: #00507a;
                          color: white;
                          text-align: center;">Unidades de obra</th>
            </tr>
            <tr>
              <th rowspan="2">Cor</th>
              <th rowspan="2">Plano</th>
              <th rowspan="2">Direccion</th>
              <th rowspan="2">Clave</th>
              <th rowspan="2">Código</th>
              <th rowspan="2">Descrición</th>
              <th rowspan="2">U.M</th>
              <th colspan="4" style="background: #dfdfdf;
                          text-align: center;">
                Cantidad
              </th>
              <th colspan="2" style="background: #dfdfdf;
                text-align: center;">
                Costos
              </th>
            </tr>
            <tr>
              <th rowspan="2">Cub.</th>
              <th rowspan="2">
                <span>Apr</span>
              </th>
              <th rowspan="2">Pend.</th>
              <th rowspan="2">Inf.</th>

              <th>P. unidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Materiales">
    </p-tabPanel>
  </p-tabView>

  <h1>Resumen</h1>
  <table>
    <tbody>
      <tr>
        <td><strong>LPUs Total</strong></td>
        <td>{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td><strong>Unidades de obra Total</strong></td>
        <td>{{unidadesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td><strong>Materiales Total</strong></td>
        <td>{{materialesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{lpusTotal + unidadesTotal + materialesTotal | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <label for="">Observaciones</label>
  <textarea formControlName="observaciones" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
  <br>
  <ng-template pTemplate="footer">
    <button class="btn"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Rechazar</button>
    <button class="btn btn-primary" (click)="sendActaConfirmacion()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Aceptar acta</button>
  </ng-template>
</p-card>


<app-modal [display]="DisplayConfirmacionModal" (CloseEvent)="DisplayConfirmacionModal=false">
  <ng-container modal-header-title>Confirmación de aceptación de Acta</ng-container>
  <ng-container modal-content>
    <div class="row">
      ¿Está seguro que desea aceptar el acta?
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Cancelar</button>
    <button class="btn btn-primary"><em class="pi pi-play mr-1" id="guardar-ot"></em>Si, Aceptar acta</button>
  </ng-container>
</app-modal>