<div style="padding: 8px;">
  <span *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_INICIO_FLUJO'">
    <p-message severity="info" text="El trabajador aún no finaliza el informe"></p-message>&nbsp;
  </span>

  <span *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_GENERACION_ACTA'">
    <p-message severity="info" text="A la espera de la aprobación del administrador EC para el informe enviado por el trabajador"></p-message>&nbsp;
  </span>

  <ng-container *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_VALIDACION_ACTA_GESTOR'">
    <p-card>
      <p-tabView>
        <p-tabPanel header="LPUs">
          <div class="col">
            <div class="row">
              <form [formGroup]="form" style="width: 100%;">
                <table style="width: 100%;">
                  <thead>
                    <tr>
                      <th colspan="15" style="background: #00507a;
                              color: white;
                              text-align: center;">Mano de obra/Lpus</th>
                    </tr>
                    <tr>
                      <th rowspan="2">N°</th>
                      <th rowspan="2">Cor</th>
                      <th rowspan="2">Plano</th>
                      <th rowspan="2">Direccion</th>
                      <th rowspan="2">Clave</th>
                      <th rowspan="2">Código</th>
                      <th rowspan="2">Descrición</th>
                      <th rowspan="2">U.M</th>
                      <th colspan="5" style="background: #dfdfdf;
                              text-align: center;">
                        Cantidad
                      </th>
                      <th colspan="2" style="background: #dfdfdf;
                        text-align: center;">
                        Costos
                      </th>
                    </tr>
                    <tr>
                      <th rowspan="2">Cub.</th>
                      <th rowspan="2">Apr. hist.</th>
                      <th rowspan="2">Pend.</th>
                      <th rowspan="2">Inf.</th>
                      <th rowspan="2">Apr.</th>

                      <th>P. unidad</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="table">
                    <tr *ngFor="let car of dataInformeActa$|async; let i = index" [formGroupName]="i">
                      <td>{{i+1}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{car.lpu_numero_producto}}</td>
                      <td>{{car.lpu_nombre}}</td>
                      <td></td>
                      <!-- Cub. -->
                      <td>{{car.cantidad_cubicada}}</td>
                      <!-- Apr. hist -->
                      <td>{{car.cantidad_aprobada_historica}}</td>
                      <!-- Pend. -->
                      <td>{{car.cantidad_pendiente}}</td>
                      <!-- inf. -->
                      <td>{{car.cantidad_informada}}</td>
                      <!-- Apr. -->
                      <td>
                        <input [formControl]="formCntl(i)" min="0" type="number" style="width: 37px;">
                        <div *ngIf="formCntl(i).invalid && (formCntl(i).dirty || formCntl(i).touched)">
                          <p-message severity="error" text="{{ errorMessageFn(formCntl(i).errors) }}"></p-message>
                        </div>
                      </td>
                      <td style="text-align: right;">{{car.LpuPrecio| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                      <td style="text-align: right;">{{car.LpuPrecio * formCntl(i).value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="row" style="justify-content: center;padding: 18px;
            padding-bottom: 8px;">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border: 0px !important;font-size: 21px;
                  FONT-WEIGHT: 600;">Total:</td>
                  <td style="border: 0px !important;font-size: 20px">{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Unidades de Obra">
          <form>
            <table>
              <thead>
                <tr>
                  <th colspan="13" style="background: #00507a;
                              color: white;
                              text-align: center;">Unidades de obra</th>
                </tr>
                <tr>
                  <th rowspan="2">Cor</th>
                  <th rowspan="2">Plano</th>
                  <th rowspan="2">Direccion</th>
                  <th rowspan="2">Clave</th>
                  <th rowspan="2">Código</th>
                  <th rowspan="2">Descrición</th>
                  <th rowspan="2">U.M</th>
                  <th colspan="4" style="background: #dfdfdf;
                              text-align: center;">
                    Cantidad
                  </th>
                  <th colspan="2" style="background: #dfdfdf;
                    text-align: center;">
                    Costos
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Cub.</th>
                  <th rowspan="2">
                    <span>Apr</span>
                  </th>
                  <th rowspan="2">Pend.</th>
                  <th rowspan="2">Inf.</th>

                  <th>P. unidad</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Materiales">
        </p-tabPanel>
      </p-tabView>

      <div class="resumen">
        <br>
        <h1>Resumen</h1>
        <table>
          <tbody>
            <tr>
              <td>LPUs</td>
              <td>{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            </tr>
            <tr>
              <td>Unidades de obra</td>
              <td>{{unidadesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            </tr>
            <tr>
              <td>Materiales</td>
              <td>{{materialesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            </tr>
            <tr>
              <td style="text-align: right"><strong>Total</strong></td>
              <td style="font-size: 14px;"> <strong>{{lpusTotal + unidadesTotal + materialesTotal | currency : 'CLP' : '$':'.0-2':'es-CL'}}</strong></td>
            </tr>
          </tbody>
        </table>

        <br>
        <label for="" style="color:#00507a">Observaciones</label>
        <textarea formControlName="observaciones" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2" disabled></textarea>
        <br>
      </div>
      <ng-template pTemplate="footer">
        <!-- <button class="btn" (click)="rechazarActa()"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Rechazar</button> -->
        <button class="btn btn-primary" (click)="sendActaConfirmacion()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Aceptar acta</button>
      </ng-template>
    </p-card>
  </ng-container>

</div>


<app-modal [display]="DisplayConfirmacionModal" (CloseEvent)="DisplayConfirmacionModal=false">
  <ng-container modal-header-title>Confirmación de aceptación de Acta</ng-container>
  <ng-container modal-content>
    <h1>Resumen</h1>
    <table>
      <tbody>
        <tr>
          <td><strong>LPUs Total</strong></td>
          <td>{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td><strong>Unidades de obra Total</strong></td>
          <td>{{unidadesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td><strong>Materiales Total</strong></td>
          <td>{{materialesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{lpusTotal + unidadesTotal + materialesTotal | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pago-box">
      <h5>Pagar el: {{val3}}%</h5>
      <p-slider [(ngModel)]="val3" [step]="20" disabled="true"></p-slider>
    </div>

    <div style="margin-top: 10px;">
      ¿Está seguro que desea aceptar el acta y pagar el porcentaje esocogido?
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn" (click)="DisplayConfirmacionModal=false"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Cancelar</button>
    <button class="btn btn-primary" (click)="sendInformeActa()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Si, Aceptar acta</button>
  </ng-container>
</app-modal>