.container-button-confirmar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;

    button {
        padding: 1.4rem !important;
        font-size: 0.9rem;
        height: 1rem;
        font-weight: 100;

        fa-icon {
            margin-right: 9px;
            font-size: 0.9rem;
            color: #fff;
        }
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-header {
        padding: 1rem;
        background: #404d99;
        color: rgba(234, 234, 234, 0.87);
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon {
        color: rgba(255, 255, 255, 0.6);
    }

    .p-dialog .p-dialog-content {
        padding: 17px 1.5rem 1.5rem 1.5rem;
    }
}