<div class="row" [formGroup]="form">
  <div class="col-xs-12 col-md-6" id="control_tipo_numero_interno_id">
    <app-select [control]="form.get('tipo_numero_interno_id')" label="Tipo Número interno" ID="tipo-numero-interno">
      <ng-container options>
        <option value="null" selected disabled>Seleccione tipo</option>
        <ng-container *ngFor="let tipo of tiposNumeroInterno$ | async">
          <option [value]="tipo.id">
            {{ tipo.nombre }}
          </option>
        </ng-container>
      </ng-container>
    </app-select>
    <br>
  </div>

  <ng-container formArrayName="numeros_internos">
    <div class="col-xs-12 col-md-6" id="control_numero_interno" style="border-left:1px solid #e5e5e5">
      <button (click)="addNumeroInterno();" class="btn btn-primary" style="margin-bottom: 10px;"><i class="pi pi-plus-circle"></i></button>
      <div *ngFor="let n of myFormArray().controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="row" style="margin-top:5px">
            <div class="col-md-10">
              <app-input [control]="myFormArray().controls[i].get('numero_interno')" label="N° interno" DisplayLabelMode="side"></app-input>
            </div>
            <div class="col-md-2">
              <button *ngIf="i!==0" (click)="deleteNumeroInterno(i);" class="btn btn-danger"><i class="pi pi-trash"></i></button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>