<div class="row" [formGroup]="form">
  <div class="col-xs-12 col-md-6" id="control_tipo_numero_interno_id">
    <app-select [control]="form.get('tipo_numero_interno_id')" label="Tipo Número interno" ID="tipo-numero-interno">
      <ng-container options>
        <option value="null" selected disabled>Seleccione tipo</option>
        <ng-container *ngFor="let tipo of tiposNumeroInterno$ | async">
          <option [value]="tipo.id">
            {{ tipo.nombre }}
          </option>
        </ng-container>
      </ng-container>
    </app-select>
    <br>
  </div>

  <ng-container formArrayName="numeros_internos">
    <button (click)="addNumeroInterno()">add</button>
    <div *ngFor="let n of myFormArray().controls; let i = index">
      <ng-container [formGroupName]="i">
        <label for="">{{i}}</label>
        <input type="text" formControlName="numero_interno">
        <button (click)="deleteNumeroInterno(i)">x</button>
      </ng-container>

    </div>
  </ng-container>

  <!-- <div class="col-xs-12 col-md-6" id="control_numero_interno"  *ngFor="let control of form.get('numeros_internos');index as i">
    <input type="text" [control]>
    <app-input [control]="form.get('numero_interno')" label="Número interno" ID="numero-interno"></app-input>
    <br>
  </div> -->

  {{form.valid|json}}
  {{form.value|json}}
</div>