<app-card [classCardHeader]="'bg-secondary text-white'">
  <ng-container card-header-title> Contrato Fijo</ng-container>
  <ng-container card-body>
    <div class="row" [formGroup]="form">
      <div class="col-xs-12 col-md-5" id="control_tipo_numero_interno_id">
        <app-select [control]="form.get('tipo_numero_interno_id')" label="Tipo Número interno">
          <ng-container options>
            <option value="null" selected disabled>Seleccione tipo</option>
            <ng-container *ngFor="let tipo of tiposNumeroInterno$ | async">
              <option [value]="tipo.id">
                {{ tipo.nombre }}
              </option>
            </ng-container>
          </ng-container>
        </app-select>
        <br>
      </div>
      <div class="col-xs-12 col-md-5" id="control_numero_interno" [formGroup]="formInterno">
        <app-input [control]="formInterno.get('numero_interno')" label="N° interno"></app-input>
      </div>
      <div class="col-xs-12 col-md-2" id="button-agregar" style="    align-self: center;
      margin-top: 14px;">
        <button [disabled]="!formInterno.valid" (click)="addNumeroInterno()">Agregar</button>
      </div>
    </div>
    <table style="margin-top:10px;width: 100%;">
      <tr>
        <th>Número interno</th>
        <th>OT asociada</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of arrNumerosInternos; let i = index">
        <td>{{item.numero_interno}}</td>
        <td> <span *ngIf="item.ot.length>0"> {{item.ot|json}}</span>
          <span *ngIf="item.ot.length===0">No utilizado</span></td>
        <td><button (click)="deleteNumeroInterno(i);" class="btn btn-danger"><i class="pi pi-trash"></i></button></td>
      </tr>
    </table>
  </ng-container>
</app-card>