<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="mt-4">Ordenes de trabajo </h1>
      <span>listado de ot en sistema</span>
    </div>
    <div class="col-xs-12 col-md-6">
      <button [routerLink]="['/app/ot/form-ot']" pButton type="button" label="Nueva OT" icon="pi pi-plus"
        class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>


  <div class="row">
    <p-card header="¿Qué OTs desea listar?" [style]="{'width': '28rem'}" class="col-xs-12 col-md-6">
      <div class="row">
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="mias" name="responsable" value="mias" [(ngModel)]="responsable"
            (onClick)="onClick($event)">
          </p-radioButton>
          <label for="mias">Mis OTs</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-4">
          <p-radioButton id="otros" name="responsable" value="otros" [(ngModel)]="responsable"
            (onClick)="onClick($event)">
          </p-radioButton>
          <label for="otros">OTs de otros</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-5">
          <p-radioButton id="todas" name="responsable" value="todas" [(ngModel)]="responsable"
            (onClick)="onClick($event)">
          </p-radioButton>
          <label for="mias">Todas las OTs</label>
        </div>
      </div>
    </p-card>

    <p-card header="Tipo de OT" [style]="{'width': '28rem'}" class="col-xs-12 col-md-6">
      <div class="row">
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="OT" name="tipoOT" value="OT" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="OT">OT</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-4">
          <p-radioButton id="AP" name="tipoOT" value="AP" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="AP">AP</label>
        </div>
      </div>
    </p-card>
  </div>

  <br>


  <app-table [config]="configTable" [items]="(items$ | async)"></app-table>

</div>