<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="mt-4">Ordenes de trabajo </h1>
      <span>listado de ot en sistema</span>
    </div>
    <div class="col-xs-12 col-md-6">
      <button [routerLink]="['/app/ot/form-ot']" pButton type="button" label="Nueva OT" icon="pi pi-plus"
        class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-table [config]="configTable" [items]="data"></app-table>

</div>