<!--
<button (click)="showInformeAvanceModal(1)">Mostrar informe ot 1</button>
-->

<div class="container-fluid" style="padding: 0px 15px 100px 15px;">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="mt-4">Ordenes de trabajo </h1>
      <span>listado de ot en sistema</span>
    </div>
    <div class="col-xs-12 col-md-6">
      <button *ngxPermissionsOnly="['OT_CREAR']" [routerLink]="['/app/ot/form-ot']" pButton type="button" label="Nueva OT" icon="pi pi-plus" class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <p-card *ngxPermissionsOnly="['OT_LISTAR_POR_AREA']" header="¿Qué OTs desea listar?" [style]="{'width': '28rem', 'height': '7rem' }" class="col-xs-12 col-md-6">
      <div class="row">
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="mias" name="responsable" value="MIAS" [(ngModel)]="responsable" (onClick)="onClick($event)">
          </p-radioButton>
          <label for="mias">Mis OTs</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-4">
          <p-radioButton id="otros" name="responsable" value="OTRAS" [(ngModel)]="responsable" (onClick)="onClick($event)">
          </p-radioButton>
          <label for="otros">OTs de otros</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-5">
          <p-radioButton id="todas" name="responsable" value="TODAS" [(ngModel)]="responsable" (onClick)="onClick($event)">
          </p-radioButton>
          <label for="mias">Todas las OTs</label>
        </div>
      </div>
    </p-card>

    <p-card header="Tipo de OT" [style]="{'width': '28rem' , 'height': '7rem'}" class="col-xs-12 col-md-6">
      <div class="row">
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="OT" name="tipoOT" value="1" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="OT">OT</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="AP" name="tipoOT" value="2" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="AP">AP</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="FULL" name="tipoOT" value="2" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="FULL">FULL</label>
        </div>
        <div class="p-field-radiobutton col-xs-12 col-md-3">
          <p-radioButton id="TODAS" name="tipoOT" value="0" [(ngModel)]="tipoOT" (onClick)="onClickTipo($event)">
          </p-radioButton>
          <label for="TODAS">Todas</label>
        </div>
      </div>
    </p-card>
  </div>

  <br>

  <p-tabView (onChange)="onChange($event)" [activeIndex]="selectedIndex">
    <p-tabPanel header="Ejecucion" id="Ejecucion" tooltip="Listar OTs Ejecucion" [selected]="true">
      <app-table [config]="configTable" [items]="(itemsEjecucion$ | async)"></app-table>
    </p-tabPanel>
    <p-tabPanel header="Abiertas" id="abiertas" tooltip="Listar OTs abiertas">
      <app-table [config]="configTable" [items]="(itemsAbiertas$ | async)"></app-table>
    </p-tabPanel>
    <p-tabPanel header="Cerradas" id="cerradas" tooltip="Listar OTs cerradas">
      <app-table [config]="configTable" [items]="(itemsCerradas$ | async)"></app-table>
    </p-tabPanel>
  </p-tabView>

</div>
<app-modal [display]="displayAceptacionIncialModal" (CloseEvent)="closeAceptacionInicialModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title>Confirmar</ng-container>
  <ng-container modal-content>
    <br>
    ¿Está seguro que desea aceptar esta OT?
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeAceptacionInicialModal()">Cancelar</button>
    <button class="btn btn-primary" (click)="AceptacionInicialSubmit()">
      <em class="pi pi-save mr-1"></em>Aceptar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayRechazoIncialModal" (CloseEvent)="closeRechazoInicialModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title style="text-align: center;">Motivo del rechazo</ng-container>
  <ng-container modal-content>
    <!-- <pre>{{formRechazoIncial.value|json}}</pre> -->
    <form [formGroup]="formRechazoIncial">
      <br>
      <app-select [control]="formRechazoIncial.get('tipo_id')" label="* Tipo de Rechazo:">
        <ng-container options>
          <option value="null" selected disabled>Seleccione un tipo de rechazo</option>
          <ng-container *ngFor="let item of tipoRechazo$|async">
            <option [value]="item.id">
              {{item.motivo}}
            </option>
          </ng-container>
        </ng-container>
      </app-select>
      <br>
      <label for="">* Motivo</label>
      <textarea formControlName="motivo" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
    </form>

  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeRechazoInicialModal()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!formRechazoIncial.valid" (click)="rechazoInicialSubmit()">
      <em class="pi pi-save mr-1"></em>Enviar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayAuthOTModal" (CloseEvent)="closeAuthOTModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title style="text-align: center;">Motivo del rechazo</ng-container>
  <ng-container modal-content>
    <textarea [(ngModel)]="razonrechazo" class="form-control" placeholder="..." name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="this.closeAuthOTModal()">Cancelar</button>
    <button class="btn btn-primary" (click)="rechazarOT(idOtSelected)">
      <em class="pi pi-save mr-1"></em>Enviar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayAuthOTModal" (CloseEvent)="closeAuthOTModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title style="text-align: center;">Motivo del rechazo</ng-container>
  <ng-container modal-content>
    <textarea [(ngModel)]="razonrechazo" class="form-control" placeholder="..." name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="this.closeAuthOTModal()">Cancelar</button>
    <button class="btn btn-primary" (click)="rechazarOT(idOtSelected)">
      <em class="pi pi-save mr-1"></em>Enviar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayAssignTrabajadorModal" (CloseEvent)="closeAssignTrabajadorModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title>Asignación de supervisor de trabajos </ng-container>
  <ng-container modal-content>
    <app-assign-trabajador-form #assignTrabajadorForm></app-assign-trabajador-form>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeAssignTrabajadorModal()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!assignTrabajadorForm.form.valid" (click)="assignTrabajadorFormSubmit()">
      <em class="pi pi-save mr-1"></em>Guardar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayLibroObra" (CloseEvent)="closeRegistrarLibroObraModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title><i class="pi pi-book"></i> Agregar información al libro de obras</ng-container>
  <ng-container modal-content>
    <app-registrar-libro-obra #registrarLibroObraForm></app-registrar-libro-obra>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeRegistrarLibroObraModal()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!registrarLibroObraForm.valid" (click)="registrarLibroObraFormSubmit()">
      <em class="pi pi-save mr-1"></em>Guardar
    </button>
  </ng-container>
</app-modal>

<app-modal [display]="displayInformeAvanceModal" (CloseEvent)="closeInformeAvanceModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title><i class="pi pi-book"></i>&nbsp;Informe de avance</ng-container>
  <ng-container modal-content>
    <app-detalle-informe-avance-table [error]="detalleInformeAvanceError$ | async" [detalle]="detalleInformeAvance$ | async"></app-detalle-informe-avance-table>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeInformeAvanceModal()">Cancelar</button>
    <ng-container *ngIf="detalleInformeAvance$ | async as detalle">
      <ng-container *ngIf="sendingDetalleInformeAvance$ | async as sending; else noSending">
        <button class="btn btn-primary disabled">
          <em class="pi pi-spinner pi-spin mr-1"></em>Enviar
        </button>
      </ng-container>
      <ng-template #noSending>
        <button class="btn btn-primary" (click)="sendDetalleInformeAvance(detalle)">
          <em class="pi pi-send mr-1"></em>Enviar
        </button>
      </ng-template>
    </ng-container>
  </ng-container>
</app-modal>

<app-modal [display]="displayAprobarInformeAvanceModal" (CloseEvent)="closeAprobarInformeAvanceModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title><i class="pi pi-book"></i>&nbsp;Aprobar Informe de avance</ng-container>
  <ng-container modal-content>
    <app-detalle-informe-avance-table [error]="detalleInformeAvanceError$ | async" [detalle]="detalleInformeAvance$ | async"></app-detalle-informe-avance-table>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeAprobarInformeAvanceModal()">Cancelar</button>
    <ng-container *ngIf="detalleInformeAvance$ | async as detalle">
      <ng-container *ngIf="sendingDetalleInformeAvance$ | async as sending; else noSending">
        <button class="btn btn-primary disabled">
          <em class="pi pi-spinner pi-spin mr-1"></em>Enviar
        </button>
      </ng-container>
      <ng-template #noSending>
        <button class="btn btn-secundary" (click)="DesplegarRechazoInformeAvance()">
          <em class="pi pi-send mr-1"></em>Rechazar
        </button>
        <button class="btn btn-primary" (click)="AceptarInformeAvance(idOtSelected)">
          <em class="pi pi-send mr-1"></em>Aceptar
        </button>
      </ng-template>
    </ng-container>
  </ng-container>
</app-modal>


<app-modal [display]="displayAuthInformeModal" (CloseEvent)="closeAuthInformeModal()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title style="text-align: center;">Motivo del rechazo</ng-container>
  <ng-container modal-content>
    <!-- <pre>{{formRechazoIncial.value|json}}</pre> -->
    <form [formGroup]="formRechazoIncial">
      <br>
      <app-select [control]="formRechazoIncial.get('tipo_id')" label="* Tipo de Rechazo:">
        <ng-container options>
          <option value="null" selected disabled>Seleccione un tipo de rechazo</option>
          <ng-container *ngFor="let item of tipoRechazo$|async">
            <option [value]="item.id">
              {{item.motivo}}
            </option>
          </ng-container>
        </ng-container>
      </app-select>
      <br>
      <label for="">* Motivo</label>
      <textarea formControlName="motivo" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
    </form>

  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeAuthInformeModal()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!formRechazoIncial.valid" (click)="RechazarInformeAvance()">
      <em class="pi pi-save mr-1"></em>Enviar
    </button>
  </ng-container>
</app-modal>