<div class="container-acta">
  <h1>Validación del Acta</h1>

  <p-divider align="center">
    <span class="p-tag">Autorizar Adicionales</span>
  </p-divider>
  <div class="card">
    <div class=" grid">
      <div class="field col-12 table-autorizar-adicionales">
        <zwc-table-servicios #tableServiciosAutorizarAdicionales mode_source="static" [data_source]="acta_adicionales"
          [cantidad_editable]="false" [column_acciones]="true" [accion_delete]="false"
          [accion_aprobacion_servicio_adic]="true">
        </zwc-table-servicios>
      </div>

    </div>
  </div>

  <p-divider align="center">
    <span class="p-tag">Servicios cubicados</span>
  </p-divider>
  <div class="card">
    <div class=" grid">
      <div class="field col-12 table-servicios-cubicados">
        <zwc-table-servicios #tableServicioCubicados mode_source="static" [data_source]="acta_originales"
          [cantidad_editable]="false" [column_acciones]="false">
        </zwc-table-servicios>
      </div>

    </div>
  </div>

  <p-divider align="center">
    <span class="p-tag">Observaciones</span>
  </p-divider>

  <div class="card">
    <div class=" grid">
      <div class="col-12" id="control_observaciones">
        <p [outerHTML]="comentarioInforme$|async"></p>
      </div>
    </div>
  </div>


  <ng-container *ngIf="serviciosAdicionalesAprobados()">
    <p-divider align="center">
      <span class="p-tag">Escoger tipo de pago del acta</span>
    </p-divider>


    <div class="card">
      <div class=" grid" style="justify-content: center;">
        <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
          <zwc-pdropdown [control]="form.get('tipo_pago')" Label="*Tipo de pago" dropdown_id="select-tipo-pago"
            [data]="actaTipoPago" Pplaceholder="Seleccione un tipo pago"></zwc-pdropdown>
        </div>

        <ng-container *ngIf="form.get('tipo_pago').value!==null">
          <div class="field col-12 ">
            <h2 style="text-align: center;color: #015682;">Resumen del acta a pagar</h2>
            <br>
            <ng-container *ngIf="form.get('tipo_pago').value==='TOTAL' ||form.get('tipo_pago').value==='PORCENTAJE' ">
              <zwc-table-servicios #tableServicesTotal mode_source="static" [data_source]="acta"
                [cantidad_editable]="false" [column_acciones]="false">
              </zwc-table-servicios>
            </ng-container>

            <ng-container *ngIf="form.get('tipo_pago').value==='POR_SERVICIO'">
              <zwc-acta-por-servicio-form [form]="form.get('por_servicio')" [totalServicios]="totalServicios_servicio"
                [totalUO]="totalUO_servicio" #tablePagoPorServicio></zwc-acta-por-servicio-form>
            </ng-container>
          </div>

          <div class="field col-12">
            <ng-container *ngIf="form.get('tipo_pago').value==='PORCENTAJE'">
              <label>Porcentaje a pagar</label>
              <p-inputNumber [formControl]="form.get('porcentaje')" suffix="%" [min]="0" [max]="100"></p-inputNumber>
              <zwc-input-alert [control]="form.get('porcentaje')"> </zwc-input-alert>
            </ng-container>
            <div style="text-align: center;">
              <span style="color: #015682;font-weight: 700;">Total a pagar:</span> {{total_a_pagar|currency : 'CLP' :
              '$':'.0-2':'es-CL'}}

              <div class="message" style="margin-top:10px"
                *ngIf="form.get('tipo_pago').value==='POR_SERVICIO' && !tablePagoPorServicio?.valid ">
                <p-message severity="error" text="Debe escoger al menos un servicio o unidad de obra" styleClass="mr-2">
                </p-message>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>


  <p-divider align="center"></p-divider>


  <div class="card">
    <div class=" grid">
      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
        <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined" [routerLink]="['/ot']">
          Atrás
        </button>
      </div>
      <div *ngIf="accionExist('OT_VALIDAR_ACTA') && serviciosAdicionalesAprobados() "
        class="field col-12 md:col-4 lg:col-4 xl:col-4">
        <zwc-pbutton-sending Pid="validar-acta-button" content="Validar acta" icon="ok"
          Pclass="p-button-info p-button-sm mt-4 w-full" (click)="validarActa()" [Pdisabled]="!this.valid">
        </zwc-pbutton-sending>
      </div>
      <div *ngIf="accionExist('OT_VALIDAR_ACTA')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
        <zwc-pbutton-sending Pid="rechazar-button" content="Rechazar Acta" icon="nok"
          Pclass="p-button-info p-button-sm mt-4 w-full bg-red-500 hover:bg-red-300"
          (click)="displayModalRechazarActa()">
        </zwc-pbutton-sending>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<p-dialog header="Rechazo del acta" [(visible)]="showModalRechazarActa" [draggable]="false" [modal]="true">
  <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" #rechazoActaForm></zwc-view-rechazo>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="closeModalRechazarActa()">
      Cancelar
    </button>
    <button pButton type="button" id="button-confirmar" (click)="rechazarActa()"
      [disabled]="!rechazoActaForm.formRechazo.valid">
      Rechazar acta
    </button>
  </ng-template>
</p-dialog>