.container-acta {
    padding: 10px;

    #control_observaciones {
        font-size: 0.7rem;
    }
}

:host ::ng-deep {
    .p-inputnumber-input {
        height: 70%;
        width: 98px;
        margin-left: 10px;
    }
}