
.p-field input{
    width: 100%;
      border: 1px solid #767676;
      border-radius: 5px;
      padding: 8px;
      margin-bottom: 15px;
  }

  .p-field label{
    font-size: 16px;
    font-weight: 700;
  }

  .p-field select{
    width: 100%;
    padding: 9px;
    border-radius: 7px;
    margin-bottom: 32px;
    margin-top: 4px;
  }

  .step-content{
    padding: 11px 51px;
  }
