<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-12 field-box" [formGroup]="form" id="tipoMonedaField">
        <app-select [control]="controls.tipo_moneda_id" label="Moneda" [errorMessageFn]="errorMessageFn">
          <ng-container options>
            <option value="null" selected disabled>Seleccione tipo de moneda</option>
            <ng-container *ngFor="let tipoMoneda of tiposMoneda$ | async">
              <option [value]="tipoMoneda.id">
                {{tipoMoneda.codigo}} - {{ tipoMoneda.nombre }}
              </option>
            </ng-container>
          </ng-container>
        </app-select>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-12 field-box" [formGroup]="form" id="descripcionField">
        <app-textarea [control]="controls.descripcion" label="Descripción" [errorMessageFn]="errorMessageFn" [rows]="4">
        </app-textarea>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <div class="text-right" id="addItemButtonBox">
      <button (click)="addTableRow()" [disabled]="notAllowedToAddRow()" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-outlined"></button>
    </div>

    <app-contrato-ordinario-lpus-table #tableLpus [items]="lpusCarrito" [unidades]="unidades$ | async" [currency]="currency" (itemAdded)="itemAdded($event)" (itemDeleted)="itemDeleted($event)" (cellValueChanged)="cellValueChanged($event)"></app-contrato-ordinario-lpus-table>
    <br>
  </div>
</div>
