<div class="container-acciones">
    <!-- PLAY CONTINUAR -->

    <button id="play-button" pTooltip="Aceptación incial" *ngIf="findAccion('OT_ACEPTAR_INICIAL')"
        (click)="displayModalAceptarInicial=true">
        <fa-icon [icon]="playIcon"></fa-icon>
    </button>

    <button id="play-button" pTooltip="Aceptación de la Orden de trabajo" *ngIf="findAccion('OT_ACEPTAR_PROVEEDOR')"
        (click)="openModalAceptacionOTProveedor()">
        <fa-icon [icon]="playIcon"></fa-icon>
    </button>

    <!-- OT_ET_EJECUCION_TRABAJOS -->
    <button id="play-button" pTooltip="Editar/enviar informe avance" [routerLink]="['/ot-detalle/informe-avance']"
        *ngIf="findAccion('OT_EDITAR_INFORME_AVANCE')||findAccion('OT_ENVIAR_INFORME_AVANCE')">
        <fa-icon [icon]="playIcon"></fa-icon>
    </button>

    <!-- ACCIONES FIJAS -->
    <button id="info-button" pTooltip="Información">
        <fa-icon [icon]="infoIcon"></fa-icon>
    </button>

    <button id="ver-libro-obras-button" pTooltip="Ver libro de obras">
        <fa-icon [icon]="bookIcon"></fa-icon>
    </button>

    <button id="add-libro-obras-button" pTooltip="Agregar registro libro de obras"
        *ngIf="findAccion('OT_REGISTRAR_LIBRO_OBRAS')" (click)="displayModalAgregarRegistroLibroDeObras=true">
        <fa-icon [icon]="medicalIcon"></fa-icon>
    </button>
</div>

<p-dialog header="Agregar registro a libro de obras" [(visible)]="displayModalAgregarRegistroLibroDeObras"
    [draggable]="false" [modal]="true">

</p-dialog>

<p-dialog header="Aceptación Incial de la OT" [(visible)]="displayModalAceptarInicial" [draggable]="false"
    [modal]="true">
    Order de trabajo ID: {{ot_id}}
    <zwc-view-confirmacion pregunta='¿Desea aceptar la continuidad de la orden de trabajo?'
        (cancelar)="rechazarOTInicial()" textCancel="Rechazar OT" (confirmar)="confirmarAceptacionOTInicial()"
        textConfirmar="Aceptar OT">
    </zwc-view-confirmacion>
</p-dialog>

<p-dialog header="Rechazo de la Orden de trabajo" [(visible)]="displayModalRechazoOrdenDeTrabajo" [draggable]="false"
    [modal]="true">
    <zwc-view-rechazo></zwc-view-rechazo>
</p-dialog>

<p-dialog header="Aceptación de la orden de trabajo" [(visible)]="displayModalAceptarProveedor" [draggable]="false"
    [modal]="true" [style]="{heigth: '50vh'}">
    <p> Order de trabajo ID: {{ot_id}}</p>
    <p>Si acepta esta orden de trabajo, escoja el supervisor de trabajos que la realizará</p>
    <form novalidate autocomplete="off" [formGroup]="form">
        <zwc-pdropdown [control]="form.get('trabajador_id')" Label="*Supervisor"
            dropdown_id="select-supervisor-trabajos" [data]="posibleSupervisorDeTrabajo$|async"
            Pplaceholder="Selecione una persona" [loading]="loadingPosibleSupervisorDeTrabajos$|async"></zwc-pdropdown>
    </form>

    <!-- TODO: AGREGAR LA VALIDACION AL BOTON ACEPTAR ORDEN -->
    <div class="container-button-confirmar">
        <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
            (click)="rechazarOrdenProveedor()">
            <fa-icon [icon]="cancelIcon" style="color: #ccc;"></fa-icon>
            Rechazar Orden
        </button>
        <button pButton type="button" id="button-confirmar" (click)="aceptarOrdenProveedor()">
            <fa-icon [icon]="checkIcon"></fa-icon>
            Aceptar Orden
        </button>
    </div>
</p-dialog>