<div class="container-acciones">
  <!-- PLAY CONTINUAR -->

  <!-- OT_ET_AUTORIZACION_INICIAL  JERARQUIA-->
  <button id="play-button" pTooltip="Aceptación incial" *ngIf="findAccion('OT_ACEPTAR_INICIAL')"
    (click)="displayModalAceptarInicial=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_AUTORIZACION_PROVEEDOR ADMIN EECC-->
  <button id="play-button" pTooltip="Aceptación de la Orden de trabajo" *ngIf="findAccion('OT_ACEPTAR_PROVEEDOR')"
    (click)="openModalAceptacionOTProveedor()">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_EJECUCION_TRABAJOS  SUPERVISOR TRABAJOS-->
  <!-- OT_ET_PAGO_ACEPTACION_IA ADMIN EECC -->
  <!-- TODOCOMENT: DATABASE SE DEBE AGREGAR LA ACCION DE PODER EDITAR EL INFORME DE AVANCE AL ADMIN CONTRATO -->
  <button id="play-button" pTooltip="Editar/enviar informe avance"
    [routerLink]="['/informe-avance/informe-avance',ot_id]"
    *ngIf="findAccion('OT_EDITAR_INFORME_AVANCE')||findAccion('OT_ENVIAR_INFORME_AVANCE')||findAccion('OT_AUTORIZAR_INFORME_AVANCE')">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>


  <!-- OT_ET_PAGO_GENERACION_ACTA -->
  <!-- 182 TODO: AGREGAR BOTON PARA LA ACCION DE SOLICITAR QUIEBRE -->
  <button id="play-button" pTooltip="Generar Acta" [routerLink]="['/acta/generar-acta',ot_id]"
    *ngIf="findAccion('OT_GENERAR_ACTA')">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_VALIDACION_ACTA_GESTOR -->
  <button id="play-button" pTooltip="Validar Acta" [routerLink]="['/acta/validar-acta',ot_id]"
    *ngIf="findAccion('OT_VALIDAR_ACTA')">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_SOLICITUD_PAGO -->
  <!-- 183 TODO: VER COMO DESPLEGAR LAS 3 OPCIONES ADICIONALES -->
  <button id="play-button" pTooltip="Solicitar Pago" *ngIf="findAccion('OT_SOLICITAR_PAGO')"
    (click)="displayModalSolicitudPago=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_APROBACION_OBRAS_OPERACIONES -->
  <button id="play-button" pTooltip="Aprobar Obras" *ngIf="findAccion('OT_APROBACION_OPERACIONES')"
    [routerLink]="['/acta/validar-trabajos-operaciones',ot_id]">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_CONFIRMAR_RECHAZO_OBRAS_GESTOR -->
  <button id="play-button" pTooltip="Confirmar rechazo obras" *ngIf="findAccion('OT_CONFIRMAR_RECHAZO_OBRAS')"
    (click)="displayModalRechazoObras=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_AUTORIZACION_SOLICITUD_PAGO -->
  <button id="play-button" pTooltip="Autorizar pago Acta" [routerLink]="['/acta/validar-pago-acta',ot_id]"
    *ngIf="findAccion('OT_AUTORIZAR_PAGOS')">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PENDIENTE_CIERRE -->
  <button id="play-button" pTooltip="Cerrar OT" *ngIf="findAccion('OT_CERRAR')" (click)="displayModalCerrarOT=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_ANULACION_POR_RECHAZO_PROV -->
  <button id="play-button" pTooltip="Anular OT" *ngIf="findAccion('OT_ANULAR')" (click)="displayModalAnularOT=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_PAGO_INFORMAR_TRABAJOS_FINALIZADOS -->
  <button id="play-button" pTooltip="Informe trabajos finalizados" *ngIf="findAccion('OT_INF_TRABAJO_FIN')"
    (click)="displayInformeTrabajosFinalizados()">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_EJECUCION_TRABAJOS_INGENIERIA -->
  <button id="play-button" pTooltip="Editar resultado ingeniería" *ngIf="findAccion('OT_EDITAR_RESULTADO_ING')"
    [routerLink]="['/ingenieria/resultado-ingenieria',ot_id]">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>
  <button id="play-button" pTooltip="Enviar resultado ingeniería" *ngIf="findAccion('OT_ENVIAR_RESULTADO_ING')"
    [routerLink]="['/ingenieria/resultado-ingenieria',ot_id]">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- OT_ET_AUTORIZACION_RESULTADO_INGENIERIA -->
  <button id="play-button" pTooltip="Validar resultado ingeniería" *ngIf="findAccion('OT_AUTORIZAR_RESULTADO_ING')"
    [routerLink]="['/ingenieria/validar-ingenieria',ot_id]">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <!-- ACCIONES FIJAS -->
  <button id="info-button" pTooltip="Información" [routerLink]="['/ot-detalle/informacion',ot_id]">
    <fa-icon [icon]="infoIcon"></fa-icon>
  </button>

  <button id="ver-libro-obras-button" pTooltip="Ver libro de obras" [routerLink]="['/ot-detalle/libro-obras',ot_id]">
    <fa-icon [icon]="bookIcon"></fa-icon>
  </button>

  <button id="add-libro-obras-button" pTooltip="Agregar registro libro de obras"
    *ngIf="findAccion('OT_REGISTRAR_LIBRO_OBRAS')" (click)="displayModalAgregarRegistroLibroDeObras=true">
    <fa-icon [icon]="medicalIcon"></fa-icon>
  </button>

  <button id="solicitar-quiebre-button" pTooltip="Solicitar quierbe OT" *ngIf="findAccion('OT_SOLICITAR_QUIEBRE')"
    (click)="showModalSolicitarQuiebre()">
    <fa-icon [icon]="pauseIcon"></fa-icon>
  </button>

  <button id="quiebre-button" pTooltip="Quebrar OT" *ngIf="findAccion('OT_QUEBRAR')"
    (click)="displayModalQuebrarOT=true">
    <fa-icon [icon]="pauseIcon"></fa-icon>
  </button>

  <button id="desquiebre-button" pTooltip="Desquebrar OT" *ngIf="findAccion('OT_SOLICITAR_QUIEBRE_')"
    (click)="displayModalDesquiebre=true">
    <fa-icon [icon]="playIcon"></fa-icon>
  </button>

  <button id="cierre-administrativo-button" pTooltip="Cierre administrativo" style="background-color: #f99898;"
    *ngIf="findAccion('OT_CERRAR_ADMINISTRATIVO')" (click)="displayModalCierreAdministrativo=true">
    <fa-icon [icon]="rectanguleIcon"></fa-icon>
  </button>
</div>



<!-- MODALS -->

<p-dialog header="Agregar registro a libro de obras" [(visible)]="displayModalAgregarRegistroLibroDeObras"
  [draggable]="false" [modal]="true">

  <zwc-registrar-libro-obras #registrarLibroObraForm></zwc-registrar-libro-obras>
  <ng-template pTemplate="footer">
    <zwc-pbutton-sending Pid="subir-registro" content="Subir registro" Pclass="p-button-info p-button-sm mt-4 w-full"
      [Pdisabled]="!registrarLibroObraForm.valid" [sending]="sendingCreateOT$|async" (call)="registrarLibroObras()">
    </zwc-pbutton-sending>
  </ng-template>

</p-dialog>

<!-- SOLICITAR QUIEBRE -->
<p-dialog header="Solicitar quiebre" [(visible)]="displayModalSolicitarQuiebre" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}

  <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" tituloTipoMotivo="* Tipo motivo"
    subTextTipoMotivo="Seleccione un tipo de motivo" #solicitudQuiebreForm></zwc-view-rechazo>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="displayModalSolicitarQuiebre=false">
      Cancelar
    </button>
    <button pButton type="button" id="button-confirmar" (click)="confirmarSolicitudQuiebre()"
      [disabled]="!solicitudQuiebreForm.formRechazo.valid">
      Solicitar Quiebre
    </button>
  </ng-template>
</p-dialog>




<!-- <p-dialog header="Quiebre" [(visible)]="displayModalSolicitarQuiebre" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}

  
  <zwc-view-confirmacion pregunta='¿Comfirma la solicitud de quiebre?' (cancelar)="displayModalSolicitarQuiebre=false"
    (confirmar)="confirmarSolicitudQuiebre()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog> -->

<!-- DESQUIEBRE -->
<p-dialog header="Desquiebre" [(visible)]="displayModalDesquiebre" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}
  <zwc-view-confirmacion pregunta='¿Comfirma el desquiebre de la OT?' (cancelar)="displayModalDesquiebre=false"
    (confirmar)="confirmarDesquiebre()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>

<!-- CIERRE ADMINISTRATIVO -->
<p-dialog header="cierre administrativo" [(visible)]="displayModalCierreAdministrativo" [draggable]="false"
  [modal]="true">
  Order de trabajo ID: {{ot_id}}
  <zwc-view-confirmacion pregunta='¿Comfirma el cierre administrativo de la OT?'
    (cancelar)="displayModalCierreAdministrativo=false" (confirmar)="confirmarCierreAdministrativo()"
    textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>


<!-- OT_ET_AUTORIZACION_INICIAL -->
<p-dialog header="Aceptación Incial de la OT" [(visible)]="displayModalAceptarInicial" [draggable]="false"
  [modal]="true">
  <p>Order de trabajo ID: {{ot_id}}</p>
  <zwc-view-confirmacion pregunta='¿Desea aceptar la continuidad de la orden de trabajo?'
    (cancelar)="ShowModelrechazarOTInicial()" textCancel="Rechazar OT" (confirmar)="confirmarAceptacionOTInicial()"
    textConfirmar="Aceptar OT">
  </zwc-view-confirmacion>
</p-dialog>

<p-dialog header="Rechazo Inicial de la OT" [(visible)]="displayModalRechazoOrdenDeTrabajoInicial" [draggable]="false"
  [modal]="true">
  <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" #rechazoInicialForm></zwc-view-rechazo>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="closeModalRechazoInicial()">
      Cancelar
    </button>
    <button pButton type="button" id="button-confirmar" (click)="RechazarOTInicial()"
      [disabled]="!rechazoInicialForm.formRechazo.valid">
      Rechazar OT
    </button>
  </ng-template>
</p-dialog>


<!-- OT_ET_AUTORIZACION_PROVEEDOR -->
<p-dialog header="Aceptación de la orden de trabajo" [(visible)]="displayModalAceptarProveedor" [draggable]="false"
  [modal]="true" [style]="{heigth: '50vh'}">
  <p> Order de trabajo ID: {{ot_id}}</p>
  <p>Escoja el supervisor de trabajos que la realizará el trabajo en caso de aceptar realizar la orden</p>
  <br>
  <form novalidate autocomplete="off" [formGroup]="form">
    <zwc-pdropdown [control]="form.get('trabajador_id')" Label="* Supervisor" dropdown_id="select-supervisor-trabajos"
      [data]="posibleSupervisorDeTrabajo$|async" Pplaceholder="Seleccione una persona"
      [loading]="loadingPosibleSupervisorDeTrabajos$|async"></zwc-pdropdown>
  </form>

  <div class="container-button-confirmar">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="displayModalrechazarOrdenProveedor()">
      Rechazar Orden
    </button>
    <ng-container *ngIf="formValid; else formInvalid">
      <button pButton type="button" id="button-confirmar" (click)="aceptarOrdenProveedor()" style="width: 29%;">
        Aceptar Orden
      </button>
    </ng-container>
    <ng-template #formInvalid>
      <button pButton type="button" id="button-confirmar" disabled="true" style="width: 29%;">
        Aceptar Orden
      </button>
    </ng-template>
  </div>
</p-dialog>

<p-dialog header="Rechazo de la OT" [(visible)]="displayModalRechazoOrdenDeTrabajo" [draggable]="false" [modal]="true">
  <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" #rechazoProveeodrForm></zwc-view-rechazo>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="closeModalRechazoProveedor()" style="width: 29%;">
      Cancelar
    </button>
    <button pButton type="button" id="button-confirmar" (click)="rechazarOrdenProveedor()"
      [disabled]="!rechazoProveeodrForm.formRechazo.valid" style="width: 29%;">
      Rechazar OT
    </button>
  </ng-template>
</p-dialog>

<!-- OT_ET_PAGO_SOLICITUD_PAGO -->
<p-dialog header="Solicitud de pago" [(visible)]="displayModalSolicitudPago" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}
  <zwc-view-confirmacion pregunta='¿Comfirma solicitar pago?' (cancelar)="displayModalSolicitudPago=false"
    (confirmar)="confirmarSolicitarPago()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>

<!-- OT_ET_PAGO_CONFIRMAR_RECHAZO_OBRAS_GESTOR -->
<p-dialog header="Rechazo de obras" [(visible)]="displayModalRechazoObras" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}
  <zwc-view-confirmacion pregunta='¿Comfirma rechazo de obras?' (cancelar)="displayModalRechazoObras=false"
    (confirmar)="confirmarRechazoObras()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>

<!-- OT_ET_PAGO_APROBACION_OBRAS_OPERACIONES -->
<p-dialog header="Aceptación acta" [(visible)]="displayModalAprobacionOperaciones" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}

  <zwc-view-confirmacion pregunta='¿Desea aprobar esta acta?' (cancelar)="rechazarActaOperaciones()"
    textCancel="Rechazar Acta" (confirmar)="aprobarActaOperaciones()" textConfirmar="Aprobar Acta">
  </zwc-view-confirmacion>
</p-dialog>

<!-- OT_ET_PENDIENTE_CIERRE -->
<p-dialog header="Cerrar OT" [(visible)]="displayModalCerrarOT" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}

  <zwc-view-confirmacion pregunta='¿Confirma que desea cerrar la OT?' (cancelar)="displayModalCerrarOT=false"
    (confirmar)="cerrarOT()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>

<!-- OT_ET_ANULACION_POR_RECHAZO_PROV -->
<p-dialog header="Anular OT" [(visible)]="displayModalAnularOT" [draggable]="false" [modal]="true">
  Order de trabajo ID: {{ot_id}}

  <zwc-view-confirmacion pregunta='¿Confirma que desea anular la OT?' (cancelar)="displayModalAnularOT=false"
    (confirmar)="anularOT()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>

<!-- OT_ET_PAGO_INFORMAR_TRABAJOS_FINALIZADOS -->
<p-dialog header="Informe trabajos finalizados" [(visible)]="displayModalInformeTrabajosFinalizados" [draggable]="false"
  [modal]="true">

  <form [formGroup]="formTrabajosFinalizados">
    <div class="col-12" id="control_observaciones">
      <br>
      <textarea formControlName="informe" class="form-control" name="comentarios" id="comentarios" cols="30"
        rows="2"></textarea>
      <br>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
      (click)="closeModalInformeTrabajosFinalizados()">
      Cancelar
    </button>
    <button pButton type="button" id="button-confirmar" (click)="displayModalSendInformeTrabajosFinalizados=true"
      [disabled]="!formTrabajosFinalizados.valid">
      Enviar Informe
    </button>
  </ng-template>
</p-dialog>

<p-dialog header="Confirmación del envío" [(visible)]="displayModalSendInformeTrabajosFinalizados" [draggable]="false"
  [modal]="true">
  Order de trabajo ID: {{ot_id}}

  <zwc-view-confirmacion pregunta='¿Confirma el envío?' (cancelar)="displayModalSendInformeTrabajosFinalizados=false"
    (confirmar)="sendInformeTrabajosFinalizados()" textConfirmar="Confirmar">
  </zwc-view-confirmacion>
</p-dialog>