<div class="row" [formGroup]="form">
  <div class="col-xs-12 col-md-12" id="control_carta_adjudicacion">
    <app-input [control]="form.get('carta_adjudicacion')" [label]="'Número carta'"></app-input>
  </div>

  <div class="col-xs-12 col-md-12" id="control_fecha_adjudicacion">
    <label class="mr-1" for="">Fecha adjudicación</label>
    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="form-control d-block" formControlName="fecha_adjudicacion" id="fecha-adjudicacion" name="fecha-adjudicacion" dateFormat="dd/mm/yy"></p-calendar>
  </div>

  <div class="col-xs-12 col-md-12" id="control_numero_pedido">
    <app-input [control]="form.get('numero_pedido')" [label]="'Número pedido'"></app-input>
  </div>

  <div class="col-xs-12 col-md-12" id="control_materia">
    <app-input [control]="form.get('materia')" [label]="'Materia'"></app-input>
  </div>
</div>