:host ::ng-deep {
    .p-tag {
        background-color: #00507A !important;
        font-weight: 100;
    }

    .p-divider .p-divider-content {
        background: transparent;
    }

    h1 {
        color: #015682;
        margin-top: 10px;
    }



    // DIALOGS
    .p-dialog {
        .p-dialog-header {
            padding: 0.7rem;
            background: #404d99;
            color: rgba(234, 234, 234, 0.87);

            .p-dialog-title {
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 1.07rem;
            }

            .p-dialog-header-icon {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        .p-dialog-content {
            padding: 15px 15px;
        }
    }

}


// TABLE LIST 
:host ::ng-deep {

    .p-datatable {
        border: 1px solid #efefef;

        td {
            padding: 0.1rem 0.2rem 0.1rem 0.6rem !important;
            border: 0 !important;
            border-right: 1px solid #d8d8d8 !important;
            border-bottom: 1px solid #d8d8d8 !important;
            font-size: var(--size-text-sigo);
        }

        .buttons-operaciones {
            display: flex;
            width: 100%;
            justify-content: space-evenly;

            fa-icon {
                color: white;
            }

            button {
                padding: 0.3rem;
                border-radius: 5px;
                border: 0;
                background: #3f51b5;
                color: white;
                font-size: 12px;
                font-weight: 100;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                width: 35%;
                margin-left: 4px;
                align-items: center;

                &:hover {
                    background: #4b5ec5;
                }

                &:disabled {
                    background: #3f51b585;
                }
            }
        }

    }

    .p-datatable.p-datatable-sm .p-datatable-header {
        background: #efefef;
    }

    .p-datatable .p-datatable-thead>tr>th {
        border: 0px;
        border-width: 0px;
        border-right: 1px solid #f4f4f4 !important;
        border-bottom: 1px solid #d1cece;
        background-color: #efefef;
        font-size: var(--size-text-sigo);
        font-weight: 700;

        p-sorticon>i {
            font-size: 0.8rem !important;
        }
    }

    .p-datatable .p-datatable-thead>tr>th>div {
        display: flex;
        align-items: center;
    }

    .p-paginator-bottom {
        font-size: 0.8rem;

        span button {
            font-size: 0.8rem;
        }
    }

    .p-paginator-page {
        min-width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .p-datatable-footer {
        font-size: 0.8rem;
    }
}