<div class="row">
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <input class="form-control" placeholder="Nombre OT" type="text">
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione Tipo OT</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione Cubicación</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione Plan proyecto</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione Sitio</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione PMO</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione Linea presupuestaria</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre OT</label>
    <select class="form-control" name="" id="">
      <option value="0" selected>Seleccione PEP2</option>
      <option value="1">PMO</option>
    </select>
    <br>
  </div>
</div>