<!-- <p-dialog header="Detalle de la cubicación ( {{cubicacionSelected.nombre}} )" [(visible)]="showModalDetalleCubicacion"
    [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ot-detalle-cubicacion [cubicacionSelected]="cubicacionSelected"
        [detallesCubicacionSelected]="detallesCubicacionSelected"></ot-detalle-cubicacion>
</p-dialog> -->

<p-dialog [(visible)]="display" (onHide)="close()" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '70vw'}">
  <ng-template pTemplate="header">
    <ng-content select="[modal-header-title]"></ng-content>
  </ng-template>
  <ng-content select="[modal-content]"></ng-content>
  <p-footer>
    <ng-content select="[modal-footer]"></ng-content>
  </p-footer>
</p-dialog>