<div class="card" style="padding: 26px;">
  <h5>Archivos adjuntos a la OT</h5>
  <span>
    <p-message severity="info" text="Por seguridad los enlaces tienen un tiempo de caducidad. Actualice esta página si los enlaces caducan"></p-message>&nbsp;
  </span>
  <p-table [value]="adjuntos" dataKey="code" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 21%;">Autor</th>
        <th style="width: 33%;">Nombre</th>
        <th>Fecha</th>
        <th>Extensión</th>
        <th>Peso</th>
        <th>Descargar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.autor}}</td>
        <td>{{product.nombre_original}}</td>
        <td>{{product.fecha| date:'medium'}}</td>
        <td>{{product.extension}}</td>
        <td>{{product.size}}</td>
        <td><a [href]="getUrl(product.url)" download="product.nombre_original">Descargar</a></td>
      </tr>
    </ng-template>
  </p-table>
</div>