<div class="container-fluid" style="background: #f0f8fb">
  <div class="row">
    <ng-container *ngIf="selectedCubicacion$ | async as cubicacion; else newCubage">
      <div class="col">
        <h1 class="mt-4">Edición de Cubicación</h1>
        <span>{{ cubicacion.nombre }}</span>
      </div>
    </ng-container>

    <ng-template #newCubage>
      <div class="col">
        <h1 class="mt-4">Ingreso de Cubicación</h1>
        <span>Formulario de creación de una cubicación</span>
      </div>
    </ng-template>

    <div class="col">
      <button [routerLink]="['/app/cubicacion/list-cub']" pButton type="button" label="volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="resetDataPage()"></button>
    </div>
    <div class="col-12">
      <hr />
    </div>

    <app-card [classCardHeader]="'bg-secondary text-white'">
      <ng-container card-header-title> </ng-container>
      <ng-container card-body>
        <app-form [formCubicacion]="formCubicacion" [autoSuggestData]="autoSuggestItems$ | async" (ChangeSearchSuggest)="ChangeSearchSuggest($event)" (NameSelected)="NameSelected($event)" [contratosMarcos]="contratosMarcos$ | async" [Providers]="Providers$ | async" [Regions]="Regions$ | async" [TypeServices]="TypeServices$ | async" [Services]="Services$ | async" (lpusSelected)="lpusSelected($event)" [lpusCarrito]="lpusCarrito" (CantidadSelected)="CantidadSelected($event)" (BorrarLPUCarrito)="BorrarLPUCarrito($event)" [total]="total" (cancel)="cancel($event)" (save)="save($event)"></app-form>
      </ng-container>
    </app-card>
  </div>
</div>
