<span class="pantalla" *ngIf="(loading$|async)!==false && !loading_interno && mode === 'edit'"></span>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="mode === 'add'">
        <h1 class="mt-4">Ingreso de Cubicación</h1>
        <span>Formulario de creación de una cubicación</span>
      </ng-container>

      <ng-container *ngIf="mode === 'edit'">
        <h1 class="mt-4">Edición de Cubicación</h1>
        <span>Formulario de edición de una cubicación</span>
      </ng-container>
    </div>

    <div class="col">
      <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="goBack()"></button>
    </div>
  </div>

  <form [formGroup]="formCub">
    <div class="row justify-content-center container-formulario-principal">
      <div class="col-12">
        <div class="row subcontainer-nombre-tipo">
          <div class="col-md-6 col-sm-12">
            <div id="nomnbreCub">
              <app-input [control]="formControls.nombre" label="* Nombre:"></app-input>
            </div>
          </div>


        </div>
      </div>

    </div>
  </form>
</div>