.pantalla {
  position: absolute;
  width: 100%;
  background: #d0d0d0a6;
  height: 100%;
  z-index: 1;
}

.container-formulario-principal {
  margin-bottom: 4rem;
  padding: 10px;

  div>.subcontainer-nombre-tipo {
    border: 1px solid #c6c6c6;
    padding: 3px;
    padding-bottom: 14px
  }

  div>.filtroservicios {
    margin-top: 12px;
    border: 1px solid #c6c6c6;
    padding: 20px;
    background: #e3dfdf;
  }
}

.dropdown-service {
  width: 36.3rem;
  max-width: 36.3rem;
}