<!-- <ng-container *ngIf="(ot$|async) && (ot$|async).ot.model_tipo_etapa_ot_id.slug==='OT_ET_PAGO_VALIDACION_ACTA_GESTOR'">
  <br>
  <p-message severity="info" text="No se puede generar una nueva acta hasta que la enviada termine de pagarse"></p-message>&nbsp;
</ng-container> -->
<!-- <ng-container *ngIf="(ot$|async) && (ot$|async).ot.model_tipo_etapa_ot_id.slug==='OT_ET_PAGO_GENERACION_ACTA'"> -->
<ng-container *ngIf="!actaValidada">
  <ng-container *ngIf="ot$ | async as ot">
    <ng-container *ngIf="adicionalesPendientesAprobar">
      <div class="row">
        <ng-container *ngIf="formAdicionales">
          <ng-container *ngIf="formAdicionales.get('servicios') as servicios">
            <div class="col-xs-12 col-md-12">
              <app-card [classCardHeader]="'bg-info'">
                <ng-container card-header-title>Detalle servicios adicionales</ng-container>
                <ng-container card-body>
                  <table style="width:100%">
                    <thead>
                      <tr>
                        <th>Cod.</th>
                        <th>Descripción</th>
                        <th style="text-align: right">Cantidad a Enviar</th>
                        <th>Precio Un.</th>
                        <th>Total</th>
                        <th>Aprobar/Rechazar
                          <p-inputSwitch [formControl]="formAprobarTodos.get('all')"></p-inputSwitch>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="formAdicionales.get('unidades_obra') as unidadesObra">
                        <ng-container *ngFor="let servicio of servicios.controls">
                          <tr>
                            <td class="label-table">{{ servicio.get('numero_producto').value }}</td>
                            <td class="data-secundaria">{{ servicio.get('descripcion').value |titlecase}}</td>
                            <td style="text-align: right">{{ servicio.get('cantidad_a_enviar').value }}</td>
                            <td class="data-secundaria">{{ +servicio.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                            <td class="data-secundaria">{{ +servicio.get('precio_total_servicio').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                            <td style="width: 100px;"> 
                              <div style="display:flex;flex-direction: column;align-items: center;color:white;" [ngClass]="servicio.get('validar').value?'recha-color':'aprob-color'">
                                {{servicio.get('validar').value?'Rechazada':'Aprobada'}}
                                <p-inputSwitch [formControl]="servicio.get('validar')"></p-inputSwitch>
                              </div>
                            </td>
                          </tr>
                          <ng-container *ngFor="let uo of unidadesObra.controls">
                            <tr *ngIf="+uo.get('informe_has_servicio_id').value===+servicio.get('id').value">
                              <td class="label-table" style="background-color:#ff8e4e ;
                              padding-left: 22px !important;">{{ uo.get('uo_codigo').value }}</td>
                              <td class="data-secundaria">{{ uo.get('descripcion').value|titlecase }}</td>
                              <td style="text-align: right">{{ uo.get('cantidad_a_enviar').value }}</td>
                              <td class="data-secundaria">{{ +uo.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                              <td class="data-secundaria">{{ +uo.get('precio_total_servicio').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                              <td> 
                                <!-- <select name="" id="">
                                  <option value="">seleccione una opción</option>
                                  <option value="1">Aprobar</option>
                                  <option value="">Rechazar</option>
                                </select> -->
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <tr>
                          <td>Total Servicios</td>
                          <td>{{totalSadicionales | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                          <td>Total UOs</td>
                          <td>{{totalUadicionales | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                          <td>Total</td>
                          <td>{{totalSadicionales+totalUadicionales| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </ng-container>
              </app-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
      
    </ng-container>
  
    <div class="row" *ngIf="!actaValidada">
      <ng-container *ngIf="form.get('total_porcentaje')">
        <ng-container *ngIf="form.get('total_porcentaje').get('servicios') as servicios">
          <div class="col-xs-12 col-md-12">
            <app-card [classCardHeader]="'bg-info'">
              <ng-container card-header-title>Detalle servicios</ng-container>
              <ng-container card-body>
                <table style="width:100%">
                  <thead>
                    <tr>
                      <th>Cod.</th>
                      <th>Descripción</th>
                      <th style="text-align: right">Cantidad a Enviar</th>
                      <th>Precio Un.</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="form.get('total_porcentaje').get('unidades_obra') as unidadesObra">
                      <ng-container *ngFor="let servicio of servicios.controls">
                        <ng-container *ngIf="servicio.get('adicional_aceptacion_estado').value ==='ORIGINAL'">
                          <tr>
                            <td class="label-table">{{ servicio.get('numero_producto').value }}</td>
                            <td class="data-secundaria">{{ servicio.get('descripcion').value |titlecase}}</td>
                            <td style="text-align: right">{{ servicio.get('cantidad_a_enviar').value }}</td>
                            <td class="data-secundaria">{{ +servicio.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                            <td class="data-secundaria">{{ +servicio.get('precio_total_servicio').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                          </tr>
                          <ng-container *ngFor="let uo of unidadesObra.controls">
                            <tr *ngIf="+uo.get('informe_has_servicio_id').value===+servicio.get('id').value">
                              <td class="label-table" style="background-color:#ff8e4e ;
                              padding-left: 22px !important;">{{ uo.get('uo_codigo').value }}</td>
                              <td class="data-secundaria">{{ uo.get('descripcion').value|titlecase }}</td>
                              <td style="text-align: right">{{ uo.get('cantidad_a_enviar').value }}</td>
                              <td class="data-secundaria">{{ +uo.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                              <td class="data-secundaria">{{ +uo.get('precio_total_servicio').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        
                      </ng-container>
                    </ng-container>
                    <tr>
                      <td>Total Servicios</td>
                      <td>{{totalServicios| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                      <td>Total UOs</td>
                      <td>{{totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                      <td>Total</td>
                      <td>{{totalServicios+totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </app-card>
          </div>
        </ng-container>
      </ng-container>


      <div style="margin-left: 39vw;
      margin-top: 25px;">
        <span>Total:</span>
        <span>{{totalSadicionales+totalUadicionales+totalServicios+totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</span>
      </div>
  

<div style="width: 100%;margin-left: 35px"><h2> Observaciones</h2>
  <p [outerHTML]="comentarioInforme$|async"></p></div>
      

        <div class="col-xs-12 col-md-12">
          <div style="text-align: right">
            <!-- <ng-container *ngIf="saving; else noSaving">
              <button class="btn btn-primary disabled">
                <em class="pi pi-spin pi-spinner mr-1"></em>Enviar
              </button>
            </ng-container> -->
            <!-- <ng-template #noSaving> -->
            <button class="btn btn-primary" (click)="validar()" *ngIf="allAdicionalesAprobadosVal">
              <em class="pi pi-send mr-1"></em>Validar
            </button>
            <button class="btn btn-primary" (click)="showModalInvalidar()" >
              <em class="pi pi-send mr-1"></em>Invalidar
            </button>
            <!-- </ng-template> -->
          </div>
        </div>
      
    </div>
</ng-container>
</ng-container>
  
  <ng-container *ngIf="actaValidada">
    <div class="row" style="padding: 15px">
      <div class="col-xs-12 col-md-6">
        <form [formGroup]="form">
          <app-select [control]="form.get('tipo_pago')" label="Tipo de pago">
            <ng-container options>
              <option value="" selected disabled>Seleccione</option>
              <ng-container *ngFor="let tipoPago of tiposPago$ | async">
                <option [value]="tipoPago.descripcion">{{ tipoPago.descripcion }}</option>
              </ng-container>
            </ng-container>
          </app-select>
        </form>
      </div>
    </div>
    
    <ng-container *ngIf="ot$ | async as ot">
      <div class="row" style="padding: 15px">
        <div class="col-xs-12 col-md-12">
          <form [formGroup]="form">
            <ng-container [ngSwitch]="form.get('tipo_pago').value">
              <ng-container *ngSwitchCase="'TOTAL'">
                <app-acta-total-form [saving]="saving$ | async" [form]="form.get('total_porcentaje')" (validar)="formValidar(ot.ot.id, form.get('tipo_pago').value, $event)" [totalServicios]="totalServicios" [totalUO]="totalUO"></app-acta-total-form>
              </ng-container>
              <ng-container *ngSwitchCase="'PORCENTAJE'">
                <app-acta-porcentaje-form [saving]="saving$ | async" [porcentaje]="form.get('porcentaje')" [form]="form.get('total_porcentaje')" (validar)="formValidar(ot.ot.id, form.get('tipo_pago').value, $event)" [totalServicios]="totalServicios" [totalUO]="totalUO"></app-acta-porcentaje-form>
              </ng-container>
              <ng-container *ngSwitchCase="'POR_SERVICIO'">
                <app-acta-servicio-form [saving]="saving$ | async" [form]="form.get('por_servicio')" (validar)="formValidar(ot.ot.id, form.get('tipo_pago').value, $event)" [totalServicios]="totalServicios_servicio" [totalUO]="totalUO_servicio"></app-acta-servicio-form>
              </ng-container>
              <!--<ng-container *ngSwitchDefault>...</ng-container>-->
            </ng-container>
          </form>
        </div>
      </div>
    </ng-container>
    

    <!-- <pre>{{ values | json }}</pre> -->

  </ng-container>
<!-- </ng-container> -->


<app-modal [display]="displayInvalidar" (CloseEvent)="closeModalInvalidar()" [style]="{ width: '50vw' }">
  <ng-container modal-header-title style="text-align: center;">Motivo de la invalidación</ng-container>
  <ng-container modal-content>
    <!-- <pre>{{formRechazoIncial.value|json}}</pre> -->
    <form [formGroup]="formInvalidar">
      <app-select [control]="formInvalidar.get('tipo_id')" label="* Tipo de Rechazo:">
        <ng-container options>
          <option value="null" selected disabled>Seleccione un tipo de rechazo</option>
          <ng-container *ngFor="let item of tipoRechazo$|async">
            <option [value]="item.id">
              {{item.motivo}}
            </option>
          </ng-container>
        </ng-container>
      </app-select>

      <label for="">* Motivo</label>
      <textarea formControlName="motivo" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2"></textarea>
    </form>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-light mr-2" (click)="closeModalInvalidar()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!formInvalidar.valid" (click)="invalidar()">
      <em class="pi pi-save mr-1"></em>Enviar
    </button>
  </ng-container>
</app-modal>