<div class="container-fluid">
  <div class="row">
    <div class="col" id="title-list-proyect">
      <h1 class="mt-4">Proyectos </h1>
      <span>listado de proyectos en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/administracion/proyectos/form-proyectos']" pButton type="button" label="Nuevo Proyecto" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-proyect-button"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class=" grid">
        <div class="field col-12 table-list-proyectos">
          <ng-container *ngIf="proyectos$ | async as proyectos">
            <p-table #dt [columns]="['id', 'nombre', 'descripcion']" [value]="proyectos" dataKey="id" styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll" [paginator]="true" [rows]="10">
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <h5 class="p-m-0"></h5>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                  </span>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">
                    ID
                    <p-sortIcon field="id"></p-sortIcon>
                  </th>
                  <th pSortableColumn="nombre">
                    Nombre Proyecto
                    <p-sortIcon field="nombre"></p-sortIcon>
                  </th>
                  <th pSortableColumn="descripcion">
                    Descripción
                    <p-sortIcon field="descripcion"></p-sortIcon>
                  </th>
                  <th>
                    Costos administrativos<br>
                    (% del proyecto y/o costo fijo)
                  </th>
                  <th>Operaciones</th>
                <tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                  <td>{{ item.id }}</td>
                  <td>
                    <strong>{{ item.nombre }}</strong>
                  </td>
                  <td>{{ item.descripcion }}</td>
                  <td>{{ item.costo_estimado | currency: 'CLP':'$':'.0-2':'es-CL' }}</td>
                  <td>
                    <div class="buttons-operaciones ">
                      <button (click)="verOTsAsignadas(item)" id="button-ver-ots-asignadas">
                        <fa-icon [icon]="detallesIcon"></fa-icon> Ver OTs Asignadas
                      </button>

                      <button [disabled]="false" [pTooltip]="!true?'No es editable':''" [routerLink]="['/administracion/proyectos/form-proyectos',item.id]" id="button-editar-proyecto">
                        <fa-icon [icon]="editIcon"></fa-icon> Editar
                      </button>

                      <button [disabled]="false" (click)="eliminar(item)" id="button-eliminar-proyecto" [pTooltip]="!true?'No es eliminable':''" class="delete-button">
                        <fa-icon [icon]="trashICon"></fa-icon>Eliminar
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                  En total hay {{ proyectos ? proyectos.length : 0 }} elementos.
                </div>
              </ng-template>
            </p-table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="OTs Asignadas" [(visible)]="displayProyectoOTs" [draggable]="false" [modal]="true" (onHide)="closeModalProyectoOTs()">
  <div class="row">
    <zwc-table-detalle-proyecto-table-debitado [detalle]="detalle$ | async"></zwc-table-detalle-proyecto-table-debitado>
  </div>
</p-dialog>

<p-dialog [visible]="displayModalEliminarProyecto" [closable]="false" (onHide)="closeModalEliminarProyecto()" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col">
      <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea eliminar este proyecto?</p>
      <div style="padding: 0 9rem 0 9rem;">
        <div class="row">
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="col">
            <button pButton type="button" (click)="EliminarProyecto()" label="Si, confirmo" icon="pi pi-trash" class="p-button-sm mt-5 float-right" id="delete-proyecto-user-button" style="background: #ffb6b6; border: #b36161; margin-left: 10px; color: #412727;"></button>
            &nbsp;
            <button pButton type="button" (click)="closeModalEliminarProyecto()" label="Cancelar" class="p-button-sm mt-5 float-right" id="delete-user-button" style="background: #b8b6b6;
              border: gray;"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer></p-footer>
</p-dialog>
