:host ::ng-deep {
    .p-listbox {
        font-size: 0.7rem;
    }

    .p-listbox-header {
        background: #000242;
        color: white;
        font-weight: 500;
    }

    .p-inputtext {
        height: 11px;
        font-size: 0.7rem;
    }

    .delete-button {
        background-color: #d20000db !important;

        &:disabled {
            background-color: #fb6262 !important
        }
    }
}