.layout-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 8rem;
    background: #ffffff;
    border-right: 1px solid transparent;
    box-shadow: 0px 4px 4px #D9DDFC;
    display: flex;
    flex-direction: column;
    background-color: #00507a;
    display: flex;
    color: #eff3f7;
    font-family: "Source Sans Pro", Arial, sans-serif;

    .img-container {
        width: 100%;
        align-self: center;
        background-color: #045b89;

        img {
            margin-top: 7px;
            margin-left: 6px;
            width: 7rem;
        }
    }

    .sesion-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9px;
        font-size: 13px;
        height: 7rem;
        justify-content: space-evenly;
        text-align: center;
        border-bottom: 0.01rem solid #025b89;
        background: #015682;

        .icon-session {
            font-size: 25px;
        }
    }
}

.versiones-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align-last: center;
    font-size: 0.6rem;
    margin-bottom: 10px;
}

// :host ::ng-deep {
@media screen and (min-width: 992px) {
    .layout-sidebar {
        transition: transform 0.2s
    }
}

@media screen and (max-width: 991px) {
    .layout-sidebar {
        z-index: 999;
        transform: translate(-100%);
        transition: transform 0.2s;
        box-shadow: none;
    }
}

// }