<div class="layout-sidebar">
    <div class="img-container">
        <img src="./assets/images/logo-movistar.png" alt="Logo empresa">
    </div>
    <div class="sesion-container">
        <div class="icon-session">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <p style="font-weight: 700;">{{sessionData.usuario_nombre | titlecase}} </p>
        <p style="font-size: 10px;font-weight: 100;">(proxy_id: {{sessionData.perfil_proxy_id}})</p>
        <p style="font-size: 12px;">{{sessionData.nombre_perfil_select}} </p>
    </div>
    <zwc-menu-admin *ngIf="sessionData.nombre_perfil_select==='Admin'"></zwc-menu-admin>
    <ng-container *ngIf="showMenuDetalleOT$|async">
        <zwc-menu-detalle-ot></zwc-menu-detalle-ot>
    </ng-container>

    <div class="versiones-container">
        <table>
            <tr>
                <td>Web</td>
                <td>1.0.3</td>
            </tr>
            <tr>
                <td>DB</td>
                <td>{{(databaseVersion$|async)?.version}}</td>
            </tr>
            <tr>
                <td>API</td>
                <td>{{apiVersion$|async}}</td>
            </tr>
        </table>
    </div>
</div>