<p-confirmPopup></p-confirmPopup>
<div class="section">
    <div class="left-navbar"></div>
    <div class="content ui segment">
        <p-table [value]="ots">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20px;text-align: center;">ID</th>
                    <th style="width:289px;text-align: center;">Nombre</th>
                    <th style="width: 177px;
                    text-align: center;">Fecha inicio</th>
                    <th style="width: 177px;
                    text-align: center;">Fecha termino</th>
                    <th style="text-align: center;">Contrato marco</th>
                    <th style="text-align: center;">Proveedor</th>
                    <th style="text-align: center;">Gestor</th>
                    <th style="text-align: center;width: 75px;">Tipo OT</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ot>
                <tr style="    font-size: 13px;">
                    <td class="center">{{ot.ot_id}}</td>
                    <td class="center">{{ot.nombre_ot}}</td>
                    <td class="center">{{ot.fecha_inicio}}</td>
                    <td class="center">{{ot.fecha_fin}}</td>
                    <td class="center" style="text-align: center;">{{ot.contrato_marco}}</td>
                    <td class="center" style="text-align: center;">{{ot.proveedor}}</td>
                    <td class="center" style="text-align: center;">{{ot.usuario}}</td>
                    <td class="center" style="text-align: center;">{{ot.tipo_ot}}</td>
                    <td style="text-align: center;    display: flex;" *ngIf="rol==='Administrador de Contrato'&&showAceptacion">
                        <button class=" ui icon green button" pTooltip="Aceptar OT" tooltipPosition="top"
                            placeholder="Top" (click)="Aceptacion(ot.sesion_sce,'OTAceptadaAdminEC')">
                            Aceptar OT
                        </button>
                        <button class=" ui icon red button" pTooltip="Rechazar OT" tooltipPosition="top"
                            placeholder="Top"  (click)="Aceptacion(ot.sesion_sce,'OTRechazadaAdminEC')">
                            Rechazar OT
                        </button>
                        <!-- <button id="buttonEditar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button" pTooltip="Editar" tooltipPosition="top" placeholder="Top"
                            (click)="editar(cub.cubicacion_id)">
                            <i class="edit icon"></i>
                        </button>
                        <button id="buttonEliminar-{{cub.cubicacion_id}}" *ngIf="!cub.asignado"
                            class="circular ui icon button red" pTooltip="Eliminar"
                            (click)="confirmEliminacion($event,cub.cubicacion_id)" tooltipPosition="top"
                            placeholder="Top">
                            <i class="trash icon"></i>
                        </button> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>