:host ::ng-deep{
  display: block;
  position: absolute;
  max-width: 100%;
  background: transparent;
  overflow: hidden;

  .p-listbox{
    border: 1px solid #ced4da;
  }
}

@media (max-width: 767px) {
  :host {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
}
