<form [formGroup]="form">
    <div class="card">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <zwc-input-text Label="*Nombre de la OT" [control]="form.get('nombre')" name_input="input-nombre-ot">
                </zwc-input-text>
            </div>
            <div class="field col-12 md:col-6 lg:col-6 xl:col-6">
                <zwc-pdropdown [control]="form.get('contrato')" Label="*Contrato Marco"
                    dropdown_id="select-contrato_marco" [data]="contratoUsuarios$|async"
                    Pplaceholder="Selecione un contrato marco"></zwc-pdropdown>
            </div>
        </div>
    </div>
    <p-divider align="left">
        <span class="p-tag">Cubicación</span>
    </p-divider>
    <div class="card">
        <div class="formgrid grid">
            <div class="field col-12">

            </div>
        </div>
    </div>
</form>