<div class="dashboard grid p-fluid" style="height: 100vh;align-content: center;justify-content: center;">
    <div _ngcontent-ith-c54="" class="col-12 md:col-6 lg:col-3"
        *ngxPermissionsOnly="['CUBICACION_LISTAR','CUBICACION_CREAR']">
        <div _ngcontent-ith-c54="" class="card overview-box paypal" [routerLink]="['/cubicacion']"
            style="cursor: pointer;">
            <div _ngcontent-ith-c54="" class="flex justify-content-between">
                <h5 _ngcontent-ith-c54="" class="mb-3">Cubicaciones</h5>
            </div>
        </div>
    </div>
    <div _ngcontent-ith-c54="" class="col-12 md:col-6 lg:col-3" *ngxPermissionsOnly="['OT_LISTAR','OT_CREAR']">
        <div _ngcontent-ith-c54="" class="card overview-box paypal" [routerLink]="['/ot']" style="cursor: pointer;">
            <div _ngcontent-ith-c54="" class="flex justify-content-between">
                <h5 _ngcontent-ith-c54="" class="mb-3">OT</h5>
            </div>
        </div>
    </div>

</div>