:host ::ng-deep {
  .card {
    margin-bottom: 5px;
  }

  .card-header-title {
    width: 100% !important;
  }

  .card-body {
    border-left: 4px solid #dde8ea;
    border-bottom: 2px solid #dde8ea;
  }

  .download-link {
    font-weight: 300;
  }

  .p-inline-message.p-inline-message-info {
    margin-top: 12px;
    font-size: 13px;
    background: #ffec5a21;
    width: 29vw;
  }
}