<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Areas </h1>
    </div>
    <div class="col">
      <!-- <button *ngxPermissionsOnly="['CUBICACION_CREAR']" [routerLink]="['/app/cubicacion/form-cub']" pButton type="button" label="Nueva Cubicación" icon="pi pi-plus" class="p-button-sm mt-5 float-right"></button> -->
    </div>
    <div class="col-12">
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class=" grid">
        <div class="field col-12 table-list-areas">
          <ng-container *ngIf="areas$ | async as areas">
            <p-table #dt [columns]="['nombre']" [value]="areas" dataKey="id"
              styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll" [paginator]="true"
              [rows]="10">
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <h5 class="p-m-0"></h5>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Buscar..." />
                  </span>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="nombre">
                    Nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                  </th>
                  <th pSortableColumn="descripcion">
                    Descripción
                    <p-sortIcon field="descripcion"></p-sortIcon>
                  </th>
                  <th pSortableColumn="interno">
                    Tipo Área
                    <p-sortIcon field="interno"></p-sortIcon>
                  </th>
                  <th pSortableColumn="estado">
                    Estado
                    <p-sortIcon field="estado"></p-sortIcon>
                  </th>
                  <th></th>
                <tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <strong>{{ item.nombre }}</strong>
                  </td>
                  <td>{{ item.descripcion }}</td>
                  <td><span class="label-table " [ngClass]="item.estado ? 'label-activo' : 'label-inactivo'"
                      style="font-size: 0.8em;">{{ item.interno }}</span></td>
                  <td>
                    <span *ngIf="item.estado" class="label-table label-activo" style="font-size: 0.8em;">Activo</span>
                    <span *ngIf="!item.estado" class="label-table label-inactivo"
                      style="font-size: 0.8em;">Bloqueado</span>
                  </td>
                  <td style="text-align: right; position: relative">
                    <div class="ui icon buttons mini basic">
                      <button class="ui button generic-color" (click)="editar(item)">Editar</button>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                  En total hay {{ areas ? areas.length : 0 }} elementos.
                </div>
              </ng-template>
            </p-table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>