.titulo-secundario{
    color: #00a9e0;
    font-size: 10px;
    margin-left: -119px;
}

.titulo-principal{
    color: #00a9e0;
    font-size: 54px;
    letter-spacing: 9px;
    font-weight: 100;
    span{
        margin-left: -26px;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
    }
}

