<div class="row">
  <ng-container *ngIf="form">
    <ng-container *ngIf="form.get('servicios') as servicios">
      <div class="col-xs-6 col-md-6">
        <app-card [classCardHeader]="'bg-info'">
          <ng-container card-header-title>Detalle servicios</ng-container>
          <ng-container card-body>
            <table style="width:100%">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <!--
                  <th style="text-align: right">Cantidad Total</th>
                  -->
                  <th style="text-align: right">Cantidad a Enviar</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let servicio of servicios.controls">
                  <tr>
                    <td>{{ servicio.get('descripcion').value }}</td>
                    <!--
                    <td style="text-align: right">{{ servicio.get('cantidad_total').value }}</td>
                    -->
                    <td style="text-align: right">{{ servicio.get('cantidad_a_enviar').value }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </app-card>
      </div>
    </ng-container>

    <ng-container *ngIf="form.get('unidades_obra') as unidadesObra">
      <div class="col-xs-6 col-md-6">
        <app-card [classCardHeader]="'bg-info'">
          <ng-container card-header-title>Detalle Unidades Obra</ng-container>
          <ng-container card-body>
            <table style="width:100%">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <!--
                  <th style="text-align: right">Cantidad Total</th>
                  -->
                  <th style="text-align: right">Cantidad a Enviar</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let uo of unidadesObra.controls">
                  <tr>
                    <td>{{ uo.get('descripcion').value }}</td>
                    <!--
                    <td style="text-align: right">{{ uo.get('cantidad_total').value }}</td>
                    -->
                    <td style="text-align: right">{{ uo.get('cantidad_a_enviar').value }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </app-card>
      </div>
    </ng-container>
  </ng-container>

  <pre>{{ values | json }}</pre>
</div>
