<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Orden de trabajo </h1>
      <span>formulario de ingreso de OT</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/ot/list-ot']" pButton type="button" label="volver" icon="pi pi-arrow-left"
        class="p-button-sm mt-5 float-right p-button-outlined "></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-card [classCardHeader]="'bg-secondary text-white'">
    <ng-container card-header-title>
      
    </ng-container>
    <ng-container card-body>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <app-form [formOt]="formOt" [cubicaciones]="(cubicaciones$ | async)" [planes]="(planes$ | async)"
            [sitios]="(sitios$ | async)" [pmos]="(pmos$ | async)" [lps]="(lps$ | async)" [pep2s]="(pep2s$ | async)"
            (cancel)="cancel($event);" (save)="save($event);">
          </app-form>
        </div>
        <div class="col-xs-12 col-md-4">
          <app-detail [cubage]="cubage" [formOt]="formOt.value"></app-detail>
        </div>
      </div>
    </ng-container>
  </app-card>


</div>