:host {
  display: block;
  position: absolute;
  width: calc(100% - 260px);
  max-width: 100%;
  background: transparent;
  overflow: hidden;
}

@media (max-width: 767px) {
  :host {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
}
