<div class="row" style="text-align: end;" *ngIf="DisplayLabelMode==='side'">
  <div class="col-md-4 col-xs-12 ">
    <label style="text-align: end;">{{ label }}</label>
  </div>
  <div class="col-md-8 col-xs-12 ">
    <ng-container *ngIf="control !== undefined">
      <app-input-builder [control]="control" Type="{{ Type }}" Name="{{Name}}" [errorMessageFn]="errorMessageFn"> </app-input-builder>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="DisplayLabelMode==='up'||DisplayLabelMode==='none' || label===''">
  <label *ngIf="DisplayLabelMode==='up'" style=" margin-top: 1rem">{{ label }}</label>
  <ng-container *ngIf="control !== undefined">
    <app-input-builder [control]="control" Type="{{ Type }}" Name="{{Name}}" [errorMessageFn]="errorMessageFn"> </app-input-builder>
  </ng-container>
</ng-container>