<form >
    <div class="card">
        <div class="formgrid grid">
            <div class="field col">
                <zwc-input-text Label="*Nombre de la Cubicación" [control]="formCubControl.nombre" name_input="input-nombre-cubicacion"></zwc-input-text>
            </div>
            <div class="field col">
                <label>*Tipo Cubicación</label>
                <div id="input-dropdown"> 
                    <p-dropdown id="select_profile" [options]="tipoCubicacion$|async"  optionLabel="name" placeholder="Selecione un perfil" optionValue="code"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</form>