<form >
    <div class="card">
        <div class="formgrid grid">
            <div class="field col">
                <zwc-input-text Label="*Nombre de la Cubicación" [control]="formCubControl.nombre" name_input="input-nombre-cubicacion"></zwc-input-text>
            </div>
            <div class="field col">
                <label>*Tipo Cubicación</label>
                <p-dropdown id="select-tipo-cubicacion" [options]="tipoCubicacion$|async"  optionLabel="name" placeholder="Selecione un tipo" optionValue="code"></p-dropdown>
            </div>
        </div>
    </div>
</form>