<div class="row" style="padding: 15px">
  <ng-container *ngIf="detalleInformeAvance$ | async as detalle">
    <div class="col-xs-12 col-md-12">
      <app-card [classCardHeader]="'bg-info'">
        <ng-container card-header-title>Detalle informe de avance</ng-container>
        <ng-container card-body>
          <div class="table-carrito">
            <table style="width:100%">
              <thead>
                <tr>
                  <th colspan="5">Servicios</th>
                  <th colspan="6">Unidad Obra</th>
                </tr>
                <tr>
                  <th>Cod</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Unidad</th>
                  <th></th>

                  <th>Cód</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Unidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="detalle.many_informe_has_servicio.length > 0 && form; else noData">
                  <ng-container *ngFor="let servicio of detalle.many_informe_has_servicio; let servicioIndex = index">
                    <ng-container *ngIf="servicio.adicional_aceptacion_estado==='ORIGINAL'">
                      <ng-container *ngIf="servicio.many_informe_has_uob.length === 1">
                        <tr [formArray]="form">
                          <td class="label-table">{{ servicio.numero_producto }}</td>
                          <td class="data-primaria">{{ servicio.model_servicio_id.descripcion }}</td>
                          <td>
                            <app-input [control]="form.at(servicioIndex).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.model_unidad_id.codigo }}</td>
                          <td></td>

                          <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                          <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                          <td class="data-secundaria">
                            <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(0).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                          <td></td>
                        </tr>
                      </ng-container>

                      <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                        <tr [formArray]="form">
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="label-table">{{ servicio.numero_producto }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="data-primaria">{{ servicio.model_servicio_id.descripcion }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length">
                            <app-input [control]="form.at(servicioIndex).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length">{{ servicio.model_unidad_id.codigo }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length"></td>

                          <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                          <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                          <td class="data-secundaria">
                            <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(0).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                          <td></td>
                        </tr>
                      </ng-container>

                      <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                        <ng-container *ngFor="let uo of servicio.many_informe_has_uob | slice:1; let uoIndex = index">
                          <tr [formArray]="form">
                            <td class="label-table">{{ uo.unidad_obra_cod }}</td>
                            <td class="data-primaria">{{ uo.model_unidad_obra_cod.descripcion }}</td>
                            <td class="data-secundaria">
                              <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(uoIndex+1).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                            </td>
                            <td>{{ uo.model_unidad_id.codigo }}</td>
                            <td></td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <tr colspan="11">No hay datos</tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </ng-container>
      </app-card>
    </div>


    <div style="padding:10px ;">
      <div class="filtroservicios" [formGroup]="formFiltros">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div id="actividad">
              <app-select [control]="formFiltrosControls.actividad_id" label="* Actividad">
                <ng-container options>
                  <option value="null" selected disabled>Seleccione una Actividad</option>
                  <ng-container *ngFor="let item of actividad4Cub$|async">
                    <option [value]="item.actividad_id">
                      {{item.descripcion}}
                    </option>
                  </ng-container>
                </ng-container>
              </app-select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div id="tiposervicio">
              <app-select [control]="formFiltrosControls.tipo_servicio_id" label="* Tipo Servicio">
                <ng-container options>
                  <option value="null" selected disabled>Seleccione un Tipo Servicio Especialidad</option>
                  <ng-container *ngFor="let item of tipoServicioEspecialidad4Cub$|async">
                    <option [value]="item.id">
                      {{item.descripcion}}
                    </option>
                  </ng-container>
                </ng-container>
              </app-select>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div id="servicios">
              <label>Nro Prod. - Servicio: </label>
              <p-dropdown [options]="servicios4Cub$|async" formControlName="servicio_id" optionLabel="name" placeholder="Seleccione.." [filter]="true" filterBy="name" [showClear]="true" styleClass="dropdown-service"></p-dropdown>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div id="unidad-obra">
              <label>Código - Unidad de Obra: </label>
              <p-dropdown [options]="unidadObra4Cub$|async" formControlName="unidad_obra_cod" optionLabel="name" placeholder="Seleccione.." [filter]="true" filterBy="name" [showClear]="true" styleClass="dropdown-service"></p-dropdown>
            </div>
          </div>
        </div>

        <br>
        <div id="button-agregar">
          <button (click)="agregar()" [disabled]="!formFiltros.valid">Agregar</button>
          <p *ngIf="servicioUORepetidoAlert$|async" style="color: red;" id="mensaje-repetido">Ya ha agregado este servico/Unidad Obra</p>
          <p *ngIf="UOSinMaterialesAlert$|async" style="color: red;" id="mensaje-sin-material">Unidad de obra sin Materiales asociados. Favor contactar con su administrador</p>
        </div>
      </div>

      <br>

    </div>

    <form [formGroup]="formAdicionales">

      <div class="col-xs-12 col-md-12">
        <app-card [classCardHeader]="'bg-info'">
          <ng-container card-header-title>Detalle Servicios Adicionales</ng-container>
          <ng-container card-body>
            <div class="table-carrito">
              <table style="width:100%">
                <thead>
                  <tr>
                    <th colspan="5">Servicios</th>
                    <th colspan="6">Unidad Obra</th>
                  </tr>
                  <tr>
                    <th>Cod</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>

                    <th>Estado Aprobación</th>
                    <th>Operaciones</th>

                    <th>Cód</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of carritoAdicionales$|async;let i = index" >
                    <ng-container  *ngIf="item.adicional!=='ORIGINAL'" >
                      <!-- len: {{item.unidades_obras.length}}
                      index: {{i}} -->
                      <ng-container *ngIf="item.unidades_obras.length===1 && item.adicional!=='ORIGINAL'">
                        <tr>
                          <td>{{item.servicio_rowid}}</td>
                          <td class="label-table">{{item.servicio_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.servicio_nombre}}</td>
                          <td [ngClass]="item.precargado?'existente':'noexistente'">
                            <app-input *ngIf="!item.dummy" [control]="formCntl(i,'servicio_cantidad',item.dummy)" Type="number" [index_service]="i" (changeInputMid)="update_input($event)"></app-input>
                            <p *ngIf="item.dummy">Servicio existente en informe avance</p>
                          </td>
                          <td>{{item.adicional}}</td>
                          <td [ngClass]="item.precargado?'existente':'noexistente'">
                            <!-- <ng-container *ngIf="item.precargado === undefined || item.precargado === false"> -->
                              <div class="ui icon buttons mini basic">
                                <button (click)="deleteServiceCarrito(i)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            <!-- </ng-container> -->
  
                            <!-- <ng-container *ngIf="item.precargado">
                              <div class="ui icon buttons mini basic">
                                <button (click)="DisplayDeleteServicioCarritoDefinitivo(item.servicio_id,item.servicio_rowid)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            </ng-container> -->
                          </td>
                          <!-- {{item.unidades_obras[0].uo_rowid}} -->
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.unidades_obras[0].uo_nombre}}</td>
  
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
  
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo!=='0'">
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              <app-input [control]="formCntlUO(i,'uo_cantidad',item.unidades_obras[0].uo_codigo,item.dummy)" Type="number" [index_service]="i" (changeInputMid)="update_input($event)" index_uo="0"></app-input>
                            </td>
                            <td></td>
                            <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              <div class="ui icon buttons mini basic">
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
  
  
                      <ng-container *ngIf="item.unidades_obras.length>1 && item.adicional!=='ORIGINAL'">
                        <tr>
                          <td [attr.rowspan]="+item.unidades_obras.length">{{item.servicio_rowid}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" class="label-table">{{item.servicio_codigo}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" class="data-primaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.servicio_nombre}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" [ngClass]="item.precargado?'existente':'noexistente'">
                            <app-input *ngIf="!item.dummy" [control]="formCntl(i,'servicio_cantidad',item.dummy)" Type="number" [index_service]="i" (changeInputMid)="update_input($event)"></app-input>
                            <p *ngIf="item.dummy">Servicio existente en informe avance</p>
                          </td>
                          <td [attr.rowspan]="+item.unidades_obras.length">{{item.adicional}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" [ngClass]="item.precargado?'existente':'noexistente'">
                            <!-- <ng-container *ngIf="item.precargado === undefined || item.precargado === false"> -->
                              <div class="ui icon buttons mini basic">
                                <button (click)="deleteServiceCarrito(i)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngIf="item.precargado">
                              <div class="ui icon buttons mini basic">
                                <button (click)="DisplayDeleteServicioCarritoDefinitivo(item.servicio_id,item.servicio_rowid)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            </ng-container> -->
                          </td>
  
                          <!-- {{item.unidades_obras[0].uo_rowid}} -->
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.unidades_obras[0].uo_nombre}}</td>
  
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo!=='0'">
                            <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              <app-input [control]="formCntlUO(i,'uo_cantidad',item.unidades_obras[0].uo_codigo,item.dummy)" Type="number" [index_service]="i" (changeInputMid)="update_input($event)" index_uo="0"></app-input>
                            </td>
                            <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              <div class="ui icon buttons mini basic">
                                <!-- <ng-container *ngIf="item.unidades_obras[0].precargado === undefined || item.unidades_obras[0].precargado === false"> -->
                                  <button (click)="deleteUOCarrito(i,item.unidades_obras[0].uo_codigo)" class="ui button eliminar-color">
                                    <fa-icon [icon]="trashICon"></fa-icon>
                                  </button>
                                <!-- </ng-container> -->
                                <!-- <ng-container *ngIf="item.unidades_obras[0].precargado">
                                  <div class="ui icon buttons mini basic">
                                    <button (click)="DisplayDeleteUOCarritoDefinitivo(item.servicio_id,item.unidades_obras[0].uo_codigo,item.unidades_obras[0].uo_rowid)" class="ui button eliminar-color">
                                      <fa-icon [icon]="trashICon"></fa-icon>
                                    </button>
                                  </div>
                                </ng-container> -->
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
  
                      <ng-container *ngIf="item.unidades_obras.length>1 && item.adicional!=='ORIGINAL'">
                        <tr *ngFor="let uo of item.unidades_obras| slice:1; let iuo= index">
                          <!-- {{uo.uo_rowid}} -->
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{uo.uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="uo.precargado?'existente':'noexistente'">{{uo.uo_nombre}}</td>
  
                          <ng-container *ngIf="uo.uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
                          <ng-container *ngIf="uo.uo_codigo!=='0'">
                            <td [ngClass]="uo.precargado?'existente':'noexistente'">
                              <app-input [control]="formCntlUO(i,'uo_cantidad',uo.uo_codigo,item.dummy)" Type="number" [index_service]="i" (changeInputMid)="update_input($event)" [index_uo]="iuo"></app-input>
                            </td>
  
                            <td [ngClass]="uo.precargado?'existente':'noexistente'">
                              <div class="ui icon buttons mini basic">
                                <!-- <ng-container *ngIf="uo.precargado === undefined || uo.precargado === false"> -->
                                  <button (click)="deleteUOCarrito(i,uo.uo_codigo)" class="ui button eliminar-color">
                                    <fa-icon [icon]="trashICon"></fa-icon>
                                  </button>
                                <!-- </ng-container> -->
                                <!-- <ng-container *ngIf="uo.precargado">
                                  <div class="ui icon buttons mini basic">
                                    <button (click)="DisplayDeleteUOCarritoDefinitivo(item.servicio_id,uo.uo_codigo,uo.uo_rowid)" class="ui button eliminar-color">
                                      <fa-icon [icon]="trashICon"></fa-icon>
                                    </button>
                                  </div>
                                </ng-container> -->
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                 


                  <ng-template #noData>
                    <tr colspan="11">No hay datos</tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </ng-container>
        </app-card>

        <br>


        <ng-container *ngIf="otId$ | async as otId">
          <ng-container *ngIf="id$ | async as id">
            <div style="text-align: right">
              <ng-container *ngIf="updating$ | async as updating; else noUpdating">
                <button class="btn btn-primary disabled">
                  <em class="pi pi-spin pi-spinner mr-1"></em>Guardar borrador
                </button>
              </ng-container>
              <ng-template #noUpdating>
                <button class="btn btn-primary" (click)="saveBorradorInformeAvance(otId, id)" [class.disabled]="!valid">
                  <em class="pi pi-save mr-1"></em>Guardar borrador
                </button>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
    <!--
    <pre>{{ valid }}</pre>
    <pre>{{ values | json }}</pre>
    <pre>{{ detalle | json }}</pre>
    -->
  </ng-container>
</div>

<app-modal [display]="displayDeleteConfirmServicio" (CloseEvent)="closeModalDeleteConfirmServicio()" [style]="{width: '50vw'}">
  <ng-container modal-header-title></ng-container>
  <ng-container modal-content>
    <div class="row">
      <div class="col">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">Este servicio será eliminado definitivamente de la cubicación ¿Está seguro que desea eliminar este servicio?</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <div class="row">
      <div class="col">
        <button pButton type="button" (click)="DeleteServicioCarritoDefinitivo()" label="Si, eliminar" icon="pi pi-trash" class="p-button-sm mt-5 float-right" id="delete-user-button" style="    background: #ffb6b6;
        border: #b36161;
        margin-left: 10px;
        color: #412727;"></button>
        <button pButton type="button" (click)="closeModalDeleteConfirmServicio()" label="Cancelar" class="p-button-sm mt-5 float-right" id="close-delete-user-button" style="background: #b8b6b6;
        border: gray;"></button>
      </div>
    </div>
  </ng-container>
</app-modal>





<!-- <div style="padding: 8px;">
  <span *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_VALIDACION_ACTA_GESTOR'">
    <p-message severity="info" text="El informe enviado está a la espera de que el gestor lo apruebe"></p-message>&nbsp;
  </span>

  <span *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_GENERACION_ACTA'">
    <p-message severity="info" text="El informe enviado está a la espera de que el administrador lo apruebe"></p-message>&nbsp;
  </span>
  <ng-container *ngIf="(detalleOt$|async).tipo_subetapa_pago.slug==='OT_ET_PAGO_INICIO_FLUJO'">
    <p-card>
      <ng-template pTemplate="header">
        <div style="padding: 16px;">
        </div>
      </ng-template>

      <div class="info">
        <span class="info-title">
          INFO
        </span>
        <div class="data-info">
          <div class="box box-1"></div>
          <span style="margin-left: 5px;">Cambios realizados en esta sesión</span>
        </div>
        <div class="data-info">
          <div class="box box-2"></div>
          <span style="margin-left: 5px;">Valor informado es diferente al pendiente</span>
        </div>
      </div>

      <p-tabView>
        <p-tabPanel header="LPUs">
          <form [formGroup]="form">
            <table>
              <thead>
                <tr>
                  <th colspan="13" style="background: #00507a;
                      color: white;
                      text-align: center;">Mano de obra/Lpus</th>
                </tr>
                <tr>
                  <th rowspan="2">N°</th>
                  <th rowspan="2">Cor</th>
                  <th rowspan="2">Plano</th>
                  <th rowspan="2">Direccion</th>
                  <th rowspan="2">Clave</th>
                  <th rowspan="2">Código</th>
                  <th rowspan="2">Descrición</th>
                  <th rowspan="2">U.M</th>
                  <th colspan="4" style="background: #dfdfdf;
                      text-align: center;">
                    Cantidad
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Cub.</th>
                  <th rowspan="2">
                    <span>Apr</span>
                  </th>
                  <th rowspan="2">Pend.</th>
                  <th rowspan="2">Inf.</th>
                </tr>
              </thead>
              <tbody formArrayName="table">
                <tr *ngFor="let car of dataInformeAvance$|async; let i = index" [formGroupName]="i">
                  <td>{{i+1}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{car.lpu_numero_producto}}</td>
                  <td>{{car.lpu_nombre}}</td>
                  <td></td>
                  <td>{{car.cantidad_cubicada}}</td>
                  <td>{{car.cantidad_aprobada_historica}}</td>
                  <td>{{car.cantidad_pendiente}}</td>
                  <td>
                    <input appInputColor [formControl]="formCntl(i)" min="0" type="number" style="width: 37px;">
                    <div *ngIf="formCntl(i).invalid && (formCntl(i).dirty || formCntl(i).touched)">
                      <p-message severity="error" text="{{ errorMessageFn(formCntl(i).errors) }}"></p-message>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Unidades de Obra">
          <form>
            <table>
              <thead>
                <tr>
                  <th colspan="13" style="background: #00507a;
                            color: white;
                            text-align: center;">Unidades de obra</th>
                </tr>
                <tr>
                  <th rowspan="2">Cor</th>
                  <th rowspan="2">Plano</th>
                  <th rowspan="2">Direccion</th>
                  <th rowspan="2">Clave</th>
                  <th rowspan="2">Código</th>
                  <th rowspan="2">Descrición</th>
                  <th rowspan="2">U.M</th>
                  <th colspan="4" style="background: #dfdfdf;
                            text-align: center;">
                    Cantidad
                  </th>
                  <th colspan="2" style="background: #dfdfdf;
                  text-align: center;">
                    Costos
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Cub.</th>
                  <th rowspan="2">
                    <span>Apr</span>
                  </th>
                  <th rowspan="2">Pend.</th>
                  <th rowspan="2">Inf.</th>

                  <th>P. unidad</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Materiales"></p-tabPanel>
      </p-tabView>
      <ng-template pTemplate="footer">
        <div style="display: flex;
          justify-content: space-evenly;">
          <button class="btn btn-primary" (click)="saveBorradorInformeAvance()"><em class="pi pi-save mr-1" id="guardar-ot"></em>Guardar borrador</button>
          <button class="btn btn-primary" (click)="sendInformeConfirmacion()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Enviar informe</button>
        </div>
      </ng-template>
    </p-card>
  </ng-container>

</div>

<app-modal [display]="DisplayConfirmacionModal" (CloseEvent)="DisplayConfirmacionModal=false">
  <ng-container modal-header-title>Confirmar envío de Informe de avances</ng-container>
  <ng-container modal-content>
    <div class="content-modal">
      ¿Está seguro que desea envíar este informe de avances?
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn" (click)="DisplayConfirmacionModal=false"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Cancelar</button>
    <button class="btn btn-primary" (click)="sendInforme()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Si, Enviar informe</button>
  </ng-container>
</app-modal> -->




<!-- <ng-container *ngIf="detalle.many_informe_has_servicio.length > 0 && form; else noData">
                  <ng-container *ngFor="let servicio of detalle.many_informe_has_servicio; let servicioIndex = index">
                    <ng-container *ngIf="servicio.adicional_aceptacion_estado!=='ORIGINAL'">
                      <ng-container *ngIf="servicio.many_informe_has_uob.length === 1">
                        <tr [formArray]="form">
                          <td class="label-table">{{ servicio.model_servicio_id.codigo }}</td>
                          <td class="data-primaria">{{ servicio.model_servicio_id.descripcion }}</td>
                          <td>
                            <app-input [control]="form.at(servicioIndex).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.model_unidad_id.codigo }}</td>
                          <td>{{servicio.adicional_aceptacion_estado}}</td>
                          <td> <button (click)="DisplayDeleteServicioCarritoDefinitivo(servicio.servicio_id,servicio.servicio_rowid)" class="ui button eliminar-color">
                            <fa-icon [icon]="trashICon"></fa-icon>
                          </button></td>
  
                          <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                          <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                          <td class="data-secundaria">
                            <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(0).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                          <td></td>
                        </tr>
                      </ng-container>
  
                      <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                        <tr [formArray]="form">
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="label-table">{{ servicio.model_servicio_id.codigo }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length" class="data-primaria">{{ servicio.model_servicio_id.descripcion }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length">
                            <app-input [control]="form.at(servicioIndex).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length">{{ servicio.model_unidad_id.codigo }}</td>
                          <td [attr.rowspan]="+servicio.many_informe_has_uob.length"></td>
  
                          <td class="label-table">{{ servicio.many_informe_has_uob[0].unidad_obra_cod }}</td>
                          <td class="data-primaria">{{ servicio.many_informe_has_uob[0].model_unidad_obra_cod.descripcion }}</td>
                          <td class="data-secundaria">
                            <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(0).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                          </td>
                          <td>{{ servicio.many_informe_has_uob[0].model_unidad_id.codigo }}</td>
                          <td>{{ servicio.adicional_aceptacion_estado}}</td>
                          <td> <button (click)="DisplayDeleteServicioCarritoDefinitivo(item.servicio_id,item.servicio_rowid)" class="ui button eliminar-color">
                            <fa-icon [icon]="trashICon"></fa-icon>
                          </button></td>
                        </tr>
                      </ng-container>
  
                      <ng-container *ngIf="servicio.many_informe_has_uob.length > 1">
                        <ng-container *ngFor="let uo of servicio.many_informe_has_uob | slice:1; let uoIndex = index">
                          <tr [formArray]="form">
                            <td class="label-table">{{ uo.unidad_obra_cod }}</td>
                            <td class="data-primaria">{{ uo.model_unidad_obra_cod.descripcion }}</td>
                            <td class="data-secundaria">
                              <app-input [control]="form.at(servicioIndex).get('unidades_obras').at(uoIndex+1).get('cantidad')" Type="number" [errorMessageFn]="errorMessageFn"></app-input>
                            </td>
                            <td>{{ uo.model_unidad_id.codigo }}</td>
                            <td></td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container> -->



<!-- <form [formGroup]="formCub">
          <div class="table-carrito">
              <table style="width:100%">
                <thead>
                  <tr>
                    <th colspan="8">Servicios</th>
                    <th colspan="8">Unidad Obra</th>
                  </tr>
                  <tr>
                    <th>Cod</th>
                    <th>Descripción</th>
                    <th>Esp.</th>
                    <th>Cantidad</th>
                    <th></th>
    
                    <th>Cód</th>
                    <th>Descripción</th>
                    <th>Actividad</th>
                    <th>Cantidad</th>
                    <th>Tipo Moneda</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody formArrayName="table">
                  <ng-container *ngFor="let item of carrito$|async;let i = index" [formGroupName]="i">
                    <ng-container *ngIf="!item.precargado">
                      <ng-container *ngIf="item.unidades_obras.length===1">
                        <tr >
                          <td class="label-table">{{item.servicio_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.servicio_nombre}}</td>
                          <td class="data-secundaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.tipo_servicio_descripcion|titlecase}}</td>
                          <td [ngClass]="item.precargado?'existente':'noexistente'">
                            <span *ngIf="item.precargado">{{item.servicio_cantidad}}</span>
                            <app-input *ngIf="!item.precargado" [control]="formCntl(item.servicio_id,'servicio_cantidad')" Type="number"></app-input>
                          </td>
                         <td [ngClass]="item.precargado?'existente':'noexistente'">
                            <ng-container *ngIf="item.precargado === undefined || item.precargado === false">
                              <div class="ui icon buttons mini basic">
                                <button (click)="deleteServiceCarrito(item.servicio_id)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            </ng-container>
                          </td>
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.unidades_obras[0].uo_nombre}}</td>
      
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
      
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo!=='0'">
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.actividad_descripcion|titlecase}}</td>
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                                <span *ngIf="item.precargado">{{item.unidades_obras[0].uo_cantidad}}</span>
                              <app-input *ngIf="!item.precargado" [control]="formCntlUO(item.servicio_id,'uo_cantidad',item.unidades_obras[0].uo_codigo)" Type="number"></app-input>
                            </td>
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.servicio_tipo_moneda_codigo}}</td>
                           <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
      
      
                      <ng-container *ngIf="item.unidades_obras.length>1">
                        <tr>
                          <td [attr.rowspan]="+item.unidades_obras.length" class="label-table">{{item.servicio_codigo}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" class="data-primaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.servicio_nombre}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" class="data-secundaria" [ngClass]="item.precargado?'existente':'noexistente'">{{item.tipo_servicio_descripcion|titlecase}}</td>
                          <td [attr.rowspan]="+item.unidades_obras.length" [ngClass]="item.precargado?'existente':'noexistente'">
                            <span *ngIf="item.precargado">{{item.servicio_cantidad}}</span>
                            <app-input *ngIf="!item.precargado" [control]="formCntl(item.servicio_id,'servicio_cantidad')" Type="number"></app-input>
                          </td>
                          <td [attr.rowspan]="+item.unidades_obras.length" [ngClass]="item.precargado?'existente':'noexistente'">
                            <ng-container *ngIf="item.precargado === undefined || item.precargado === false">
                              <div class="ui icon buttons mini basic">
                                <button (click)="deleteServiceCarrito(item.servicio_id)" class="ui button eliminar-color">
                                  <fa-icon [icon]="trashICon"></fa-icon>
                                </button>
                              </div>
                            </ng-container>
                          </td>
      
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{item.unidades_obras[0].uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.unidades_obras[0].uo_nombre}}</td>
      
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
                          <ng-container *ngIf="item.unidades_obras[0].uo_codigo!=='0'">
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.actividad_descripcion|titlecase}}</td>
                            <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                                <span *ngIf="item.precargado">{{item.unidades_obras[0].uo_cantidad}}</span>
                                <app-input *ngIf="!item.precargado" [control]="formCntlUO(item.servicio_id,'uo_cantidad',item.unidades_obras[0].uo_codigo)" Type="number"></app-input>
                            </td>
                            <td class="data-secundaria" [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">{{item.servicio_tipo_moneda_codigo}}</td>
                            <td [ngClass]="item.unidades_obras[0].precargado?'existente':'noexistente'">
                              <div class="ui icon buttons mini basic">
                                <ng-container *ngIf="item.unidades_obras[0].precargado === undefined || item.unidades_obras[0].precargado === false">
                                  <button (click)="deleteUOCarrito(item.servicio_id,item.unidades_obras[0].uo_codigo)" class="ui button eliminar-color">
                                    <fa-icon [icon]="trashICon"></fa-icon>
                                  </button>
                                </ng-container>
                              </div>
                            </td>
                          </ng-container>
      
                        </tr>
                      </ng-container>
    
                      <ng-container *ngIf="item.unidades_obras.length>1">
                        <tr *ngFor="let uo of item.unidades_obras| slice:1; let iuo= index">
                          <td class="label-table uo" style="background-color: #ff8e4e;">{{uo.uo_codigo}}</td>
                          <td class="data-primaria" [ngClass]="uo.precargado?'existente':'noexistente'">{{uo.uo_nombre}}</td>
      
                          <ng-container *ngIf="uo.uo_codigo==='0'">
                            <td colspan="6" align="center">No Aplica</td>
                          </ng-container>
                          <ng-container *ngIf="uo.uo_codigo!=='0'">
                            <td class="data-secundaria" [ngClass]="uo.precargado?'existente':'noexistente'">{{item.actividad_descripcion|titlecase}}</td>
                            <td [ngClass]="uo.precargado?'existente':'noexistente'">
                                <span *ngIf="item.precargado">{{uo.uo_cantidad}}</span>
                                <app-input [control]="formCntlUO(item.servicio_id,'uo_cantidad',uo.uo_codigo)" Type="number"></app-input>
                            </td>
                            <td class="data-secundaria" [ngClass]="uo.precargado?'existente':'noexistente'">{{item.servicio_tipo_moneda_codigo}}</td>
                            <td [ngClass]="uo.precargado?'existente':'noexistente'">
                              <div class="ui icon buttons mini basic">
                                <ng-container *ngIf="uo.precargado === undefined || uo.precargado === false">
                                  <button (click)="deleteUOCarrito(item.servicio_id,uo.uo_codigo)" class="ui button eliminar-color">
                                    <fa-icon [icon]="trashICon"></fa-icon>
                                  </button>
                                </ng-container>
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </ng-container>
                    
                  </ng-container>
                </tbody>
              </table>
            </div>
    
            <ng-container *ngIf="(carrito$|async).length === 0">
              <div class="text-left">
                <p style="color: #e61717;
                letter-spacing: 1px;
                font-weight: 700;">Al menos 1 servicio debe ser ingresado </p>
              </div>
            </ng-container>
  
             <div style="display:flex;align-items: center;justify-content: center;">  
                <button (click)="agregarServiciosAdicionales()"  id="create-button">Agregar Servicios</button>
            </div>
            
        </form> -->


<!-- <ng-container *ngIf="otId$ | async as otId">
        <ng-container *ngIf="id$ | async as id">
          <div style="text-align: right">
            <ng-container *ngIf="updating$ | async as updating; else noUpdating">
              <button class="btn btn-primary disabled">
                <em class="pi pi-spin pi-spinner mr-1"></em>Guardar borrador
              </button>
            </ng-container>
            <ng-template #noUpdating>
              <button class="btn btn-primary" (click)="saveBorradorInformeAvance(otId, id)" [class.disabled]="!valid">
                <em class="pi pi-save mr-1"></em>Guardar borrador
              </button>
            </ng-template>
          </div>
        </ng-container>
      </ng-container> -->

<!-- 
<pre>
{{formAdicionales.value|json}}
</pre> -->