<div style="padding: 17px;">
  {{form.value|json}}
  <p-card>
    <ng-template pTemplate="header">
      <div style="padding: 16px;">
        <button class="btn btn-primary" style="margin-right: 10px;" disabled>
          Agregar Mano de obras/LPUs adicionales
        </button>
        <button class="btn btn-primary" disabled>
          Materiales
        </button>
      </div>
    </ng-template>
    <form [formGroup]="form">
      <table>
        <thead>
          <tr>
            <th colspan="11" style="background: #00507a;
              color: white;
              text-align: center;">Mano de obra/Lpus</th>
            <th colspan="11" style="background: #00507a;
               color: white;
               text-align: center;">Unidad de obras</th>
          </tr>
          <tr>
            <th rowspan="2">Cor</th>
            <th rowspan="2">Plano</th>
            <th rowspan="2">Direccion</th>
            <th rowspan="2">Clave</th>
            <th rowspan="2">Código</th>
            <th rowspan="2">Descrición</th>
            <th rowspan="2">U.M</th>
            <th colspan="4" style="background: #dfdfdf;
              text-align: center;">
              Cantidad
            </th>

            <th rowspan="2">Cor.</th>
            <th rowspan="2">Cod.</th>
            <th rowspan="2">Descrición</th>
            <th rowspan="2">U.M</th>
            <th colspan="4" style="background: #dfdfdf;
              text-align: center;">
              Cantidad
            </th>
          </tr>
          <tr>
            <th rowspan="2">Cub.</th>
            <th rowspan="2">
              <span>Apr</span>
            </th>
            <th rowspan="2">Pend.</th>
            <th rowspan="2">Inf.</th>

            <th rowspan="2">Cub.</th>
            <th rowspan="2">
              <span>Apr</span>
            </th>
            <th rowspan="2">Pend.</th>
            <th rowspan="2">Inf.</th>
          </tr>
        </thead>
        <tbody formArrayName="table">
          <tr *ngFor="let car of detalleCubicacion$|async; let i = index" [formGroupName]="i">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{car.lpu_id}}</td>
            <td>{{car.lpu_nombre}}</td>
            <td></td>
            <!-- Cub. -->
            <td>{{car.lpu_cantidad}}</td>
            <!-- Apr. -->
            <td>0</td>
            <!-- Pend. -->
            <td>{{car.lpu_cantidad}}</td>
            <!-- inf. -->
            <td>
              <input [formControl]="formCntl(i)" min="0" type="number" style="width: 37px;">
              <div *ngIf="formCntl(i).invalid && (formCntl(i).dirty || formCntl(i).touched)">
                <p-message severity="error" text="{{ errorMessageFn(formCntl(i).errors) }}"></p-message>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </form>
    <ng-template pTemplate="footer">
      <div style="display: flex;
        justify-content: space-evenly;">
        <button class="btn btn-primary"><em class="pi pi-save mr-1" id="guardar-ot"></em>Guardar borrador</button>
        <button class="btn btn-primary" (click)="sendInformeConfirmacion()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Enviar informe</button>
      </div>
    </ng-template>
  </p-card>
</div>

<app-modal [display]="DisplayConfirmacionModal" (CloseEvent)="DisplayConfirmacionModal=false">
  <ng-container modal-header-title>Confirmación envío de Informe de avances</ng-container>
  <ng-container modal-content>
    <div class="row">
      ¿Está seguro que desea envíar este informe de avances?
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Cancelar</button>
    <button class="btn btn-primary"><em class="pi pi-play mr-1" id="guardar-ot"></em>Si, Enviar informe</button>
  </ng-container>
</app-modal>