<td style="background-color: #ff8e4e">
  {{ uo.uo_codigo }}
</td>
<td>
  {{ uo.uo_nombre }}
</td>

<ng-container *ngIf="uo.uo_codigo === '0'">
  <td colspan="6" align="center">No Aplica</td>
</ng-container>
<ng-container *ngIf="uo.uo_codigo !== '0'">
  <td>
    <!-- {{ item.actividad_descripcion | titlecase }} -->
  </td>
  <td>
    <p-inputNumber [formControl]="controlUOCantidad" mode="decimal" [minFractionDigits]="2"></p-inputNumber>
    <zwc-input-alert [control]="controlUOCantidad"></zwc-input-alert>
  </td>
  <td>
    {{ uo.uo_precio_total_clp | currency: 'CLP':'$':'.0-2':'es-CL' }}
  </td>
  <td>
    {{
      uo.uo_precio_total_clp *
        +controlUOCantidad.value
        | currency: 'CLP':'$':'.0-2':'es-CL'
    }}
  </td>
  <td>
    <!-- <div class="ui icon buttons mini basic">
      <button
        *ngIf="uo.uo_codigo !== 0"
        (click)="showMateriales(uo.material_arr)"
        class="ui button generic-color"
      >
        Detalles
      </button>
      <ng-container
        *ngIf="uo.precargado === undefined || uo.precargado === false"
      >
        <button
          (click)="deleteUOCarrito(item.servicio_id, uo.uo_codigo)"
          class="ui button eliminar-color"
        >
          <fa-icon [icon]="trashICon"></fa-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="uo.precargado">
        <div class="ui icon buttons mini basic">
          <button
            (click)="
              DisplayDeleteUOCarritoDefinitivo(
                item.servicio_id,
                uo.uo_codigo,
                uo.uo_rowid
              )
            "
            class="ui button eliminar-color"
          >
            <fa-icon [icon]="trashICon"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div> -->
    </td>
</ng-container>
