<!-- [formGroup]="formOt" -->
<div class="row">
  <div class="col-xs-12 col-md-6">
    <label for="">Nombre</label>
    <!-- formControlName="nombre" -->
    <input class="form-control" type="text">
    <br>
  </div>

  <div class="col-xs-12 col-md-6">
    <label for="">Rut</label>
    <!-- formControlName="nombre" -->
    <input class="form-control" type="text">
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Tipo</label>
    <!-- formControlName="tipo" -->
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="p-field-radiobutton">
          <p-radioButton name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
          <label for="city1">Movistar</label>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="p-field-radiobutton">
          <p-radioButton name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
          <label for="city1">Proveedor</label>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Proveedor</label>
    <!-- formControlName="tipo" -->
    <select class="form-control" name="" id="">
      <option value="null" selected disabled>Seleccione área</option>
      <option value="OT">OT</option>
      <option value="AP">AP</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Área</label>
    <!-- formControlName="tipo" -->
    <select class="form-control" name="" id="">
      <option value="null" selected disabled>Seleccione área</option>
      <option value="OT">OT</option>
      <option value="AP">AP</option>
    </select>
    <br>
  </div>
  <div class="col-xs-12 col-md-6">
    <label for="">Perfil</label>
    <!-- formControlName="cubicacion_id" -->
    <select class="form-control" name="" id="">
      <option value="null" selected disabled>Seleccione perfil</option>
      <option *ngFor="let cubicacion of cubicaciones" [value]="cubicacion.id">{{cubicacion.nombre}}</option>
    </select>
    <br>
  </div>

  <div class="col-xs-12 col-md-6">
    <label for="">Persona a cargo</label>
    <!-- formControlName="cubicacion_id" -->
    <select class="form-control" name="" id="">
      <option value="null" selected disabled>Seleccione perfil</option>
      <option *ngFor="let cubicacion of cubicaciones" [value]="cubicacion.id">{{cubicacion.nombre}}</option>
    </select>
    <br>
  </div>

  <div class="col-12">
    <label for="">Datos Extras</label>
    <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
    <br>
  </div>

  <div class="col-xs-12 offset-md-7 col-md-5 text-right mb-4">
    <!-- (click)="cancelAction();" -->
    <button class="btn btn-light mr-2"><em class="pi pi-refresh mr-1"></em>Cancelar</button>
    <!-- (click)="saveAction();" [disabled]="!formOt.valid" -->
    <button class="btn btn-primary"><em class="pi pi-save mr-1"></em>Guardar</button>
  </div>
</div>