<table class="table-carro">
    <tr>
        <th style="width: 318px"> Descripcion</th>
        <!-- <th style="width: 140px">Tipo Servicio</th> -->
        <th style="width:125px">Tipo Moneda</th>
        <th style="width:125px">Tipo Servicio</th>
        <th style="width:125px">Precio Unitatio</th>
        <th style="width: 102px">Cantidad</th>
        <th style="width:125px">Sub Total</th>
    </tr>

    <tr *ngFor="let itemC of detallesCubicacionSelected; let i = index">
        <td> <span>{{itemC.nombre}}</span></td>
        <!-- <td class="center">{{itemC.tiposervicio}}</td> -->
        <td class="center">{{itemC.tipo_moneda}}</td>
        <td class="center">{{itemC.tipo_servicio}}</td>
        <td class="center">${{itemC.precio| number: '1.0-0':'es-CL'}}</td>
        <td class="center">{{itemC.cantidad}}</td>
        <td class="center">${{itemC.subtotal| number: '1.0-0':'es-CL'}}</td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: right">
            <span style="    
                    margin-right: 31px;"><strong>Total</strong>: ${{cubicacionSelected.total| number: '1.0-0':'es-CL'}}</span>
        </td>
    </tr>
</table>