<nav>
    <div class="icon">
        <img src="../../../assets/images/logo-movistar.png" alt="cover" />
        <div class="title-otec">ordenes de trabajo V0.9.0</div>
    </div>

    <div class="ui menu">
        <a class="ui dropdown item"
            [ngClass]="(showOnlyForRol('Gestor')||showOnlyForRol('Administrador OTEC'))?'show-menu':'hide-menu'">
            Cubicación
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" (click)="navegateTo('dashboard/cubicacion/crear-cubicacion')">Crear Cubicación</div>
                <div class="item" (click)="navegateTo('dashboard/cubicacion')">Listar Cubicación</div>
            </div>
        </a>
        <a class="ui dropdown item"
            [ngClass]="(showOnlyForRol('Gestor')||showOnlyForRol('Trabajador')||showOnlyForRol('Administrador de Contrato')||showOnlyForRol('Coordador')||showOnlyForRol('Administrador OTEC'))?'show-menu':'hide-menu'">
            OT
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" (click)="navegateTo('dashboard/ot/crear-ot')">Crear OT</div>
                <div class="item">Listar OT</div>
            </div>
        </a>
        <a class="item"
            [ngClass]="(showOnlyForRol('Reporteria')||showOnlyForRol('Administrador OTEC'))?'show-menu':'hide-menu'">
            Reportería </a>
        <a class="item" [ngClass]="(showOnlyForRol('Administrador OTEC'))?'show-menu':'hide-menu'"> Administración de
            sistema </a>
    </div>

    <div class="section-usuario">
        <span class="usuario">{{ nombreUsuario }}</span>
        <span class="rol"><strong>{{ rol }}</strong></span>
        <button class="mini ui grey button" (click)="logout()" id="logout-button">
            Cerrar sesion
        </button>
    </div>
</nav>