<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuario </h1>
      <span>formulario de ingreso</span>
    </div>
    <div class="col">
      <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="goBack()"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-card [classCardHeader]="'bg-secondary text-white'">
    <ng-container card-body>
      <div class="row justify-content-center">
        <div class="col-12">
          <form [formGroup]="formUser">
            <div class="row justify-content-center">
              <div class="col-md-6 col-xs-12 ">
                <div id="guia-input">
                  <app-input [control]="formControls.username" DisplayLabelMode="side" label="* Usuario Guia:"></app-input>
                </div>
                <br>
                <div id="rut-input">
                  <app-input [control]="formControls.rut" label="*Documento identidad:" DisplayLabelMode="side"></app-input>
                </div>
                <!-- <input id="documento-input" name="documento-input" formControlName="rut" maxlength="15" minlength="10" placeholder="xx.xxx.xxx-x" class="form-control" type="text">  -->
                <br>
                <div id="nombres-input">
                  <app-input [control]="formControls.nombres" label="* Nombres:" DisplayLabelMode="side"></app-input>
                </div>
                <br>
                <div id="apellidos-input">
                  <app-input [control]="formControls.apellidos" label="* Apellidos:" DisplayLabelMode="side"></app-input>
                </div>
                <br>
                <div id="email-input">
                  <app-input [control]="formControls.email" label="* Email:" DisplayLabelMode="side"></app-input>
                </div>
                <br>
                <div class="row" style="text-align: end">
                  <div class="col-md-4 col-xs-12">
                    <label for="">Celular</label>
                  </div>
                  <div class="col-md-8 col-xs-12" id="celular-input">
                    <p-inputMask id="celular-input" name="celular-input" formControlName="celular" styleClass="form-control" mask="(99) 9 9999 9999" unmask="true">
                    </p-inputMask>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="row align-items-center" style="height: 100%;">
                  <div class="col-12">
                    <div class="tipoEmpresa">
                      <label for="">Empresa</label>
                      <div class="row" style="margin-left: 19%;">
                        <div class="col-xs-12 col-md-5">
                          <div class="p-field-radiobutton" id="movistar-radio-input">
                            <p-radioButton id="movistar" name="provider" formControlName="provider" value="movistar"></p-radioButton>
                            <label for="movistar">Movistar</label>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-7">
                          <div class="p-field-radiobutton" id="contratista-radio-input">
                            <p-radioButton id="proveedor" name="provider" formControlName="provider" value="contratista"></p-radioButton>
                            <label for="proveedor">Contratista</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br>
                    <div id="proveedor-select">
                      <app-select [control]="formControls.proveedor_id" label="* Proveedor">
                        <ng-container options>
                          <option value="null" selected disabled>Seleccione proveedor</option>
                          <ng-container *ngFor="let proveedor of (proveedores4createUser$ | async)">
                            <option [value]="proveedor.id">
                              {{ proveedor.nombre }}
                            </option>
                          </ng-container>
                        </ng-container>
                      </app-select>
                    </div>

                    <br>
                    <div id="area-select">
                      <app-select [control]="formControls.area_id" label="* Área">
                        <ng-container options>
                          <option value="null" selected disabled>Seleccione área</option>
                          <ng-container *ngFor="let area of areas4createUser$ | async">
                            <option [value]="area.id">
                              {{ area.nombre }}
                            </option>
                          </ng-container>
                        </ng-container>
                      </app-select>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-xs-12">
                <label for="">Contratos con los que puede trabajar</label>
                <div id="contratos-select">
                  <p-multiSelect id="contratos_marco_multi" name="contratos_marco_multi" [style]="{'width':'100%'}" placeholder="Seleccionar contratos..." [options]="posiblesContractosUser$|async" formControlName="contratos_marco" optionLabel="nombre" optionValue="id" [virtualScroll]="true" itemSize="30">
                  </p-multiSelect>
                  <div *ngIf="formControls.contratos_marco.invalid && (formControls.contratos_marco.dirty || formControls.contratos_marco.touched)">
                    <p-message severity="error" text="Este campo es requerido"></p-message>
                  </div>
                </div>

                <br>
                <!-- <label>Adjuntar Firma</label>
                <p-fileUpload chooseLabel="Agregar documento" name="demo[]" #filesform auto="true" (uploadHandler)="onUpload($event)" (onRemove)="onDeleteFile($event)" customUpload="true" accept=".docx,.doc,.gif,.json,.jpeg,.pjpeg,.png,.txt,.pdf,.gzip,.zip,.rar,.7zip,zip,.dwg,.csv,.xls,.ppt,.pptx,text/plain" maxFileSize="50000000">
                </p-fileUpload>

                <label style="color: #464646;font-weight: 400;">
                  <strong style="margin-left: 7px;margin-right: 7px;">Extensiones permitidas:</strong>
                  <span style="word-spacing: 5px">.docx .doc .gif .json .jpeg .pjpeg .png .txt .pdf .gzip .zip .rar .7zip zip .dwg .csv .xls .ppt .pptx </span>
                </label> -->
              </div>
              <!-- <div class="col-md-6 col-xs-12">
                <app-select [control]="formControls.superior" label="Superior directo">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione persona</option>
                    <option value="null">No posee superior directo</option>
                    <ng-container *ngFor="let superior of samecompanyusers$ | async">
                      <option [value]="superior.id">
                        {{ superior.nombres }} {{ superior.apellidos }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
              </div> -->
            </div>
            <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div>
            <!-- <div class="row justify-content-center">
              <div class="col-3"></div>
              <div class="col-5" style="border: solid 1px #ced4da;
              padding: 33px;">
                <h5>Perfil</h5>
                <p-multiSelect id="perfiles" [options]="perfiles" [style]="{'width':'100%'}" [group]="true" defaultLabel="Seleccione los perfiles del usuario" scrollHeight="300px" display="chip" formControlName="perfiles">
                  <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                      <span>{{group.label}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
                <div *ngIf="formControls.perfiles.invalid && (formControls.perfiles.dirty || formControls.perfiles.touched)">
                  <p-message severity="error" text="Este campo es requerido"></p-message>
                </div>
                <div class="row justify-content-center" *ngFor="let perfil of profiles$|async">
                  <div class="col-1">
                    <p-checkbox name="group1" value="{{perfil.id}}" formControlName="perfiles"></p-checkbox>
                  </div>
                  <div class="col-8"> <label for="ny">{{perfil.nombre}}</label></div>
                  <div class="col-2" style="text-align: start"> <button (click)="showPermisos(perfil.id)" style="border: 1px solid;">permisos</button></div>
                </div> 
              </div>
              <div class="col-3"></div>
            </div> -->
            <div class="col-xs-12 offset-md-7 col-md-5 text-right mb-4">
              <button id="submit-user" (click)="save()" type="submit" [disabled]="!formUser.valid" class="btn btn-primary"><em class="pi pi-save mr-1"></em>Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </ng-container>

  </app-card>
</div>


<app-modal [display]="DisplayPermisosModal" (CloseEvent)="DisplayPermisosModal=false">
  <ng-container modal-header-title>Lista de Permisos del perfil</ng-container>
  <ng-container modal-content>
    <div class="row">
      <div *ngFor="let item of ModalDataPermissions" class="col-xs-12 col-md-4 pt-2" id="permisos-modulo-{{item.module}}">
        <p-listbox [options]="item.permissions" optionLabel="nombre_corto" optionDisabled="inactive" [disabled]="true">
          <ng-template pTemplate="header">
            {{item.module}}
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>