<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuarios </h1>
      <span>listado de usuarios en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/user/form-user']" pButton type="button" label="Nuevo Usuario" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-button"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <app-table [config]="configTable" [items]="(usersTableData$ | async)"></app-table>
</div>

<app-modal [display]="displayModalDeleteUser" (CloseEvent)="closeModalDeleteUser()" [style]="{width: '50vw'}">
  <ng-container modal-header-title></ng-container>
  <ng-container modal-content>

    <div class="row">
      <div class="col">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea eliminar este Usuario?</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">

            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" (click)="DeleteUsuario()" label="Si, eliminar el usuario" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-delete-button"></button>
              <button pButton type="button" (click)="closeModalDeleteUser()" label="No" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="delete-user-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>

<app-modal [display]="displayModalActivarUser" (CloseEvent)="closeModalActivarUser()" [style]="{width: '50vw'}">
  <ng-container modal-header-title></ng-container>
  <ng-container modal-content>

    <div class="row">
      <div class="col">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea {{txt_activar}} este Usuario?</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">

            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" (click)="ActivarUsuario()" label="Si" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-delete-button"></button>
              <button pButton type="button" (click)="closeModalActivarUser()" label="No" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="delete-user-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>

<app-modal [display]="displayModalVerContratos" (CloseEvent)="closeModalVerContratos()" [style]="{width: '50vw'}">
  <ng-container modal-header-title>Contratos</ng-container>
  <ng-container modal-content>

    <p-listbox [options]="contratosUser$|async" [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}" [disabled]="true">
      <ng-template let-contrato pTemplate="item">
        <div class="perfil-item">
          <div> {{contrato.model_contrato_id.nombre}}</div>
        </div>
      </ng-template>
    </p-listbox>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>