<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuarios </h1>
      <span>listado de usuarios en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/user/form-user']" pButton type="button" label="Nuevo Usuario" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-button"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <app-table [config]="configTable" [items]="(usersTableData$ | async)"></app-table>
  <!-- <app-modal [display]="DisplayModal$|async" (CloseEvent)="cerrarDisplayModal(false)" [style]="{width: '50vw'}">
    <ng-container modal-header-title>Detalles del usuario <strong>{{(userDetail$|async)?.username}}</strong> </ng-container>
    <ng-container modal-content>
      <div class="row">
        <div class="col-xs-12 col-md-6 pt-2" id="detalle_contrato_marco">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <h5 class="card-header">Contratos</h5>
                <div class="card-body">
                  <p-listbox [options]="(userDetail$|async)?.contratos_marco" optionLabel="contratos_marco" optionDisabled="inactive" [disabled]="true">
                    <ng-template let-contrato pTemplate="item">
                      {{contrato.nombre}}
                    </ng-template>
                  </p-listbox>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <h5 class="card-header">Información adicional</h5>
                <div class="card-body">
                  <p><strong>Email:</strong> {{(userDetail$|async)?.email}}</p>
                  <p><strong>Celular:</strong> {{(userDetail$|async)?.celular}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 pt-2" id="detalle_perfil">
          <div class="card">
            <h5 class="card-header">Periles</h5>
            <div class="card-body">
              <p-listbox [options]="(userDetail$|async)?.perfiles" optionLabel="perfil" optionDisabled="inactive" [disabled]="true">
                <ng-template let-perfil pTemplate="item">
                  <p> {{perfil.nombre}}</p>
                </ng-template>
              </p-listbox>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 pt-2" id="detalle_perfil">
          <div class="card">
            <h5 class="card-header">Superior</h5>
            <div class="card-body">
              {{(userDetail$|async)?.perfiles[0].persona_a_cargo_nombre}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container modal-footer></ng-container>
  </app-modal> -->
</div>



<app-modal [display]="displayModalPerfilesUser$|async" (CloseEvent)="closeAddPerfil()" [style]="{width: '50vw'}">
  <ng-container modal-header-title><strong>Agregar un perfil a {{nombreUsuario}}</strong></ng-container>
  <ng-container modal-content>
    <div class="row">
      <div class="col-md-3">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">Perfiles actuales</p>
        <p-listbox [options]="perfilesUser$|async" [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}" [disabled]="true">
          <ng-template let-perfil pTemplate="item">
            <div class="perfil-item">
              <div><strong>Perfil: </strong> {{perfil.nombre}}</div>
              <div class="detalle-perfil" style="margin-left: 10px">
                <table>
                  <tr>
                    <td><strong style="font-size: 11px">Rol:</strong></td>
                  </tr>
                  <tr>
                    <td>{{perfil.rol}}</td>
                  </tr>
                  <tr>
                    <td style="font-size: 5px;"><strong style="font-size: 11px">Superior:</strong> </td>
                  </tr>
                  <tr>
                    <td> {{perfil.superior}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
      <div class="col-md-9">
        <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">Agregar un perfil</p>
        <div style="padding: 0 9rem 0 9rem;">
          <div class="row">
            <div class="col">
              <form [formGroup]="formAddPerfil">
                <app-select [control]="formAddControls.perfil_id" label="Perfil">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione perfil a agregar al usuario</option>
                    <ng-container *ngFor="let perfil of allPerfiles$ | async">
                      <option [value]="perfil.id">
                        {{ perfil.nombre}}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>

                <br>

                <app-select [control]="formAddControls.superior_id" label="Superior directo">
                  <ng-container options>
                    <option value="null" selected disabled>Seleccione persona</option>
                    <option value="null">No posee superior directo</option>
                    <ng-container *ngFor="let superior of posiblesSuperiores$ | async">
                      <option [value]="superior.id">
                        {{ superior.nombre }} {{ superior.apellidos }}
                      </option>
                    </ng-container>
                  </ng-container>
                </app-select>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" (click)="AgregarPerfil()" label="Agregar Perfil" icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-perfil-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>