<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuarios </h1>
      <span>listado de usuarios en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/app/user/form-user']" pButton type="button" label="Nuevo Usuario" icon="pi pi-plus"
        class="p-button-sm mt-5 float-right"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <app-table [config]="configTable" [items]="(items$ | async)"></app-table>
</div>