:host {
  display: block;
  position: absolute;
  max-width: 100%;
  max-width: 100%;
  background: transparent;
  .modal{
    width: 100px;
  }
}

@media (max-width: 767px) {
  :host {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
}
