:host ::ng-deep {
  display: block;
  position: absolute;
  max-width: 100%;
  max-width: 100%;
  background: transparent;

  .modal {
    width: 100px;
  }

  app-table {
    font-size: 0.8rem;
  }

  .p-listbox {
    border: 0;
  }

  li {
    color: black;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  :host {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
}