<div class="container-acta">
    <h1>Validación del pago del Acta</h1>

    <p-divider align="center">
        <span class="p-tag">Servicios del acta</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12" style="text-align: center">
                <span> <strong>Tipo pago:</strong> {{tipo_pago}}</span>
            </div>
            <div class="field col-12 ">

                <ng-container *ngIf="tipo_pago==='PORCENTAJE'">
                    <div class="grid">
                        <div class="col-2"></div>
                        <div class="col-8" style="display: flex;
                        align-content: center;
                        justify-content: center;">
                            <table class="table-info" style="width: 50%;">
                                <tr>
                                    <td>Total informe avance</td>
                                    <td>{{total_informe_avance|currency : 'CLP' :'$':'.0-2':'es-CL'}}</td>
                                </tr>
                                <tr>
                                    <td>% Pagado</td>
                                    <!-- <td>{{por_acta_pagado-100}}%</td> -->
                                    <td>TO-DO</td>
                                </tr>
                                <tr>
                                    <td>% a pagar</td>
                                    <td>
                                        {{porc_a_pagar}} %
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total a pagar CLP</td>
                                    <!-- <td>{{total_informe_avance* (+porc_a_pagar/ 100)|currency : 'CLP'
                                :'$':'.0-2':'es-CL'}}</td> -->
                                    <td>{{ot_total|currency : 'CLP':'$':'.0-2':'es-CL'}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </ng-container>

                <ng-container *ngIf="tipo_pago==='POR_SERVICIO'"></ng-container>
                <ng-container *ngIf="tipo_pago==='TOTAL'">
                    <zwc-table-servicios mode_source="static" [data_source]="acta" [cantidad_editable]="false"
                        [column_acciones]="false">
                    </zwc-table-servicios>
                </ng-container>

            </div>

        </div>
    </div>

    <p-divider align="center">
        <span class="p-tag">Personas que han aprobado el acta</span>
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 ">
                <table style="width: 100%;font-size: 0.7rem;">
                    <tr>
                        <th>
                            Cargo
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                    <tr *ngFor="let item of (quienAutorizoPago$| async) ? (quienAutorizoPago$| async) : []">
                        <td style="text-align: center;background-color: #dedcdc;">
                            {{item.model_proxy_id.model_perfil_id.nombre}}</td>
                        <td style="text-align: center;background-color: #dedcdc;">
                            {{item.model_proxy_id.model_usuario_id.nombres}}
                            {{item.model_proxy_id.model_usuario_id.apellidos}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <p-divider align="center">
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined"
                    [routerLink]="['/ot']">
                    Atrás
                </button>
            </div>
            <div *ngIf="accionExist('OT_AUTORIZAR_PAGOS')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="validar-acta-button" content="Validar Pago del Acta" icon="ok"
                    Pclass="p-button-info p-button-sm mt-4 w-full" (click)="displayModalAprobacionPago=true"
                    [sending]="sendingAprobacionPago$|async">
                </zwc-pbutton-sending>
            </div>
            <div *ngIf="accionExist('OT_AUTORIZAR_PAGOS')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="rechazar-button" content="Rechazar Pago del Acta" icon="nok"
                    Pclass="p-button-info p-button-sm mt-4 w-full bg-red-500 hover:bg-red-300"
                    (click)="displayModalRechazarActa()" [sending]="sendingAprobacionPago$|async">
                </zwc-pbutton-sending>
            </div>
        </div>
    </div>
</div>


<!-- MODALS -->

<p-dialog header="Aceptación acta" [(visible)]="displayModalAprobacionPago" [draggable]="false" [modal]="true">
    Order de trabajo ID: {{ot_id}}
    <br>
    <form [formGroup]="formAprobarActa">
        <label for="">Comentario</label>
        <br>
        <textarea formControlName="detalle" class="form-control" placeholder="" name="observaciones" id="observaciones"
            cols="30" rows="2"></textarea>
    </form>

    <zwc-view-confirmacion pregunta='¿Desea aprobar esta acta?' (cancelar)="displayModalAprobacionPago=false"
        (confirmar)="validarPagoActa()" textConfirmar="Aprobar Acta">
    </zwc-view-confirmacion>
</p-dialog>

<p-dialog header="Rechazo del acta" [(visible)]="showModalRechazarActa" [draggable]="false" [modal]="true">
    <zwc-view-rechazo [motivosRehazo]="motivosRechazo$|async" #rechazoActaForm></zwc-view-rechazo>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
            (click)="closeModalRechazarActa()">
            Cancelar
        </button>
        <button pButton type="button" id="button-confirmar" (click)="rechazarActa()"
            [disabled]="!rechazoActaForm.formRechazo.valid">
            Rechazar acta
        </button>
    </ng-template>
</p-dialog>