:host ::ng-deep {
    textarea {
        width: 86vw;
        height: 154px;
        padding: 10px;
        border: 0.07rem solid #bcbfc1;
    }
}

.container-acta {
    padding: 10px;

    span {
        font-size: 0.7rem;
    }

    strong {
        color: #015682;
    }


}