<div class="container-acta">
    <h1>Validación del pago del Acta</h1>

    <p-divider align="center">
        <span class="p-tag">Servicios del acta</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12" style="text-align: center">
                <span> <strong>Tipo pago:</strong> {{tipo_pago}}</span>
            </div>
            <div class="field col-12 ">
                <zwc-table-servicios mode_source="static" [data_source]="acta" [cantidad_editable]="false"
                    [column_acciones]="false">
                </zwc-table-servicios>
            </div>

        </div>
    </div>

    <p-divider align="center">
        <span class="p-tag">Personas que han aprobado el acta</span>
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 ">
                <table style="width: 100%;font-size: 0.7rem;">
                    <tr>
                        <th>
                            Usuario
                        </th>
                    </tr>
                    <tr *ngFor="let item of (quienAutorizoPago$| async) ? (quienAutorizoPago$| async) : []">
                        <td>{{item.model_proxy_id.model_usuario_id.nombres}}
                            {{item.model_proxy_id.model_usuario_id.apellidos}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <p-divider align="center">
    </p-divider>

    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined">
                    Atrás
                </button>
            </div>
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="validar-acta-button" content="Aprobar pago del acta"
                    Pclass="p-button-info p-button-sm mt-4 w-full" (click)="validarPagoActa()"></zwc-pbutton-sending>
            </div>
        </div>
    </div>
</div>