.login-titulo{
    font-size: 12px;
    font-weight: 400;
    margin-left: 14px;
    margin-top: 14px;
  }

:host ::ng-deep {
    .p-inputtext{
        height: 2.5rem;
        border-color: #f4f5f8;
        font-size: 1rem;
        background-color: #fafbfd;
        +label{
            font-weight: 100;
            font-size: 10px;
        }
    }
    
    .p-button{
        width: 16rem;
        font-weight: 100;
        &:disabled{
           background-color:  #7993f773 !important
        }
    }
}