:host ::ng-deep {
  .p-menu {
    width: 22vh;
    top: auto !important;
    left: auto !important;
    right: 0rem;
    margin-top: 38px;
  }

  span.p-menuitem-text.ng-star-inserted {
    text-align: start;
  }

  .red {
    color: red !important
  }
}


@media (max-width: 767px) {
  :host ::ng-deep {
    .p-menu {
      margin: -95px 3px 0 0;
      width: 34%;
    }
  }
}