<div class="card" [formGroup]="form">
  <p-table #dt [columns]="config.body.sort" [value]="items" [rows]="10" [paginator]="config.headerConfig.paginator" dataKey="id" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} elementos" [showCurrentPageReport]="true" styleClass="p-datatable-sm p-datatable-responsive-demo p-datatable-striped ">
    <ng-template *ngIf="config.header" pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ config.headerConfig.title }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" [placeholder]="config.headerConfig.searchText" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of config.body.headers">
          <ng-container [ngSwitch]="column.type">
            <th *ngSwitchCase="'CHECKBOX'" style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngSwitchDefault [pSortableColumn]="column.sort" [ngStyle]="{'width': column.width}">{{column.field}}
              <p-sortIcon *ngIf="column.sort" [field]="column.sort"></p-sortIcon>
            </th>
            <th *ngSwitchCase="'ACTIONS'" [ngStyle]="{'width': column.width}">{{column.field}}</th>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr [ngClass]="item['estado']===false ? 'bloqueado' : ''">
        <ng-container *ngFor="let column of config.body.headers" [ngSwitch]="column.type">
          <td *ngSwitchCase="'CHECKBOX'">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td *ngSwitchCase="'TEXT-TITLECASE'">{{ item[column.header] | titlecase }}</td>
          <td *ngSwitchCase="'TEXT-MAIN'"><strong>{{ item[column.header] }}</strong></td>
          <td *ngSwitchCase="'TEXT'">{{ item[column.header] }}</td>
          <td *ngSwitchCase="'INPUT'">
            <app-input [control]="controls[getControlName(rowIndex, column.header)]" type="text" [errorMessageFn]="column.errorMessageFn ? column.errorMessageFn : errorMessageFn"></app-input>
          </td>
          <td *ngSwitchCase="'INPUTNUMBER'">
            <app-input [control]="controls[getControlName(rowIndex, column.header)]" type="number" [errorMessageFn]="column.errorMessageFn ? column.errorMessageFn : errorMessageFn"></app-input>
          </td>
          <td *ngSwitchCase="'SELECT'">
            <app-select [control]="controls[getControlName(rowIndex, column.header)]" [errorMessageFn]="column.errorMessageFn ? column.errorMessageFn : errorMessageFn">
              <ng-container options>
                <option value="null" selected disabled>Seleccione</option>
                <ng-container *ngFor="let option of column.optionsFn(item)">
                  <option [value]="option.id">
                    {{ option.name }}
                  </option>
                </ng-container>
              </ng-container>
            </app-select>
          </td>
          <td *ngSwitchCase="'NUMBER'">{{ item[column.header] | currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
          <td *ngSwitchCase="'MONEY'">{{ item[column.header] | currency : item[column.currency] : item[column.currency]===''?'':item[column.currency] + ' $':'.0-2':'es-CL' }}</td>
          <td *ngSwitchCase="'DATE'">{{ item[column.header] | date:'dd-MM-yyyy' }}</td>
          <td *ngSwitchCase="'BOOLEANTEXT'">
            <span *ngIf="item[column.header]">{{ column.booleantrue }}</span>
            <span *ngIf="!item[column.header]">{{ column.booleanfalse }}</span>
          </td>
          <td *ngSwitchCase="'ACTIONS'" id="action-buttons">
            <ng-container *ngIf="typeAction(config.body.actions) === 'function'">
              <ng-container *ngTemplateOutlet="menu; context: context(config.body.actions(item))"></ng-container>
            </ng-container>

            <ng-container *ngIf="typeAction(config.body.actions) === 'object'">
              <ng-container *ngTemplateOutlet="menu; context: context(config.body.actions)"></ng-container>
            </ng-container>

            <ng-template #menu let-actions="actions">
              <ng-container *ngIf="config.headerConfig.actionsType === 'Buttons'">
                <div style="display: flex;">
                  <div *ngFor="let button of actions" class="p-buttonset">
                    <div *ngIf="button.disabled" pTooltip="{{ button.tooltipDisabled }}">
                      <button [disabled]="button.disabled" pButton pRipple [icon]="button.icon" [class]="button.class" (click)="button.onClick($event, item, rowIndex);"></button>
                    </div>
                    <button *ngIf="!button.disabled" pButton pRipple [icon]="button.icon" [class]="button.class" (click)="button.onClick($event, item, rowIndex);"></button>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="config.headerConfig.actionsType === 'ButtonsTest'">
                <div class="ui icon buttons mini basic">
                  <ng-container *ngFor="let button of actions" [ngSwitch]="button.type">
                    <button *ngSwitchCase="'alldisplay'" class="ui button generic-color"> {{button.label}} </button>
                    <button *ngSwitchCase="'button-delete'" class="ui button eliminar-color">
                      <fa-icon [icon]="trashICon"></fa-icon>
                    </button>
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="config.headerConfig.actionsType === 'Menu'">
                <ng-container *ngIf="actions.length > 0">
                  <app-menu [actions]="actions" [item]="item" [rowIndex]="rowIndex"></app-menu>
                </ng-container>
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay {{items ? items.length : 0 }} elementos.
      </div>
    </ng-template>
  </p-table>
</div>