<div class="card">
  <p-table #dt [columns]="config.body.sort" [value]="items" [rows]="10" [paginator]="true" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} elementos"
    [showCurrentPageReport]="true" styleClass="p-datatable-sm p-datatable-responsive-demo">
    <ng-template *ngIf="config.header" pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{config.headerConfig.title}}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            [placeholder]="config.headerConfig.searchText" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of config.body.headers">
          <ng-container [ngSwitch]="column.type">
            <th *ngSwitchCase="'CHECKBOX'" style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngSwitchCase="'TEXT'" [pSortableColumn]="column.sort">{{column.field}} <p-sortIcon
                [field]="column.sort">
              </p-sortIcon>
            </th>
            <th *ngSwitchCase="'DATE'" [pSortableColumn]="column.sort">{{column.field}} <p-sortIcon
                [field]="column.sort">
              </p-sortIcon>
            </th>
            <th *ngSwitchCase="'NUMBER'" [pSortableColumn]="column.sort">{{column.field}} <p-sortIcon
                [field]="column.sort">
              </p-sortIcon>
            </th>
            <th *ngSwitchCase="'ACTIONS'"></th>
          </ng-container>
        </ng-container>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <ng-container *ngFor="let column of config.body.headers" [ngSwitch]="column.type">
          <td *ngSwitchCase="'CHECKBOX'">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td *ngSwitchCase="'TEXT'">{{item[column.header]}}</td>
          <td *ngSwitchCase="'NUMBER'">{{item[column.header] | currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
          <td *ngSwitchCase="'DATE'">{{item[column.header] | date:'dd-MM-yyyy'}}</td>
          <td *ngSwitchCase="'ACTIONS'" id="action-buttons">
            <ng-container *ngIf="config.body.actions.length > 0">
              <div *ngFor="let button of config.body.actions">
                <button [hidden]="item[button.conditionKey] === false" pButton pRipple [icon]="button.icon"
                  [class]="button.class" (click)="button.onClick($event,item, rowIndex);"
                  *ngIf="button.tooltip!==''|| button.tooltip!==undefined" pTooltip="button.tooltip"></button>
                <button [hidden]="item[button.conditionKey] === false" pButton pRipple [icon]="button.icon"
                  [class]="button.class" (click)="button.onClick($event,item, rowIndex);"
                  *ngIf="button.tooltip===''"></button>
                <div *ngIf="!item[button.conditionKey]" pTooltip="{{button.tooltip}}">
                  <button [disabled]="item[button.conditionKey] === false" pButton pRipple [icon]="button.icon"
                    [class]="button.class" (click)="button.onClick($event,item, rowIndex);"></button>
                </div>
                <button [disabled]="item[button.conditionKey] === false" pButton pRipple [icon]="button.icon"
                  [class]="button.class" (click)="button.onClick($event,item, rowIndex);"
                  *ngIf="item[button.conditionKey]"></button>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay {{items ? items.length : 0 }} elementos.
      </div>
    </ng-template>
  </p-table>
</div>