.listar-cubicacion-section {
    display: flex;
    height: 100vh;
}

.cubicacion-navbar {
    width: 7%;
    border-right: 1px solid #fff5f570;
    background: #11a4f5;
    box-shadow: 2px 2px #fbfbfb30;
}

.cubicacion-content {
    width: 92%;
    margin-top: 3px;
    margin-left: 2px;
}


.table-carro{
    font-size: 14px;
    color: #979797;
}

.table-carro tr{
    border-bottom: 2px solid #616060d9;;
}

.table-carro tr th{
    background: #9d9c9c;
    color: white;
    padding: 8px;
    border: 1px;
}

/* .table-carro tr td span{ */
    /* margin-left: 14px; */
/* } */

.table-carro tr td select{
    width: 100%;
    padding: 2px;
    padding-left: 8px;
}

.center{
    text-align: center;
}
