<p-confirmPopup></p-confirmPopup>
<otec-navbar></otec-navbar>
<div class="listar-cubicacion-section">
    <div class="cubicacion-navbar"></div>
    <div class="cubicacion-content">
        <p-table [value]="cubicaciones">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20px;text-align: center;">ID</th>
                    <th style="width:289px;text-align: center;">Nombre</th>
                    <th style="width: 177px;
                    text-align: center;">Fecha creación</th>
                    <th style="text-align: center;">Region</th>
                    <th style="text-align: center;">Contrato marco</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;width: 223px;">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cub>
                <tr>
                    <td  class="center">{{cub.cubicacion_id}}</td>
                    <td  class="center">{{cub.nombre}}</td>
                    <td  class="center">{{cub.fecha}}</td>
                    <td  style="text-align: center;">{{cub.region}}</td>
                    <td  class="center" style="text-align: center;">{{cub.contrato_marco}}</td>
                    <td  class="center" style="text-align: center;">{{cub.total| currency:'CLP':'symbol'}}</td>
                    <td style="text-align: center;">
                        <button id ="buttonDetalles-{{cub.cubicacion_id}}" class="circular ui icon button"  pTooltip="Ver detalles" tooltipPosition="top" placeholder="Top" (click)="displayDetaill(cub.cubicacion_id,cub.total,cub.nombre)">
                        <i class="eye icon"></i>
                      </button>
                      <button id="buttonCopiar-{{cub.cubicacion_id}}" class="circular ui icon button"  pTooltip="Crear copia" tooltipPosition="top" placeholder="Top" (click)="clonar(cub.cubicacion_id,cub.total,cub.nombre,cub.region,cub.contrato_marco)">
                        <i class="clone icon"></i>
                      </button>
                      <button id="buttonEditar-{{cub.cubicacion_id}}" class="circular ui icon button"  pTooltip="Editar" tooltipPosition="top" placeholder="Top">
                        <i class="edit icon"></i>
                      </button>
                      <button id="buttonEliminar-{{cub.cubicacion_id}}" class="circular ui icon button"  pTooltip="Eliminar" tooltipPosition="top" placeholder="Top">
                        <i class="trash icon"></i>
                      </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Detalle de la cubicación {{nombreCubicacion}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
            <table class="table-carro">
            <tr>
                <th style="width: 318px"> Descripcion</th>
                <!-- <th style="width: 140px">Tipo Servicio</th> -->
                <th style="width:125px">Tipo Moneda</th>
                <th style="width:125px">Precio Unitatio</th>
                <th style="width: 102px">Cantidad</th>
                <th style="width:125px">Sub Total</th>
            </tr>

            <tr *ngFor="let itemC of detallesCubicacion; let i = index">
                <td> <span>{{itemC.nombre}}</span></td>
                <!-- <td class="center">{{itemC.tiposervicio}}</td> -->
                <td class="center">{{itemC.tipo_moneda}}</td>
                <td class="center">${{itemC.precio| currency:'CLP':'symbol'}}</td>
                <td class="center">{{itemC.cantidad}}</td>
                <td class="center">${{itemC.subtotal| currency:'CLP':'symbol'}}</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right">
                    <span style="    
                            margin-right: 31px;"><strong>Total</strong>: {{total| currency:'CLP':'symbol'}}</span>
                </td>
            </tr>
        </table>
</p-dialog>