<div class="row" style="padding: 15px;">
  <div class="col-xs-12 col-md-6">
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Información de sistema</ng-container>
      <ng-container card-body>
        <ul>
          <li>SCE session: <span style="margin-right:2.6em"></span>{{detalleOt ?detalleOt.sce_sesion : ' ---'}}</li>
          <li>Etapa: <span style="margin-right:5.3em"></span>{{detalleOt ? detalleOt.tipo_etapa_ot.nombre : ' ---'}}</li>
          <li>Estado: <span style="margin-right:4.8em"></span>{{detalleOt ? detalleOt.tipo_estado_ot.nombre : ' ---'}}</li>
          <li>Tipo: <span style="margin-right:5.8em"></span> {{detalleOt ? detalleOt.tipo : ' ---'}}</li>
        </ul>
      </ng-container>
    </app-card>
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Detalle de la Cubicación: {{detalleOt ? detalleOt.cubicacion_nombre : ' ---'}} </ng-container>
      <ng-container card-body>
        <ul>
          <li>Contrato: <span style="margin-right:3em"></span>{{detalleOt ? '----' : ' ---'}}</li>
          <li>Proveedor: <span style="margin-right:2.3em"></span>{{detalleOt ? '----' : ' ---'}}</li>
          <li>Región: <span style="margin-right:4em"></span>{{detalleOt ? detalleOt.sitio.region_nombre : ' ---'}}</li>
          <li>Total: <span style="margin-right:4.8em"></span> ${{detalleOt ? '--- ': ' ---'}}</li>
          <button (click)="getLPUs(detalleOt.cubicacion_id)" class="btn btn-primary" style="width: 83px;
          font-size: 12px;
          margin-top: 10px;
          margin-left: -19px;">Ver Lpus</button>
        </ul>
      </ng-container>
    </app-card>
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Fechas</ng-container>
      <ng-container card-body>
        <ul>
          <li>Fecha Inicio OT: <span style="margin-right:3em"></span>{{detalleOt ? (detalleOt.fecha_inicio|date:"dd/MM/yyyy"): "---"}}</li>
          <li>Fecha Fin OT: <span style="margin-right:4.2em"></span>{{detalleOt ? (detalleOt.fecha_fin|date:"dd/MM/yyyy") : ' ---'}}</li>
        </ul>
      </ng-container>
    </app-card>
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Información adicional</ng-container>
      <ng-container card-body>
        <ul>
          <li>Propietario: <span style="margin-right:7em"></span>{{detalleOt ?detalleOt.propietario_nombre : ' ---'}}</li>
          <li>Responsable: <span style="margin-right:6.3em"></span>{{detalleOt ? detalleOt.responsable_nombre : ' ---'}}</li>
          <li>Fecha de creación: <span style="margin-right:4em"></span>{{detalleOt ? (detalleOt.created_at|date:"dd/MM/yyyy") : ' ---'}}</li>
          <li>Proyecto: <span style="margin-right:8.1em"></span> {{detalleOt ? detalleOt.proyecto_nombre : ' ---'}}</li>
          <li>observaciones: <span style="margin-right:5.6em"></span> {{detalleOt ?detalleOt.observaciones : ' ---'}}</li>
        </ul>
      </ng-container>
    </app-card>
  </div>
  <div class="col-xs-12 col-md-6">
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Plan de proyecto</ng-container>
      <ng-container card-body>
        <ul>
          <li>Plan:<span style="margin-right:5em"></span>{{detalleOt ? '---' : ' ---' }}</li>
          <li>Código:<span style="margin-right:3.8em"></span>{{detalleOt ? detalleOt.sitio.codigo : ' ---'}}</li>
          <li>Nombre sitio:<span style="margin-right:1em"></span>{{detalleOt ? detalleOt.sitio.nombre : ' ---'}}</li>
          <li>Dirección:<span style="margin-right:2.7em"></span>{{detalleOt ? detalleOt.sitio.direccion: ' ---' }} </li>
          <li>Latitud: <span style="margin-right:3.7em"></span>{{detalleOt ? detalleOt.sitio.geo_lat : ' ---' }}</li>
          <li>Longitud:<span style="margin-right:2.9em"></span>{{detalleOt ? detalleOt.sitio.geo_lon : ' ---' }} </li>
        </ul>
      </ng-container>
    </app-card>


    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Sustento Financiero</ng-container>
      <ng-container card-body>
        <ul>
          <li>Tipo:<span style="margin-right:10em"></span>{{detalleOt ? detalleOt.sustento_financiero.tipo_sustento : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex!==null">PMO:<span style="margin-right:9.7em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex.pmo_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex!==null">Línea presupuestaria:<span style="margin-right:2.8em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex.lp_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex!==null">PEP2:<span style="margin-right:10em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex.pep2_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex_provisorio!==null">PMO:<span style="margin-right:9.7em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex_provisorio.pmo_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex_provisorio!==null">Línea presupuestaria:<span style="margin-right:2.8em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex_provisorio.lp_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.capex_provisorio!==null">PEP2 Provisorio*:<span style="margin-right:15em"></span>{{detalleOt ? detalleOt.sustento_financiero.capex_provisorio.pep2_codigo : ' ---' }}</li>

          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex!==null">ID Opex:<span style="margin-right:9.7em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex.id_opex : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex!==null">Cuenta SAP:<span style="margin-right:2.8em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex.cuenta_sap : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex!==null">CECO:<span style="margin-right:10em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex.ceco_codigo : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex_provisorio!==null">ID Opex:<span style="margin-right:9.7em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex_provisorio.id_opex : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex_provisorio!==null">Cuenta SAP:<span style="margin-right:2.8em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex_provisorio.cuenta_sap : ' ---' }}</li>
          <li *ngIf="detalleOt && detalleOt.sustento_financiero.opex_provisorio!==null">CECO Provisorio*:<span style="margin-right:15em"></span>{{detalleOt ? detalleOt.sustento_financiero.opex_provisorio.ceco_codigo : ' ---' }}</li>
        </ul>
      </ng-container>
    </app-card>
  </div>
</div>

<!-- <app-detalle-lpus [DisplayModal]="DisplayModal" [detalleCubicacion]="detalleCubicacion$|async" (close)="Close()"></app-detalle-lpus> -->
<app-modal [display]="DisplayModal" (CloseEvent)="Close()">
  <ng-container modal-header-title>Detalle de las LPUs</ng-container>
  <ng-container modal-content>
    <app-table [config]="ConfigTableResumen" [items]="detalleCubicacion"></app-table>
    <!-- <span id="total"> <strong>Total:</strong> {{ total| currency : 'CLP' : '$':'.0-2':'es-CL' }}</span> -->
  </ng-container>
  <ng-container modal-footer></ng-container>
</app-modal>