<div class="row">
  <ng-container *ngIf="form && porcentaje">
    <div class="col-xs-12 col-md-5"></div>
    <div class="col-xs-12 col-md-2">
      <app-input [control]="porcentaje" label="Porcentaje" placeholder="Porcentaje" [errorMessageFn]="errorMessageFn"></app-input>
    </div>
    <div class="col-xs-12 col-md-5"></div>
    <ng-container *ngIf="form.get('servicios') as servicios">
      <div class="col-xs-6 col-md-6" style="margin-top: 10px">
        <app-card [classCardHeader]="'bg-info'">
          <ng-container card-header-title>Detalle servicios</ng-container>
          <ng-container card-body>
            <table style="width:100%">
              <thead>
                <!-- <tr>
                  <th>Servicios</th>
                  <th colspan="3">Cantidad</th>
                </tr> -->
                <tr>
                  <th>Cod.</th>
                  <th>Descripción</th>
                  <th style="text-align: right">Cant. informe av.</th>
                  <th style="text-align: right">Cant. Pagada</th>
                  <th style="text-align: right">Cant. a Enviar</th>
                  <th>Precio Un.</th>
                  <th>Total a pagar</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let servicio of servicios.controls">
                  <tr>
                    <td class="label-table">{{ servicio.get('servicio_codigo').value }}</td>
                    <td class="data-secundaria">{{ servicio.get('descripcion').value|titlecase }}</td>
                    <td class="data-secundaria" style="text-align: right">{{ servicio.get('cantidad_total').value }}</td>
                    <td class="data-secundaria" style="text-align: right">{{ servicio.get('cantidad_total').value - servicio.get('cantidad_a_enviar').value }}</td>
                    <td class="data-secundaria"style="text-align: right">{{ (servicio.get('cantidad_total').value * (porcentaje.value / 100)) | number : '1.2-2' }}</td>
                    <td class="data-secundaria">{{ +servicio.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                    <td class="data-secundaria">{{ (servicio.get('cantidad_total').value * (porcentaje.value / 100)) * +servicio.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </app-card>
      </div>
    </ng-container>

    <ng-container *ngIf="form.get('unidades_obra') as unidadesObra">
      <div class="col-xs-6 col-md-6" style="margin-top: 10px">
        <app-card [classCardHeader]="'bg-info'">
          <ng-container card-header-title>Detalle Unidades Obra</ng-container>
          <ng-container card-body>
            <table style="width:100%">
              <thead>
                <!-- <tr>
                  <th>Servicios</th>
                  <th colspan="3">Cantidad</th>
                </tr> -->
                <tr>
                  <th>Cod.</th>
                  <th>Descripción</th>
                  <th style="text-align: right">Cant. informe av.</th>
                  <th style="text-align: right">Cant. Pagada</th>
                  <th style="text-align: right">Cant. a Enviar</th>
                  <th>Precio Un.</th>
                  <th>Total a pagar</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let uo of unidadesObra.controls">
                  <tr>
                    <td class="label-table">{{ uo.get('uo_codigo').value }}</td>
                    <td class="data-secundaria">{{ uo.get('descripcion').value |titlecase}}</td>
                    <td style="text-align: right" class="data-secundaria">{{ uo.get('cantidad_total').value }}</td>
                    <td style="text-align: right" class="data-secundaria">{{ uo.get('cantidad_total').value - uo.get('cantidad_a_enviar').value }}</td>
                    <td style="text-align: right" class="data-secundaria">{{ (uo.get('cantidad_total').value * (porcentaje.value / 100)) | number : '1.2-2' }}</td>
                    <td class="data-secundaria">{{ +uo.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                    <td class="data-secundaria"> {{ (uo.get('cantidad_total').value * (porcentaje.value / 100))* +uo.get('precio_unitario').value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </app-card>
      </div>
    </ng-container>

    
  </ng-container>
</div>

<br>

<!--
<pre>{{ values | json }}</pre>
-->

<div class="row" id="table-totales">
  <div class="col-md-4 col-xs-12"></div>
  <div class="col-md-4 col-xs-12">
    <table style="width: 100%;">
      <tr>
        <td>Total Servicios</td>
        <td>{{totalServicios| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
      <tr>
        <td>Total Unidades Obra</td>
        <td>{{totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 col-xs-12"></div>
</div>

<div class="row" id="table-totales">
  <div class="col-md-4 col-xs-12"></div>
  <div class="col-md-4 col-xs-12">
    <app-card [classCardHeader]="'bg-info'">
      <ng-container card-header-title>Total a Pagar</ng-container>
      <ng-container card-body>
        <span class="total-pagar"> {{totalServicios + totalUO| currency : 'CLP' : '$':'.0-2':'es-CL'}} </span>
      </ng-container>
    </app-card>
  </div>
  <div class="ccol-md-4 col-xs-12"></div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div style="text-align: right">
      <ng-container *ngIf="saving; else noSaving">
        <button class="btn btn-primary disabled">
          <em class="pi pi-spin pi-spinner mr-1"></em>Enviar
        </button>
      </ng-container>
      <ng-template #noSaving>
        <button class="btn btn-primary" (click)="submit()" [class.disabled]="!valid">
          <em class="pi pi-send mr-1"></em>Enviar
        </button>
      </ng-template>
    </div>
  </div>
</div>
