.tipoArea {
  border: 1px solid #cecece;
  // padding: 8px;
  // width: 321px;
  text-align: center;
  padding: 25px // padding-left: 24px;
}

.tipoActivo {
  border: 1px solid #cecece;
  margin-top: 20px;
  padding: 8px;
  padding-top: 20px;

  // width: 321px;
  text-align: center;
  // padding-left: 24px;
}

.text-center {
  margin-top: 10px;
  text-align: center;
}
