<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Contratos </h1>
      <span>formulario de ingreso</span>
    </div>
    <div class="col">
      <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="p-button-sm mt-5 float-right p-button-outlined" (click)="goBack()"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-12">
          <form [formGroup]="formContrato">
            <div class="row justify-content-center">
              <div class="col-md-6 col-xs-12 ">
                <div id="nombre-contrato">
                  <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                      <label for="nombre-area">* Nombre:</label>
                    </div>
                    <div class="col-md-8 col-xs-12 ">
                      <input formControlName="nombre" class="form-control" type="text" name="nombre-contrato">
                    </div>
                  </div>
                </div>
                <br>
                <!-- <div class="col-xs-12 col-md-6" id="control_fecha_inicio"> -->
                <label class="mr-1" for="">Fecha inicio</label>
                <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="form-control d-block" formControlName="fecha_inicio" id="fecha-inicio-ot" name="fecha-inicio-ot" dateFormat="dd/mm/yy"></p-calendar>
                <!-- </div> -->
                <!-- <div class="col-xs-12 col-md-6" id="control_fecha_termino"> -->
                <label for="">Fecha termino</label>
                <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="form-control d-block" formControlName="fecha_fin" id="fecha-termino-ot" name="fecha-termino-ot" dateFormat="dd/mm/yy"></p-calendar>
                <!-- </div> -->
                <br>
                <!-- <ng-container *ngIf="invalidDates">
                    <div class="col-12">
                      <p-messages [(value)]="msgsWrongDates" [closable]="false"></p-messages>
                    </div>
                  </ng-container> -->
                <br>
                <div id="tipo-contrato-selector">
                  <zwc-pdropdown [control]="formControls.tipo_contrato_id" Label="Tipo Contrato" dropdown_id="tipo-contrato-select-dropdown" [data]="tipoContrato$|async" Pplaceholder="Seleccione un tipo de contrato marco" [loading]="false" optionLabel="nombre" optionValue="id"></zwc-pdropdown>
                </div>

                <br>

                <div id="tipo-moneda-selector">
                  <zwc-pdropdown [control]="formControls.tipo_moneda_id" Label="Tipo moneda" dropdown_id="tipo-moneda-select-dropdown" [data]="tipoMoneda$|async" Pplaceholder="Seleccione un tipo moneda" [loading]="false" optionLabel="nombre" optionValue="id"></zwc-pdropdown>
                </div>

                <br>

                <div id="tipo-pago-selector">
                  <zwc-pdropdown [control]="formControls.tipo_pago" Label="Tipo pago" dropdown_id="tipo-pago-select-dropdown" [data]="tipoPago$|async" Pplaceholder="Seleccione un tipo pago" [loading]="false" optionLabel="nombre" optionValue="id"></zwc-pdropdown>
                </div>

                <br>
                <div id="costo-max-input">
                  <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                      <label for="nombre-area">Costo máximo:</label>
                    </div>
                    <div class="col-md-8 col-xs-12 ">
                      <p-inputNumber [formControl]="formControls.costo_max" mode="currency" currency="CLP" locale="es-CL"></p-inputNumber>

                    </div>
                  </div>
                </div>

                <br>
                <label for="">Validaciones</label>
                <div class="tipoArea">
                  <div class="row" style="
                    text-align: left;
                    display: flex;
                    flex-direction: column">

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="check-req-apro-jera" formControlName="aprob_jerarq_inic">
                      <label class="form-check-label" for="defaultCheck1">
                        Requiere Aprobación jerarquica
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="check-req-vali-oper" formControlName="validacion_operaciones">
                      <label class="form-check-label" for="defaultCheck1">
                        Requiere Valicación operaciones
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="check-tiene-encuesta" formControlName="tiene_encuesta">
                      <label class="form-check-label" for="defaultCheck1">
                        Tiene encuesta
                      </label>
                    </div>

                  </div>
                </div>

                <div class="tipoActivo">
                  <!-- <label for="">Tipo de Area</label> -->
                  <div class="row" style="margin-left: 19%;">
                    <div class="col-xs-12 col-md-5">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="estado-activo" name="activo" formControlName="activo" value="activo"></p-radioButton>
                        <label for="movistar">Activo</label>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-7">
                      <div class="p-field-radiobutton">
                        <p-radioButton id="estado-inactivo" name="activo" formControlName="activo" value="inactivo"></p-radioButton>
                        <label for="proveedor">Inactivo</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xs-12 offset-md-12 col-md-12 text-center mb-4">
              <button id="submit-contrato" (click)="save()" type="submit" class="btn btn-primary"><em class="pi pi-save mr-1"></em>Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
