.detalle-ot-container {
    font-size: var(--size-text-sigo);
    padding: 12px;
    display: flex;
    height: 74px;
    background: #085b48;
    flex-direction: column;
    justify-content: space-evenly;
}



.sidebar-menu {
    padding: 23px 0px 8px 0px;
    font-size: 14px;

    .header-module {
        margin-top: 10px;
        margin-bottom: 15px;
        color: #227faf
    }

    .titulo-menu {
        margin-top: 10px;
    }

    a {
        color: #eff3f7;
        display: block;
        padding: 8px 0px;

        &:hover {
            background-color: #0075b08a;
        }
    }

    .menuprincipal-a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .submenu-a {
        padding-left: 30px;
        padding-right: 10px;
    }

    span {
        margin-left: 10px;
    }

    ul {
        list-style-type: none;
    }

    .header-menu {
        background: #035682;
        padding: 6px 0px 4px 15px;
    }
}