:host ::ng-deep {
    .p-tabview-title {
        font-size: var(--size-text-sigo)
    }

    .p-tabview-nav-link {
        border: 0 !important;
    }

    .p-tabview-panels {
        padding: 0.4rem !important;
    }
}