@use "sass:map";
@import "custom-bootstrap";
@import "~bootstrap/scss/bootstrap";


* {
  font-size: 0.9rem;

  body {
    font-family: "Inter-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #00507a;
  }

  #wrapper {
    height: 100vh;
  }


}







// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }