<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Usuarios </h1>
      <span>listado de usuarios en sistema</span>
    </div>
    <div class="col">
      <button [routerLink]="['/administracion/usuarios/form-usuario']" pButton type="button" label="Nuevo Usuario"
        icon="pi pi-plus" class="p-button-sm mt-5 float-right" id="add-user-button"></button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class=" grid">
        <div class="field col-12 table-list-usuarios">
          <ng-container *ngIf="usersTableData$ | async as usersTableData">
            <p-table #dt [columns]="['username', 'rut', 'nombres', 'apellidos', 'proveedor_nombre']"
              [value]="usersTableData" dataKey="id" styleClass="p-datatable-sm p-datatable-gridlines"
              responsiveLayout="scroll" [paginator]="true" [rows]="10">
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <h5 class="p-m-0"></h5>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Buscar..." />
                  </span>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="username">
                    Username
                    <p-sortIcon field="username"></p-sortIcon>
                  </th>
                  <th pSortableColumn="rut">
                    Rut
                    <p-sortIcon field="rut"></p-sortIcon>
                  </th>
                  <th pSortableColumn="nombres">
                    Nombres
                    <p-sortIcon field="nombres"></p-sortIcon>
                  </th>
                  <th pSortableColumn="apellidos">
                    Apellidos
                    <p-sortIcon field="apellidos"></p-sortIcon>
                  </th>
                  <th pSortableColumn="empresa">
                    Empresa
                    <p-sortIcon field="empresa"></p-sortIcon>
                  </th>
                  <th pSortableColumn="area">
                    Área
                    <p-sortIcon field="area"></p-sortIcon>
                  </th>
                  <th pSortableColumn="celular">
                    Celular
                    <p-sortIcon field="celular"></p-sortIcon>
                  </th>
                  <th pSortableColumn="email">
                    Email
                    <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th pSortableColumn="create_at">
                    Creado el
                    <p-sortIcon field="create_at"></p-sortIcon>
                  </th>
                  <th pSortableColumn="update_at">
                    Actualizado el
                    <p-sortIcon field="update_at"></p-sortIcon>
                  </th>
                  <th pSortableColumn="firma">
                    Firma
                    <p-sortIcon field="firma"></p-sortIcon>
                  </th>
                  <th pSortableColumn="estado">
                    Estado
                    <p-sortIcon field="estado"></p-sortIcon>
                  </th>
                  <th></th>
                <tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <strong>{{ item.username }}</strong>
                  </td>
                  <td style="text-align: right;">{{ item.rut }}</td>
                  <td>{{ item.nombres | titlecase }}</td>
                  <td>{{ item.apellidos | titlecase }}</td>
                  <td>{{ item.empresa | titlecase }}</td>
                  <td>{{ item.area | titlecase }}</td>
                  <td style="text-align: right;">{{ item.celular }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.create_at | date: 'dd-MM-yyyy' }}</td>
                  <td>{{ item.update_at | date: 'dd-MM-yyyy' }}</td>
                  <td>
                    <span *ngIf="item.firma" class="label-table label-activo" style="font-size: 0.8em;">Con firma</span>
                    <span *ngIf="!item.firma" class="label-table label-inactivo" style="font-size: 0.8em;">Sin
                      firma</span>
                  </td>
                  <td>
                    <span *ngIf="item.estado" class="label-table label-activo" style="font-size: 0.8em;">Activo</span>
                    <span *ngIf="!item.estado" class="label-table label-inactivo"
                      style="font-size: 0.8em;">Bloqueado</span>
                  </td>
                  <td>
                    <div class="buttons-operaciones ">
                      <button [routerLink]="['/administracion/usuarios/form-usuario',item.id]">
                        <fa-icon [icon]="editIcon"></fa-icon> Editar
                      </button>
                      <button (click)="verContratos(item)">
                        <fa-icon [icon]="verIcon"></fa-icon> Ver Contratos
                      </button>
                      <button (click)="eliminar(item)" [disabled]="item.id===1" class="delete-button">
                        <fa-icon [icon]="trashICon"></fa-icon>Eliminar
                      </button>
                      <button class="ui button generic-color" (click)="estadoAccion(item)">{{ item.estado ? 'Bloquear' :
                        'Activar' }}</button>
                      <button class="ui button generic-color" (click)="firmaAccion(item)">{{ item.firma ? 'Actualizar
                        Firma' : 'Cargar Firma' }}</button>
                      <button class="ui button generic-color" (click)="administrarPerfiles(item)">Administrar
                        perfiles</button>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                  En total hay {{ usersTableData ? usersTableData.length : 0 }} elementos.
                </div>
              </ng-template>
            </p-table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Eliminar usuario" [visible]="displayModalDeleteUser" [closable]="false"
  (onHide)="closeModalDeleteUser()" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col">
      <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea eliminar este
        Usuario?</p>
      <div style="padding: 0 9rem 0 9rem;">
        <div class="row">
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="col">
            <button pButton type="button" (click)="DeleteUsuario()" label="Si, eliminar el usuario" icon="pi pi-trash"
              class="p-button-sm mt-5 float-right" id="delete-user-button" style="    background: #ffb6b6;
              border: #b36161;
              margin-left: 10px;
              color: #412727;"></button>&nbsp;
            <button pButton type="button" (click)="closeModalDeleteUser()" label="Cancelar"
              class="p-button-sm mt-5 float-right" id="close-delete-user-button" style="background: #b8b6b6;
              border: gray;"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer></p-footer>
</p-dialog>

<p-dialog [visible]="displayModalActivarUser" [closable]="false" (onHide)="closeModalActivarUser()" [modal]="true"
  [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col">
      <p style="font-size:20px;font-weight: 500;color:#003049;text-align: center;">¿Está seguro que desea
        {{txt_activar}} este Usuario?</p>
      <div style="padding: 0 9rem 0 9rem;">
        <div class="row">
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="col">
            <button pButton *ngIf="txt_activar==='bloquear'" type="button" (click)="ActivarUsuario()" label="Si "
              icon="pi pi-ban" class="p-button-sm mt-5 float-right" id="activate-user-button" style="    background: #ffb6b6;
              border: #b36161;
              margin-left: 10px;
              color: #412727;"></button>
            <button pButton *ngIf="txt_activar==='activar'" type="button" (click)="ActivarUsuario()" label="Si "
              icon="pi pi-check" class="p-button-sm mt-5 float-right" id="activate-user-button" style="        background: #b6d6ff;
              border: #6181b3;
              margin-left: 10px;
              color: #272b41;"></button>
            <button pButton type="button" (click)="closeModalActivarUser()" label="Cancelar"
              class="p-button-sm mt-5 float-right" id="close-delete-user-button" style="background: #b8b6b6;
              border: gray;"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer></p-footer>
</p-dialog>

<p-dialog [(visible)]="displayModalVerContratos" [closable]="true" (onHide)="closeModalVerContratos()" [modal]="true"
  [draggable]="false" [resizable]="false">
  <p-listbox [options]="contratosUser$|async" [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}"
    optionDisabled="inactive" [disabled]="true">
    <ng-template let-contrato pTemplate="item">
      {{contrato.model_contrato_id.nombre}}
    </ng-template>
  </p-listbox>
</p-dialog>

<p-dialog [(visible)]="displayModalFirma" [closable]="true" (onHide)="closeModalFirma()" [modal]="true"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">Adjuntar Firma</ng-template>
  <form novalidate autocomplete="off" [formGroup]="form">
    <p-fileUpload chooseLabel="Agregar documento" name="demo[]" #filesform auto="true"
      (uploadHandler)="onUpload($event)" (onRemove)="onDeleteFile($event)" customUpload="true"
      accept=".jpeg,.pjpeg,.png" maxFileSize="50000000">
    </p-fileUpload>

    <label style="color: #464646;font-weight: 400;">
      <strong style="margin-left: 7px;margin-right: 7px;">Extensiones permitidas:</strong>
      <!-- <span style="word-spacing: 5px">.docx .doc .gif .json .jpeg .pjpeg .png .txt .pdf .gzip .zip .rar .7zip zip .dwg .csv .xls .ppt .pptx </span> -->
      <span style="word-spacing: 5px">.jpeg,.pjpeg,.png</span>
    </label>
  </form>
  <p-footer>
    <button pButton type="button" (click)="EnviarFirma()" label="Guardar" icon="pi pi-plus"
      class="p-button-sm mt-5 float-right" id="addFirma-button" style="        background: #b6d6ff;
    border: #6181b3;
    margin-left: 10px;
    color: #272b41;"></button>
    <button pButton type="button" (click)="closeModalFirma()" label="Cancelar" class="p-button-sm mt-5 float-right"
      id="close-addFirma-button" style="background: #b8b6b6;
    border: gray;"></button>
  </p-footer>
</p-dialog>