<div class="container-box">
    <h1>Validación del resultado ingeniería</h1>

    <p-divider align="center">
        <span class="p-tag">Autorizar Ingeniería</span>
    </p-divider>
    <div class="card">
        <div class=" grid">
            <div class="field col-12 table-autorizar-adicionales">
                <zwc-table-servicios #tableServiciosAutorizarAdicionales mode_source="static"
                    [data_source]="dataCubicacionIngenieria" [cantidad_editable]="false" [column_acciones]="true"
                    [accion_delete]="false" [accion_aprobacion_servicio_adic]="true" [contratoMarco]="contrato">
                </zwc-table-servicios>
            </div>

        </div>
    </div>

    <p-divider align="center"></p-divider>


    <div class="card">
        <div class=" grid">
            <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <button pButton pRipple type="button" id="button-atrás" class="p-button-outlined"
                    [routerLink]="['/ot']">
                    Atrás
                </button>
            </div>
            <div *ngIf="accionExist('OT_AUTORIZAR_RESULTADO_ING') && serviciosAdicionalesAprobados() "
                class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="validar-acta-button" content="Validar" icon="ok"
                    Pclass="p-button-info p-button-sm mt-4 w-full" (click)="displayModalAprobacion=true">
                </zwc-pbutton-sending>
            </div>
            <div *ngIf="accionExist('OT_AUTORIZAR_RESULTADO_ING')" class="field col-12 md:col-4 lg:col-4 xl:col-4">
                <zwc-pbutton-sending Pid="rechazar-button" content="Rechazar" icon="nok"
                    Pclass="p-button-info p-button-sm mt-4 w-full bg-red-500 hover:bg-red-300"
                    (click)="displayModalRechazar()">
                </zwc-pbutton-sending>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
<p-dialog header="Rechazo del resultado ingeniería" [(visible)]="showModalRechazar" [draggable]="false" [modal]="true">
    <form [formGroup]="formRechazo">

        <div class="row">
            <div class="col">
                <label for="">* Motivo</label>

            </div>
            <div class="col">
                <textarea formControlName="motivo" class="form-control" placeholder="" name="observaciones"
                    id="observaciones" cols="30" rows="2"></textarea>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
            (click)="closeModalRechazar()">
            Cancelar
        </button>
        <button pButton type="button" id="button-confirmar" (click)="rechazar()">
            Rechazar
        </button>
    </ng-template>
</p-dialog>

<p-dialog header="Confirmar aprobación del resultado de ingeniería" [(visible)]="displayModalAprobacion"
    [draggable]="false" [modal]="true">
    Order de trabajo ID: {{ot_id}}
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" id="button-cancelar" class="p-button-outlined"
            (click)="displayModalAprobacion=false">
            Cancelar
        </button>
        <button pButton type="button" id="button-confirmar" (click)="displayModalOT=true">
            Aprobar como Construcción
        </button>
        <button pButton type="button" id="button-confirmar" (click)="displayModalAP=true">
            Aprobar como Ingeniería
        </button>
    </ng-template>
</p-dialog>

<p-dialog header="Confirmar aprobar como Construcción" [(visible)]="displayModalOT" [draggable]="false" [modal]="true">
    <zwc-view-confirmacion pregunta='¿Desea confirmar la aprobación como contrucción?' (cancelar)="displayModalOT=false"
        (confirmar)="aprobarComoOT()" textConfirmar="Enviar">
    </zwc-view-confirmacion>
</p-dialog>

<p-dialog header="Confirmar aprobar como Ingeniería" [(visible)]="displayModalAP" [draggable]="false" [modal]="true">
    <zwc-view-confirmacion pregunta='¿Desea confirmar la aprobación como contrucción ingeniería?'
        (cancelar)="displayModalAP=false" (confirmar)="aprobarComoAP()" textConfirmar="Enviar">
    </zwc-view-confirmacion>
</p-dialog>