<div class="container-box">
    <h1>Validación del resultado ingeniería</h1>


</div>
<!-- <p-dialog header="Confirmar envío del resultado de ingeniería" [(visible)]="displayModalEnvioResultadoIngenieria"
    [draggable]="false" [modal]="true">
    Order de trabajo ID: {{ot_id}}
    <zwc-view-confirmacion pregunta='¿Desea confirmar el envío del resultado de ingeniería?'
        (cancelar)="displayModalEnvioResultadoIngenieria=false" (confirmar)="enviarResultadoIngenieria()"
        textConfirmar="Enviar">
    </zwc-view-confirmacion>
</p-dialog> -->