<p-card>
  <span *ngIf="waitAP">
    <p-message severity="info" text="A la espera de aprobación por parte del gestor"></p-message>&nbsp;
  </span>

  <div class="info">
    <span class="info-title">
      INFO
    </span>
    <div class="data-info">
      <div class="box box-1"></div>
      <span style="margin-left: 5px;">Cambios realizados en esta sesion</span>
    </div>
    <div class="data-info">
      <div class="box box-2"></div>
      <span style="margin-left: 5px;">Valor informado es diferente al pendiente</span>
    </div>
  </div>


  <p-tabView>
    <p-tabPanel header="LPUs">
      <div class="col">
        <div class="row">
          <form [formGroup]="form" style="width: 100%;">
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th colspan="14" style="background: #00507a;
                        color: white;
                        text-align: center;">Mano de obra/Lpus</th>
                </tr>
                <tr>
                  <th rowspan="2">N°</th>
                  <th rowspan="2">Cor</th>
                  <th rowspan="2">Plano</th>
                  <th rowspan="2">Direccion</th>
                  <th rowspan="2">Clave</th>
                  <th rowspan="2">Código</th>
                  <th rowspan="2">Descrición</th>
                  <th rowspan="2">U.M</th>
                  <th colspan="4" style="background: #dfdfdf;
                        text-align: center;">
                    Cantidad
                  </th>
                  <th colspan="2" style="background: #dfdfdf;
                  text-align: center;">
                    Costos
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Cub.</th>
                  <th rowspan="2">
                    <span>Apr</span>
                  </th>
                  <th rowspan="2">Pend.</th>
                  <th rowspan="2">Inf.</th>

                  <th>P. unidad</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody formArrayName="table">
                <tr *ngFor="let car of dataInformeAvance$|async; let i = index" [formGroupName]="i">
                  <td>{{i+1}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{car.lpu_numero_producto}}</td>
                  <td>{{car.lpu_nombre}}</td>
                  <td></td>
                  <!-- Cub. -->
                  <td>{{car.cantidad_cubicada}}</td>
                  <!-- Apr. -->
                  <td>{{car.cantidad_aprobada_historica}}</td>
                  <!-- Pend. -->
                  <td>{{car.cantidad_pendiente}}</td>
                  <!-- inf. -->
                  <td>
                    <input appInputColor [formControl]="formCntl(i)" min="0" type="number" style="width: 37px;">
                    <div *ngIf="formCntl(i).invalid && (formCntl(i).dirty || formCntl(i).touched)">
                      <p-message severity="error" text="{{ errorMessageFn(formCntl(i).errors) }}"></p-message>
                    </div>
                  </td>
                  <td style="text-align: right;">{{car.LpuPrecio| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
                  <td style="text-align: right;">{{car.LpuPrecio * formCntl(i).value| currency : 'CLP' : '$':'.0-2':'es-CL' }}</td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="row" style="justify-content: center;padding: 18px;
        padding-bottom: 8px;">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td style="border: 0px !important;font-size: 21px;
                FONT-WEIGHT: 600;">Total:</td>
              <td style="border: 0px !important;font-size: 20px">{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Unidades de Obra">
      <form>
        <table>
          <thead>
            <tr>
              <th colspan="13" style="background: #00507a;
                        color: white;
                        text-align: center;">Unidades de obra</th>
            </tr>
            <tr>
              <th rowspan="2">Cor</th>
              <th rowspan="2">Plano</th>
              <th rowspan="2">Direccion</th>
              <th rowspan="2">Clave</th>
              <th rowspan="2">Código</th>
              <th rowspan="2">Descrición</th>
              <th rowspan="2">U.M</th>
              <th colspan="4" style="background: #dfdfdf;
                        text-align: center;">
                Cantidad
              </th>
              <th colspan="2" style="background: #dfdfdf;
              text-align: center;">
                Costos
              </th>
            </tr>
            <tr>
              <th rowspan="2">Cub.</th>
              <th rowspan="2">
                <span>Apr</span>
              </th>
              <th rowspan="2">Pend.</th>
              <th rowspan="2">Inf.</th>

              <th>P. unidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Materiales">
    </p-tabPanel>
  </p-tabView>

  <div class="resumen">
    <br>
    <h1>Resumen</h1>
    <table>
      <tbody>
        <tr>
          <td>LPUs</td>
          <td>{{lpusTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td>Unidades de obra</td>
          <td>{{unidadesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td>Materiales</td>
          <td>{{materialesTotal| currency : 'CLP' : '$':'.0-2':'es-CL'}}</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong>Total</strong></td>
          <td style="font-size: 14px;"> <strong>{{lpusTotal + unidadesTotal + materialesTotal | currency : 'CLP' : '$':'.0-2':'es-CL'}}</strong></td>
        </tr>
      </tbody>
    </table>

    <br>
    <label for="" style="color:#00507a">Observaciones</label>
    <textarea formControlName="observaciones" class="form-control" placeholder="" name="observaciones" id="observaciones" cols="30" rows="2" disabled></textarea>
    <br>
  </div>



  <ng-template pTemplate="footer">
    <!-- <button class="btn" (click)="rechazarInforme()"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Rechazar</button> -->
    <button class="btn btn-primary" (click)="sendActaConfirmacion()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Generar y enviar Acta</button>
  </ng-template>
</p-card>


<app-modal [display]="DisplayConfirmacionModal" (CloseEvent)="DisplayConfirmacionModal=false">
  <ng-container modal-header-title>Confirmación generación y envio de Acta</ng-container>
  <ng-container modal-content>
    <div class="row">
      ¿Está seguro que desea enviar el acta?
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn" (click)="DisplayConfirmacionModal=false"><em class="pi pi-times-circle mr-1" id="guardar-ot"></em>Cancelar</button>
    <button class="btn btn-primary" (click)="sendInforme()"><em class="pi pi-play mr-1" id="guardar-ot"></em>Si, Enviar acta</button>
  </ng-container>
</app-modal>