.form-content {
  margin-top: 22px;
  margin-left: 10px;
  display: flex;
  .left-form {
    width: 20%;
    margin-right: 28px;
    margin-left: 113px;
    margin-top: 73px;
    .field {
      select {
        width: 100%;
        padding: 9px;
        border-radius: 7px;
        margin-bottom: 32px;
        margin-top: 4px;
      }
    
      label {
        font-size: 16px;
        font-weight: 700;
        margin-left: 10px;
      }

      input{
        width: 100%;
        border: 1px solid #767676;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 15px;
      }
    }
  }
}
